<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}
    {% block stylesheets %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</head>

{% include 'header.html' %}

<body>
    <main class="about" role="main">
        <div class="jumbotron">
            <h1 class="display-2" style="font-weight: 400">Testee</h1>
            <p class="lead">
                This is a place where we try to build some interesting stuff about a
                web system for ALCPT. Hope you can improve your ability of English via
                this system.
            </p>
            <hr class="my-4" />
            <p>
                If you have any suggestions, please leave us a message. Thank you for
                your using.
            </p>
            <a class="btn btn-primary btn-lg" href="#" role="button" onclick="window.location.href='{{ url('Homepage') }}'">Learn more</a>
        </div>

        <hr class="featurette-divider" />
    </main>
</body>

{% include "footer.html" %}

</html>