<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}
    {% block stylesheets %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</head>

{% include 'header.html' %}

<body>
    <main class="about" role="main">
        <!--For 109 year class.-->
        <div class="developer-intro" id="developer109">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <h2>Developer 109.</h2>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="card">
                                        <div class="card-header">Project Manager.</div>
                                        <img src="{{ static('/images/楊家齊.png') }}" class="card-img-top" alt="..." />
                                        <div class="card-body">
                                            <div class="card-title">楊家齊</div>
                                            <p class="card-text">
                                                Some introduction to introduce themselves.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="card">
                                        <div class="card-header">Program Design.</div>
                                        <img src="{{ static('/images/蘇典煒.png') }}" class="card-img-top" alt="..." />
                                        <div class="card-body">
                                            <div class="card-title">蘇典煒</div>
                                            <p class="card-text">
                                                Some introduction to introduce themselves.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="card">
                                        <div class="card-header">UI Design.</div>
                                        <img src="{{ static('/images/傅晴俞.png') }}" class="card-img-top" alt="..." />
                                        <div class="card-body">
                                            <div class="card-title">傅晴俞</div>
                                            <p class="card-text">
                                                Some introduction to introduce themselves.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="card">
                                        <div class="card-header">Product Tester.</div>
                                        <img src="{{ static('/images/陳信綸.png') }}" class="card-img-top" alt="..." />
                                        <div class="card-body">
                                            <div class="card-title">陳信綸</div>
                                            <p class="card-text">
                                                Some introduction to introduce themselves.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="featurette-divider" />
                    </div>
                </div>
            </div>
        </div>

        <!--For 110 year class.-->
        <div class="developer-intro" id="developer110">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <h2>Developer 110.</h2>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="card">
                                        <div class="card-header">Project Manager.</div>
                                        <img src="{{ static('/images/胖呆.png') }}" class="card-img-top" alt="..." />
                                        <div class="card-body">
                                            <div class="card-title">胖呆</div>
                                            <p class="card-text">
                                                Some introduction to introduce themselves.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="card">
                                        <div class="card-header">Program Design.</div>
                                        <img src="{{ static('/images/黃柏豪.jpg') }}" class="card-img-top" alt="..." />
                                        <div class="card-body">
                                            <div class="card-title">黃柏豪</div>
                                            <p class="card-text">
                                                Some introduction to introduce themselves.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="card">
                                        <div class="card-header">UI Design.</div>
                                        <img src="{{ static('/images/賴昱婷.jpg') }}" class="card-img-top" alt="..." />
                                        <div class="card-body">
                                            <div class="card-title">賴昱婷</div>
                                            <p class="card-text">
                                                Some introduction to introduce themselves.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="card">
                                        <div class="card-header">Product Tester.</div>
                                        <img src="{{ static('/images/黃子祐.jpg') }}" class="card-img-top" alt="..." />
                                        <div class="card-body">
                                            <div class="card-title">黃子祐</div>
                                            <p class="card-text">
                                                Some introduction to introduce themselves.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="featurette-divider" />
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-us">
            <div class="container">
                <div class="row">
                    <h3 class="text-muted">Contact Us.</h3>
                </div>

                <hr class="featurette-divider" />
            </div>
        </div>
    </main>
</body>
{% include "footer.html" %}

</html>