{% extends 'new_base.html' %} {% block path %}
<li class="breadcrumb-item active" aria-current="page">{{trans("Achievement List")}}</li>
{% endblock %} {% block content %}
<main class="achievement-list">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 table-responsive-md">


                <div class="album py-5 bg-light">
                    <h4>{{trans("Achievement List")}}</h4>
                    <div class="container">


                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            {% for achievement in completed_achievements %}

                            <div class="col">
                                <div class="card shadow-sm" style="border-radius: 20%; max-width: 100%; display: flex; align-items: center; justify-content: center; margin-bottom:20px; padding-top: 20px;">

                                    {% if achievement.achievement.trophy.url %}
                                    <img width="200px" height="200px" src=" {{ achievement.achievement.trophy.url }}" alt="{{ achievement.achievement.name }}" />
                                    {% else %}
                                    <rect width="100%" height="100%" fill="green" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ achievement.achievement.name }}</text>
                                    {% endif %}

                                    <div class="card-body">
                                        <p class="card-text">《 {{ achievement.achievement.name }} 》</p>
                                        <p class="card-text">{{ achievement.achievement.key }}</p>
                                        <div class="d-flex justify-content-between align-items-center">

                                            <button type="button" class="btn btn-sm btn-outline-secondary">{{trans("view")}}</button>


                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}

                            {% for achievement in received_achievements %}

                            <div class="col">
                                <div class="card shadow-sm" style="border-radius: 20%; max-width: 100%; display: flex; align-items: center; justify-content: center; margin-bottom:20px; padding-top: 20px;">

                                    {% if achievement.achievement.trophy.url %}
                                    <img width="200px" height="200px" style="opacity: 50%" src=" {{ achievement.achievement.trophy.url }}" alt="{{ achievement.achievement.name }}" />
                                    {% else %}
                                    <rect width="100%" height="100%" fill="green" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ achievement.achievement.name }}</text>
                                    {% endif %}

                                    <div class="card-body">
                                        <p class="card-text">《 {{ achievement.achievement.name }} 》</p>
                                        <p class="card-text">{{ achievement.achievement.key }}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">{{trans("view")}}</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}

                            {% for achievement in unreceived_achievements %}

                            <div class="col">
                                <div class="card shadow-sm" style="border-radius: 20%; max-width: 100%; display: flex; align-items: center; justify-content: center; margin-bottom:20px; padding-top: 20px;">

                                    {% if achievement.trophy.url %}
                                    <img width="200px" height="200px" style=" -webkit-filter:blur(2px)grayscale(1); opacity: 50%" src=" {{ achievement.trophy.url }}" alt="{{ achievement.name }}" />
                                    {% else %}
                                    <rect width="100%" height="100%" fill="green" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ achievement.name }}</text>
                                    {% endif %}

                                    <div class="card-body">
                                        <p class="card-text">《 {{ achievement.name }} 》</p>
                                        <p class="card-text"> {{ achievement.key }}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">{{trans("view")}}</button>
                                                <button type="button" class="btn btn-sm btn-outline-primary" onclick="window.location.href='{{ url('accept_achievement', args=[achievement.id, achievement.category]) }}'">{{trans("Accept")}}</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</main>
{% endblock %}