{% extends 'new_base.html' %} {% block path %}
<li class="breadcrumb-item active" aria-current="page">{{trans("Acheivement List")}}</li>
{% endblock %} {% block content %}
<main class="achievement-list">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 table-responsive-md">

                <h2>{{trans("Unreceived Achievement List")}}</h2>

                <table class="table table-hover table-bordered table-striped table-mc-light-blue">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center">{{trans("Badge")}}</th>
                            <th class="text-center">{{trans("Achievement Name")}}</th>
                            <th class="text-center">{{trans("Key")}}</th>
                            <th class="text-center">{{trans("Description")}}</th>
                            <th class="text-center">{{trans("Point")}}</th>
                            <th class="text-center">{{trans("Level")}}</th>
                            <th class="text-center">{{trans("completion")}}</th>
                            <th class="text-center">{{trans("Accept")}}</th>


                        </tr>
                    </thead>

                    <tbody>
                        <div class="add-secret">
                            <button type="button" class="btn btn-secondary">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        {% if unreceived_achievements %} {% for achievement in unreceived_achievements %}
                        <tr style="cursor: pointer">
                            <td class="text-center" data-title="Badge">

                            </td>
                            <td class="text-center" data-title="Name">
                                {{ achievement.name }}
                            </td>
                            <td class="text-center" data-title="key">
                                {{ achievement.key }}
                            </td>
                            <td class="text-center" data-title="description">
                                {{ achievement.description }}
                            </td>
                            <td class="text-center" data-title="Point">
                                {{ achievement.point }}
                            </td>
                            <td class="text-center" data-title="level">
                                {{ achievement.level }}
                            </td>
                            <td class="text-center" data-title="completion">
                                {{ achievement.completion }}
                            </td>

                            <td>
                                <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url('accept_achievement', args=[achievement.id, achievement.category]) }}'">
                                    Accept
                                </button>
                            </td>

                        </tr>
                        {% endfor %} {% else %}
                        <tr>
                            <td class="text-center" colspan="8">{{trans("No Achievement")}}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>

                <h2>{{trans("Received Achievement List")}}</h2>

                <table class="table table-hover table-bordered table-striped table-mc-light-blue">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center">{{trans("Badge")}}</th>
                            <th class="text-center">{{trans("Achievement Name")}}</th>
                            <th class="text-center">{{trans("Key")}}</th>
                            <th class="text-center">{{trans("Description")}}</th>
                            <th class="text-center">{{trans("Point")}}</th>
                            <th class="text-center">{{trans("Level")}}</th>
                            <th class="text-center">{{trans("completion")}}</th>


                        </tr>
                    </thead>

                    <tbody>
                        <div class="add-secret">
                            <button type="button" class="btn btn-secondary">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        {% if received_achievements %} {% for achievement in received_achievements %}
                        <tr style="cursor: pointer">
                            <td class="text-center" data-title="Badge">

                            </td>
                            <td class="text-center" data-title="Name">
                                {{ achievement.name }}
                            </td>
                            <td class="text-center" data-title="key">
                                {{ achievement.key }}
                            </td>
                            <td class="text-center" data-title="description">
                                {{ achievement.description }}
                            </td>
                            <td class="text-center" data-title="Point">
                                {{ achievement.point }}
                            </td>
                            <td class="text-center" data-title="level">
                                {{ achievement.level }}
                            </td>
                            <td class="text-center" data-title="completion">
                                {{ achievement.completion }}
                            </td>

                        </tr>
                        {% endfor %} {% else %}
                        <tr>
                            <td class="text-center" colspan="8">{{trans("No Data")}}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>

                <h2>{{trans("Completed Achievement List")}}</h2>

                <table class="table table-hover table-bordered table-striped table-mc-light-blue">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center">{{trans("Badge")}}</th>
                            <th class="text-center">{{trans("Achievement Name")}}</th>
                            <th class="text-center">{{trans("Key")}}</th>
                            <th class="text-center">{{trans("Description")}}</th>
                            <th class="text-center">{{trans("Point")}}</th>
                            <th class="text-center">{{trans("Level")}}</th>
                            <th class="text-center">{{trans("completion")}}</th>


                        </tr>
                    </thead>

                    <tbody>
                        <div class="add-secret">
                            <button type="button" class="btn btn-secondary">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        {% if completed_achievements %} {% for achievement in completed_achievements %}
                        <tr style="cursor: pointer">
                            <td class="text-center" data-title="Badge">

                            </td>
                            <td class="text-center" data-title="Name">
                                {{ achievement.name }}
                            </td>
                            <td class="text-center" data-title="key">
                                {{ achievement.key }}
                            </td>
                            <td class="text-center" data-title="description">
                                {{ achievement.description }}
                            </td>
                            <td class="text-center" data-title="Point">
                                {{ achievement.point }}
                            </td>
                            <td class="text-center" data-title="level">
                                {{ achievement.level }}
                            </td>
                            <td class="text-center" data-title="completion">
                                {{ achievement.completion }}
                            </td>


                        </tr>
                        {% endfor %} {% else %}
                        <tr>
                            <td class="text-center" colspan="8">{{trans("No Data")}}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}