{% extends 'new_base.html' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ static('/css/testee/answering.css') }}" />
{% endblock %}

{% block scripts %}
<script src="{{ static('/javascript/testee/answering.js') }}"></script>
{% endblock %}


{% block path %}
<li class="breadcrumb-item active" aria-current="page">{{trans("Answering")}}...</li>
{% endblock %}

{% block content %}

<main class="answering-page">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-12">
                <h4>{{trans("Question Number")}}</h4>
                <table>
                    <tr>
                        {% for answer in answers %}
                        <td>
                            {% if answer.selected != -1 and answer.id == selected_answer.id%}
                            <div class="bit one">
                                <a href=" {{ url('testee_answering', args=[exam.id, answer.id]) }}">{{ loop.index }}</a>
                            </div>
                            {% elif answer.selected != -1 %}
                            <div class="bit two">
                                <a href=" {{ url('testee_answering', args=[exam.id, answer.id]) }}">{{ loop.index }}</a>
                            </div>
                            {% elif answer.id == selected_answer.id %}
                            <div class="bit three">
                                <a href=" {{ url('testee_answering', args=[exam.id, answer.id]) }}">{{ loop.index }}</a>
                            </div>
                            {% else %}
                            <div class="bit">
                                <a href="{{ url('testee_answering', args=[exam.id, answer.id]) }}">{{ loop.index }}</a>
                            </div>
                            {% endif %}
                        </td>
                        {% if loop.index % 10 == 0 %}
                    </tr>
                    <tr>
                        {% endif %} {% endfor %}
                    </tr>
                </table>
            </div>
            <div class="space">

            </div>

            <div class="col-lg-8 col-md-12 table-responsive">
                <h2>{{trans("Answering")}}</h2>
                <form action="{{ url('testee_answering', args=[exam.id, answer.id]) }}" method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

                    <table>

                        <tr>
                            {% if answer.question.q_type|question_kind == 'listening' %}
                            <td>
                                <audio controls preload="none">
                                    <source src="{{ answer.question.q_file.url }}" type="audio/mpeg" />
                                    {{trans("Your browser does not support the audio tag")}}
                                </audio>
                            </td>

                            {% elif answer.question.q_type|question_kind == 'reading' %}

                            <!-- <td>
                                <span style="width: inherit;
                                height: inherit;
                                background-color: white;
                                opacity: 0;
                                position: absolute;">{{ answer.question }}</span>
                                {{ answer.question }}

                            </td> -->
                            <td>
                                <button type="button" class="btn btn-lg text-left">{{ answer.question }}</button>
                            </td>
                            {% else %}
                            <td>
                                Unknown
                            </td>
                            {% endif %}
                        </tr>


                        <tr>
                            <td>

                                {% for option in answer.question.choice_set.all() %}

                                {% if loop.index == answer.selected %}
                                <button type=" submit" class="btn btn-primary btn-lg " name="answer_{{ answer.id }}" value="{{ loop.index }}">{{ loop.index }}. {{ option }} </button>
                                <br />
                                {% else %}

                                <button type="submit" class="btn btn-outline-primary btn-lg " name="answer_{{ answer.id }}" value="{{ loop.index }}">{{ loop.index }}. {{ option }}
                                </button>
                                <br />
                                {% endif %}

                                {% endfor %}

                            </td>

                        </tr>
                    </table>
                </form>
                {% if answer_count == 0 %}
                <button type="submit" class="btn btn-outline-success float-right" onclick="window.location.href='{{ url('submit_answersheet', args=[exam.id]) }}'">{{trans("Submit")}}</button>
                {% endif %}
                <button type="button" class="btn btn-secondary float-right" onclick="window.location.href='{{ url('testee_exam_list') }}'">
                    {{trans("Leave")}}
                </button>
            </div>
        </div>
    </div>
</main>

{% endblock %}