{% extends 'new_base.html' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ static('/css/testee/answersheet_content.css') }}" />
{% endblock %}

{% block scripts %}
<script src="{{ static('/javascript/toggle.js') }}"></script>
{% endblock %}

{% block path %}
<li class="breadcrumb-item" aria-current="page">
    <a href="{{ url('testee_score_list') }}">Score List</a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    View Test paper Content
</li>
{% endblock %} {% block content %}
<main class="testee-score-list">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th scope="col">Serial.</th>
                                <th scope="col">Content.</th>
                                <th scope="col" class="text-right">
                                    <button type="button" class="btn" data-toggle="modal" data-target="#promptContent">
                                        <i class="fa fa-question-circle"></i>
                                    </button>
                                    <div class="modal fade text-left" id="promptContent" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h5 class="modal-title" id="ModalLongTitle">Tips</h5>
                                                </div>

                                                <div class="modal-body">
                                                    <ul>
                                                        <li>
                                                            <p>
                                                                If your <u>answer is correct</u>, then it will
                                                                display only one color in all choices and there
                                                                will display
                                                                <i class="fa fa-check"></i>
                                                                behind the question.
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p>
                                                                If you <u>didn't answer the question</u>, then
                                                                it will display only one color in all choices
                                                                and also display
                                                                <i class="fa fa-question"></i>
                                                                behind the question.
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p>
                                                                The question has been reported as an error, but
                                                                after processing by the TBManager, then it will
                                                                display
                                                                <i class="fa fa-exclamation-circle"></i>
                                                                behind the question.
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p style="color: red">
                                                                Red color means you selected the wrong answer
                                                                on the exam.
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p style="color: green">
                                                                Green color means the correct answer.
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p>
                                                                If you think there is a problem with the
                                                                question, you can click
                                                                <i class="fa fa-exclamation-triangle"></i> to
                                                                report it.
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                                                        OK
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>

                        <tbody>


                            {% for answer, question_correction, favorite in answers_correction_favorites %}
                            <tr id="mainData{{ loop.index }}">
                                <td id="angle_right_btn_{{ loop.index }}" onclick="toggle('{{ loop.index }}')" style="cursor: pointer;"><i class="fa fa-angle-right"></i></td>
                                <td>{{ loop.index }}</td>
                                <td class="text-left">
                                    {% if answer.question.q_file %}
                                    <audio controls preload="none">
                                        <source src="{{ answer.question.q_file.url }}" type="audio/mpeg">
                                        Your browser does not support the audio tag.
                                    </audio>
                                    {% else %}
                                    <div id="summary_Q_content{{ loop.index }}">
                                        {{ answer.question.q_content|summary(110) }}
                                    </div>
                                    <div id="full_Q_content{{ loop.index }}" style="display: none">
                                        {{ answer.question.q_content|linebreaksbr }}
                                    </div>
                                    {% endif %}
                                </td>
                                <td class="text-right">
                                    <!-- <p>{{ answer.question.difficulty | readable_question_difficulty }}</p> -->
                                    {% if answer.question.state == 5 %}
                                    <i class="fa fa-exclamation-circle"></i>
                                    {% elif answer.selected == -1 %}
                                    <i class="fa fa-question"></i>
                                    {% else %}
                                    {% if question_correction %}
                                    <i class="fa fa-check"></i>
                                    {% else %}
                                    <i class="fa fa-times"></i>
                                    {% endif %}
                                    {% endif %}
                                    {% if favorite %}
                                    <a href="{{ url('favorite_question', args=[answer.question.id, answersheet.id]) }}"><i class="fas fa-heart"></i></a>
                                    {% else %}
                                    <a href="{{ url('favorite_question', args=[answer.question.id, answersheet.id]) }}"><i class="far fa-heart"></i></a>
                                    {% endif %}
                                </td>
                            </tr>

                            <tr id="detailData{{ loop.index }}" style="display: none">
                                <td></td>
                                <td colspan="2" style="text-align: left">
                                    <ol type="A">
                                        {% for option in answer.question.choice_set.all() %}
                                        {% if answer.selected == loop.index and option.is_answer %}
                                        <span style="color: green">
                                            <li>{{ option }}</li>
                                        </span>
                                        {% elif answer.selected == loop.index %}
                                        <span style="color: red">
                                            <li>{{ option }}</li>
                                        </span>
                                        {% elif option.is_answer %}
                                        <span style="color: green">
                                            <li>{{ option }}</li>
                                        </span>
                                        {% else %}
                                        <li>{{ option }}</li>
                                        {% endif %} {% endfor %}
                                    </ol>
                                </td>
                                <td class="text-right">
                                    {% if answer.question.state == 5 %}
                                    <i class="btn btn-outline-success" style="cursor: pointer" onclick="alert('This question had been modified.')"></i>
                                    {% else %}
                                    <i class="fa fa-exclamation-triangle" style="cursor: pointer" onclick="window.location.href='{{ url('report_question', args=[answer.question.id]) }}'"></i>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="col-md-6">
                <h3>成績考核</h3>

                <table class="table table-hover table-striped">

                    <tbody>
                        <tr>
                            <td class="text-center">你的成績：</td>
                            <td class="text-left">{{ answersheet.score }}</td>
                        </tr>
                        {% if answersheet.exam.exam_type == 1 and testee_count > 1%}
                        <tr>
                            <td class="text-center">本次測驗總平均：</td>
                            <td class="text-left">{{ exam_average_score }}</td>
                        </tr>
                        <tr>
                            <td class="text-center">考生人數：</td>
                            <td class="text-left">{{ testee_count }}</td>
                        </tr>
                        <tr>
                            <td class="text-center">名次：</td>
                            <td class="text-left">{{ rank }}</td>
                        </tr>
                        <tr>
                            <td class="text-center">PR：</td>
                            <td class=" text-left">{{ PR }}</td>
                        </tr>
                        {% endif %}

                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                {% autoescape off %}
                {{ correction_bar_chart }}
                {% endautoescape %}
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url('testee_score_list') }}'">OK</button>
            </div>
        </div>
    </div>

</main>

{% endblock %}