{% extends 'base.html' %}

{% load web_filters %}

{% block path %}

{% endblock %}

{% block content %}
    <div class="table-responsive">
        <form action="{% url 'testee_answering' exam.id answer.id %}" method="post">
        {% csrf_token %}
            <table class="table table-hover">
                <thead class="title">
                    <tr>
                        <th class="col-md-3">題目</th>
                        <th class="col-md-2">選項</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% if answer.question.q_type|question_kind == 'listening' %}
                            <td style="text-align: center; vertical-align:middle;">
                                <audio controls preload="none">
                                    <source src="{{ answer.question.q_file }}" type="audio/mpeg">
                                    Your browser does not support the audio tag.
                                </audio>
                            </td>
                        {% elif answer.question.q_type|question_kind == 'reading' %}
                            <td style="vertical-align:middle;">{{ answer.question }}</td>
                        {% else %}
                            <td style="vertical-align:middle;">Unknown</td>
                        {% endif %}

                        {% for option in answer.question.choice_set.all %}
                            <td style="vertical-align:middle;">
                                <input type="radio" name="answer_{{ answer.id }}" value="{{ forloop.counter }}" {% if forloop.counter == answer.selected %}checked{% endif %} required>{{ option }}
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>

            <style>
                .table-responsive .table{
                    text-align: center;
                    position: absolute;
                    top: 30px;
                }

                .table-hover > tbody > tr:hover > td,
                .table-hover > tbody > tr:hover > th {
                    background-color: #4CCABD;
                }

                .title{
                    font-size: 30px;
                }

                .title tr th{
                    text-align: center;
                }

                .table tbody{
                    font-size: 25px;
                }

                .table tbody td a{
                    color: #2C3232;
                }

            </style>

            <div class="btn">
                <input type="submit" value="下一題">

                <style>
                    .btn input{
                        font-size: 25px;
                        padding: 10px;
                        padding-left: 15px;
                        padding-right: 15px;
                        color: #FFFEF6;
                        background-color: #4CCABD;
                        border: none;
                        position: absolute;
                        top: 85%;
                        left: 45%;
                    }
                </style>
            </div>

        </form>
    </div>

    <div class="page">
        <ul class="pagination pagination-lg">
            <li>
                {% for answer in answers %}
                    {% if answer.selected != -1 %}
                        <a href="{% url 'testee_answering' exam.id answer.id %}" style="color: red;">{{ forloop.counter }}</a>
                    {% else %}
                        <a href="{% url 'testee_answering' exam.id answer.id %}">{{ forloop.counter }}</a>
                    {% endif %}
                {% endfor %}
            </li>
        </ul>

        <style>
            .page{
                position: absolute;
                top: 70%;
                left: 35%;
            }
        </style>
    </div>


{% endblock %}