{% extends 'new_base.html' %}

{% load web_filters %}

{% block path %}
    <li class="breadcrumb-item active" aria-current="page">Exam Record</li>
{% endblock %}

{% block content %}
    <main class="exam-record">
        <div class="container">
            <ul class="nav nav-tabs" id="newTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="practice-tab" data-toggle="tab" href="#practice" role="tab" aria-controls="practice" aria-selected="true">Practice.</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="exam-tab" data-toggle="tab" href="#exam" role="tab" aria-controls="exam" aria-selected="false">Exam.</a>
                </li>
            </ul>

            <div class="tab-content" id="tabContent">
                <div class="tab-pane fade show active" id="practice" role="tabpanel" aria-labelledby="practice-tab">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <h2>Practice Record List.</h2>

                                <div class="table-responsive-md">
                                    <table class="table table-hover table-bordered table-striped table-mc-light-blue">
                                        <thead class="thead-light">
                                            <tr>
                                                <th class="text-center">Name.</th>
                                                <th class="text-center">Type.</th>
                                                <th class="text-center">Other.</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for exam in practiceList %}
                                                <tr>
                                                    <td class="text-center" data-title="Name">{{ exam }}</td>
                                                    <td class="text-center" data-title="Type">{{ exam.exam_type|readable_exam_type }}</td>
                                                    <td class="text-center" data-title="Other">
                                                        {% if not exam|is_finished:request.user %}
                                                            <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'testee_start_exam' exam.id %}'">Start.</button>
                                                            <button type="button" class="btn btn-danger" onclick="window.location.href='{% url 'testee_settle_exam' exam.id %}'">Settle.</button>
                                                        {% else %}
                                                            <button type="button" class="btn btn-success" disabled>Finished.</button>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% empty %}
                                                <tr>
                                                    <td class="text-center" colspan="3">No Data.</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="exam" role="tabpanel" aria-labelledby="exam-tab">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <h2>Exam Record List.</h2>

                                <div class="table-responsive-md">
                                    <table class="table table-hover table-striped table-bordered table-mc-light-blue">
                                        <thead class="thead-light">
                                            <tr>
                                                <th class="text-center">Name.</th>
                                                <th class="text-center">Type.</th>
                                                <th class="text-center">Start Time.</th>
                                                <th class="text-center">Duration.</th>
                                                <th class="text-center">Other.</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for exam in examList %}
                                                <tr>
                                                    <td class="text-center">{{ exam }}</td>
                                                    <td class="text-center">{{ exam.exam_type|readable_exam_type }}</td>
                                                    <td class="text-center">{{ exam.start_time|date:'Y/m/d, H:i' }}</td>
                                                    <td class="text-center">{{ exam.duration }} min.</td>
                                                    <td class="text-center">
                                                        {% if not exam|is_finished:request.user %}
                                                            <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'testee_start_exam' exam.id %}'">Start.</button>
                                                        {% else %}
                                                            <button type="button" class="btn btn-success" disabled>Finished.</button>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% empty %}
                                                <tr>
                                                    <td class="text-center" colspan="5">No Data.</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <style>
        .exam-record .container #tabContent table > tbody > tr > td{
            vertical-align: middle;
        }
    </style>
{% endblock %}