{% extends "base_fixed.html" %}

{% load web_filters %}

{% block content %}
    <h2>{{ exam.name }}</h2>
    <section class="col">
        {% if questions %}
            {% for question in questions %}
                {% if question.question_type is 1 %}
                    {% include 'question/qa/display_alone.html' with question=question show_answer=True %}
                {% elif question.question_type is 2 %}
                    {% include 'question/short_conversation/display_alone.html' with question=question show_answer=True %}
                {% elif question.question_type is 3 %}
                    {% include 'question/grammar/display_alone.html' with question=question show_answer=True %}
                {% elif question.question_type is 4 %}
                    {% include 'question/phrase/display_alone.html' with question=question show_answer=True %}
                {% elif question.question_type is 5 %}
                    {% include 'question/paragraph_understanding/display_alone.html' with question=question show_answer=True %}
                {% endif %}
                <h3>{{ answers }}</h3>
                <h3>{{ answers.8 }}</h3>
                <h3>{{ question.id }}</h3>
                <h3>{{ forloop.counter0 }}</h3>
                <h3>~~{{ counter0 }}</h3>
{#                <h3>{{ answers. forloop.counter0 }}</h3>#}
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}