[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
amqp = "==1.4.9"
billiard = "==3.3.0.23"
celery = "==3.1.26.post2"
dj-database-url = "==0.5.0"
dj-static = "==0.0.6"
django = "==3.1.1"
django-audiofield = "==0.10.0"
django-celery = "==3.3.1"
django-datetimepicker = "==3.14"
django-extensions = "==3.0.8"
django-ranged-response = "==0.2.0"
django-simple-captcha = "==0.5.12"
gunicorn = "==20.0.4"
importlib-metadata = "==1.7.0"
kombu = "==3.0.37"
more-itertools = "==8.5.0"
mysql-connector-python = "==8.0.21"
mysqlclient = "==2.0.1"
protobuf = "==3.13.0"
pytz = "==2020.1"
six = "==1.15.0"
static3 = "==0.7.0"
vine = "==5.0.0"
xlrd = "==1.2.0"
zipp = "==3.1.0"
Pillow = "==7.2.0"
requests = "*"
django-plotly-dash = "*"
channels = "*"
channels-redis = "*"
pandas = "*"
jinja2 = "*"

[requires]
python_version = "3.8"
