{% extends 'base.html' %}

{% load web_filters %}

{% block path %}
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="{% url 'profile' %}">個人資料</a>
    <a class="fa fa-angle-right fa-lg box"></a>
    <a href="">編輯個人資料</a>
{% endblock %}

{% block content %}
    <div>
        <a href="{% url 'profile_edit' user.reg_id %}">編輯個人檔案</a>
        <a href="{% url 'password_change' %}">更改密碼</a>
    </div>

    <div>
        <form action="{% url 'profile_edit' user.reg_id %}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <th>使用者帳號</th>
                    <th>姓名</th>
                    <th>性別</th>
                    <th>權限</th>
                    {% if user.student %}
                        <th>學號</th>
                        <th>年班</th>
                        <th>科系</th>
                        <th>中隊</th>
                    {% endif %}
                    <th>最近登入</th>
                    <th>加入時間</th>
                    <th>狀態</th>
                </tr>
                <tr>
                    <td>{{ user.reg_id }}</td>
                    <td>
                        {% if user.name %}
                            <input type="text" name="name" value="{{ user.name }}" required>
                        {% else %}
                            <input type="text" name="name" required>
                        {% endif %}
                    </td>
                    <td>
                        <select name="gender" required>
                            <option value="" disabled selected>請選擇性別</option>
                            <option value="0" {% if user.gender == 0 %}selected{% endif %}>男</option>
                            <option value="1" {% if user.gender == 1 %}selected{% endif %}>女</option>
                            <option value="2" {% if user.gender == 2 %}selected{% endif %}>不想公開</option>
                        </select>
                    </td>
                    <td>
                        {% if user|has_perms:privileges.SystemManager %}
                            <span>{{ privileges.SystemManager.value.1 }}</span>
                        {% endif %}
                        {% if user|has_perms:privileges.TestManager %}
                            <span>{{ privileges.TestManager.value.1 }}</span>
                        {% endif %}
                        {% if user|has_perms:privileges.TBManager %}
                            <span>{{ privileges.TBManager.value.1 }}</span>
                        {% endif %}
                        {% if user|has_perms:privileges.TBOperator %}
                            <span>{{ privileges.TBOperator.value.1 }}</span>
                        {% endif %}
                        {% if user|has_perms:privileges.Viewer %}
                            <span>{{ privileges.Viewer.value.1 }}</span>
                        {% endif %}
                        {% if user|has_perms:privileges.Testee %}
                            <span>{{ privileges.Testee.value.1 }}</span>
                        {% endif %}
                    </td>
                    {% if user.student %}
                        <td>{{ user.student.stu_id }}</td>
                        <td>
                            <select name="department" required>
                                {% for department in departments %}
                                    <option value="{{ department.id }}" {% if department == user.student.department %}selected{% endif %}>{{ department }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="department" required>
                                {% for squadron in squadrons %}
                                    <option value="{{ squadron.id }}" {% if squadron == user.student.squadron %}selected{% endif %}>{{ squadron }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="number" name="grade" value="{{ user.student.grade }}" required>
                        </td>
                    {% endif %}
                    <td>{{ user.last_login|date:"Y年m月d日, H時i分" }}</td>
                    <td>{{ user.created_time|date:"Y年m月d日, H時i分" }}</td>
                    <td>
                        {% if user.is_active %}
                            <span>is active</span>
                        {% elif user.is_staff %}
                            <span>is staff</span>
                        {% elif user.is_superuser %}
                            <span>is superuser</span>
                        {% endif %}
                    </td>
                </tr>
            </table>

            <input type="submit" value="提交">
        </form>
    </div>
{% endblock %}