{% extends 'new_profile_base.html' %}

{% load web_filters %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'profile' %}">Profile</a></li>
    <li class="breadcrumb-item active" aria-current="page">Email</li>
{% endblock %}

{% block content %}
    <style>
        #email{
            color: rgb(150, 150, 150);
            opacity: 0.3;
        }
    </style>

    <main class="email-verification">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <form action="{% url 'email_verification' %}" method="post">
                        {% csrf_token %}

                        <div class="card">
                            <div class="card-header">Email Verification.</div>

                            <div class="card-body">
                                <h5 class="card-subtitle mb-2 text-muted">Email.</h5>
                                <p class="card-text">
                                    <input type="text" class="form-control" name="verified_email" value="{{ user.email }}" onchange="check_email('{{ user.email }}', this.value)">
                                </p>
                            </div>

                            <footer>
                                <div class="card-footer text-center">
                                    <button type="submit" id="submit" class="btn btn-primary" {% if user.email_is_verified %}disabled{% endif %}>Verify</button>
                                </div>
                            </footer>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript">
        function check_email(origin_email, input_email){
            var submit = document.getElementById('submit');

            if (origin_email === input_email){
                submit.disabled = true;
            }else{
                submit.disabled = false;
            }
        }
    </script>
{% endblock %}