{% extends 'base.html' %}

{% load web_filters %}

{% block path %}
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="{% url 'profile' %}">個人資料</a>
    <a class="fa fa-angle-right fa-lg box"></a>
    <a href="">更改密碼</a>
{% endblock %}

{% block content %}
    <div>
        <a href="{% url 'profile_edit' user.reg_id %}">編輯個人檔案</a>
        <a href="{% url 'password_change' %}">更改密碼</a>
    </div>

    <div>
        <form action="" method="post">
            {% csrf_token %}
            <label for="old_password">舊密碼</label>
            <input type="password" name="old_password">
            <br>
            <label for="new_password">新密碼</label>
            <input type="password" name="new_password">
            <br>
            <label for="verification_password">驗證密碼</label>
            <input type="password" name="verification_password">
            <br>

            <input type="submit" value="更改密碼">
        </form>
    </div>
{% endblock %}