<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %} {% block stylesheets %} {% endblock %} {% block
    scripts %} {% endblock %}
</head>

{% include 'header.html' %}

<body>
    <main class="email_to_reset_password" role="main">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <form method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                        <div class="card">
                            <div class="card-header">Password Reset.</div>

                            <div class="card-body">
                                <h5 class="subtitle mb-2 text-muted">New Password.</h5>
                                <p class="card-text">
                                    <input type="password" name="new_password" class="form-control" />
                                </p>

                                <h5 class="subtitle mb-2 text-muted">
                                    Verification Password.
                                </h5>
                                <p class="card-text">
                                    <input type="password" name="verification_password" class="form-control" />
                                </p>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Reset</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
{% include "footer.html" %}

</html>