{% extends 'new_profile_base.html' %}

{% load web_filters %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'profile' %}">Profile</a></li>
    <li class="breadcrumb-item active" aria-current="page">Password Change</li>
{% endblock %}

{% block content %}
    <style>
        #password_change{
            color: rgb(150, 150, 150);
            opacity: 0.3;
        }
    </style>

    <main class="password-change-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <form action="{% url 'password_change' %}" method="post">
                        {% csrf_token %}
                        <div class="card">
                            <div class="card-header">Password Change.</div>

                            <div class="card-body">
                                <p class="card-text">
                                    Old Password：<input class="form-control" type="password" name="old_password" required>
                                    <label></label>
                                </p>
                                <p class="card-text">
                                    New Password：<input class="form-control" type="password" name="new_password" required>
                                    <label></label>
                                </p>
                                <p class="card-text">
                                    Verification Password：<input class="form-control" type="password" name="verification_password" required>
                                    <label></label>
                                </p>

                                <div class="float-right">
                                    <button type="submit" class="btn btn-primary">Change</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}