{% extends 'profile_base.html' %}

{% load web_filters %}

{% block path %}
    <a href="">檢視個人資料</a>
{% endblock %}

{% block content %}
    <style>
        #profile{
            background-color: #DCDCDC;
        }
    </style>

    <!-- 大頭貼 -->
    <div class="photo">
        <i class="fa fa-user-circle"></i>

        <style>
            .photo{
                position: relative;
                left: 25%;
                top: 25px;
            }

            .photo i{
                font-size: 100px;
                color: #5e5e5e;
            }
        </style>
    </div>

    <!-- 時間資料區塊 -->
    <div class="time-block">
        <div class="time_icon">
            <i class="fa fa-clock-o"></i>
        </div>

        <div class="time">
            <li>最近登入：<br>{{ user.last_login|date:"Y年m月d日, H時i分" }}</li>
            <li style="border-top-style: solid; border-top-color: #adadad; border-top-width: 0.7px;">&nbsp;</li>
            <li>更新時間：<br>{{ user.update_time|date:"Y年m月d日, H時i分" }}</li>
            <li style="border-top-style: solid; border-top-color: #adadad; border-top-width: 0.7px;">&nbsp;</li>
            <li>加入時間：<br>{{ user.created_time|date:"Y年m月d日, H時i分" }}</li>
            <li style="border-top-style: solid; border-top-color: #adadad; border-top-width: 0.7px;">&nbsp;</li>
            <li>狀態：
                {% if user.is_active %}
                    <span>active</span>
                {% elif user.is_staff %}
                    <span>staff</span>
                {% elif user.is_superuser %}
                    <span>superuser</span>
                {% endif %}
            </li>
        </div>

        <style>
            .time-block{
                position: absolute;
                top: 40%;
                left: 23%;

                width: 220px;
            }

            .time_icon{
                position: relative;
                top: 35px;
                left: -10px;

                width: 20px;

                font-size: 22px;
                color: #5e5e5e;
                background-color: #F3F3F3;
            }

            .time{
                color: #5e5e5e;

                border: #c0c0c0 solid 0.7px;
                padding-left: 20px;
                padding-right: 20px;
            }

            .time li{
                list-style: none;
                width: 100%;
                font-size: 14px;
                top: 85%;
            }
        </style>
    </div>

    <!-- 資料區 -->
    <div class="personal_info">
        <table>
            <tr>
                <td class="title">使用者帳號</td>
                <td>{{ user.reg_id }}</td>
            </tr>

            <tr>
                <td class="title">姓名</td>
                <td>{{ user.name }}</td>
            </tr>

            <tr>
                <td class="title">Email</td>
                <td>{{ user.email }} / {% if user.email_is_verified %}<i style="color: green" class="fa fa-check-circle"></i>{% else %}<a href="{% url 'email_verification' %}">驗證{% endif %}</a></td>

            </tr>

            <tr>
                <td class="title">性別</td>
                <td>
                    {% if user.gender == 0 %}
                    男
                    {% elif user.gender == 1 %}
                    女
                    {% elif user.gender == 2 %}
                    不想公開
                    {% else %}
                    尚未設定
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td class="title">身份</td>
                <td>{% if user.identity %}{{ user.identity|readableIdentity }}{% else %}尚未設定{% endif %}</td>
            </tr>

            <tr>
                <td class="title">權限</td>
                <td>
                    {% if user|has_perms:privileges.SystemManager %}
                        <span class="badge alert-danger">{{ privileges.SystemManager.value.1 }}</span>
                    {% endif %}
                    {% if user|has_perms:privileges.TestManager %}
                        <span class="badge alert-warning">{{ privileges.TestManager.value.1 }}</span>
                    {% endif %}
                    {% if user|has_perms:privileges.TBManager %}
                        <span class="badge badge-primary">{{ privileges.TBManager.value.1 }}</span>
                    {% endif %}
                    {% if user|has_perms:privileges.TBOperator %}
                        <span class="badge alert-success">{{ privileges.TBOperator.value.1 }}</span>
                    {% endif %}
                    {% if user|has_perms:privileges.Viewer %}
                        <span class="badge alert-info">{{ privileges.Viewer.value.1 }}</span>
                    {% endif %}
                    {% if user|has_perms:privileges.Testee %}
                        <span class="badge alert-inverse">{{ privileges.Testee.value.1 }}</span>
                    {% endif %}
                </td>
            </tr>

            {% if user.student %}
            <tr style="border-top: solid; border-width: 1px; border-color: rgb(200, 200, 200)">
                <td class="title">學號</td>
                <td>{{ user.student.stu_id }}</td>
            </tr>

            <tr>
                <td class="title">年班</td>
                <td>{{ user.student.grade }}</td>
            </tr>

            <tr>
                <td class="title">科系</td>
                <td>{{ user.student.department }}</td>
            </tr>

            <tr>
                <td class="title">中隊</td>
                <td>{{ user.student.squadron }}</td>
            </tr>
            {% endif %}

        </table>

        <style>
            .personal_info{
                position: relative;
                left: 45%;
                top: -80px;
            }
            .personal_info table{
                width: 50%;

                font-size: 18px;
            }
            .personal_info table td{
                padding: 10px;
            }

            .personal_info .title{
                font-size: 20px;
                width: 25%;
            }
        </style>
    </div>
{% endblock %}
