{% extends 'new_base.html' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ static('/css/registration/report_detail.css') }}" />
{% endblock %}


{% block path %}
<li class="breadcrumb-item" aria-current="page">
    <a href="{{ url('profile') }}">{{trans("Profile")}}</a>
</li>
<li class="breadcrumb-item" aria-current="page">
    <a href="{{ url('report_list') }}">{{trans("Report")}}</a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    {{trans("Report Number")}}#{{ viewed_report.id }}
</li>
{% endblock %} {% block content %}
<main class="reply">
    <div class="original-report-card">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="card">
                        <div class="card-header">
                            {{ viewed_report.category }}#{{ viewed_report.id }}
                        </div>

                        <div class="card-body">
                            {% if viewed_report.question %}
                            <h5>{{trans("Question Content")}}</h5>
                            {% if viewed_report.question.q_file %}
                            <audio controls preload="none">
                                <source src="{{ viewed_report.question.q_file.url }}" type="audio/mpeg" />
                                {{trans("Your browser does not support the audio tag")}}
                            </audio>
                            {% else %}
                            <div>{{ viewed_report.question.q_content|linebreaksbr }}</div>
                            {% endif %}
                            <h5>Choice</h5>
                            <ol type="A">
                                {% for choice in viewed_report.question.choice_set.all() %}
                                <li {% if choice.is_answer %}style="color: green" {% endif %}>
                                    {{ choice }}
                                </li>
                                {% endfor %}
                            </ol>
                            {% endif %}

                            <h5>{{trans("Supplement Note")}}</h5>
                            <div class="dropdown-divider"></div>
                            <p>{{ viewed_report.supplement_note }}</p>
                        </div>

                        <div class="card-footer">
                            <footer class="blockquote-footer">
                                <cite title="Source Title">{{ viewed_report.created_by }} in {{ viewed_report.created_time }}<br /></cite>
                                {% if viewed_report.state == 2 %}
                                <label class="btn btn-danger float-right">{{trans("Processing")}}</label>
                                {% elif viewed_report.state == 3 %}
                                <cite title="Source Title">Resolved by {{ viewed_report.resolved_by }} in {{ viewed_report.resolved_time }}</cite>
                                <label class="btn btn-success float-right">{{trans("Solved")}}</label>
                                {% endif %}
                            </footer>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="card" style="height: 75vh">
                        <div class="card-header">{{trans("Reply")}}</div>

                        <div id="reply-content" class="card-body">
                            <div class="reply-content" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                                {% if replies %} {% for reply in replies %} {% if reply.created_by == viewed_report.created_by %}
                                <div class="text-right">
                                    ：{{ reply.created_by }}<br />{{ reply.content }}
                                    <footer class="blockquote-footer">
                                        <cite title="Source Title">{{ reply.created_time.strftime('%H:%M, %Y/%m/%d') }}</cite>
                                    </footer>
                                </div>
                                {% else %}
                                <div class="">
                                    {{ reply.created_by }}：<br />{{ reply.content }}
                                    <footer class="blockquote-footer">
                                        <cite title="Source Title">{{ reply.created_time.strftime('%H:%M, %Y/%m/%d') }}</cite>
                                    </footer>
                                </div>
                                {% endif %}
                                <hr />
                                {% endfor %} {% else %} {{trans("No message")}}... {% endif %}
                            </div>
                        </div>

                        <div class="card-footer text-right">
                            <form action="" method="post">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                                <textarea class="form-control" name="reply" rows="4" placeholder="{{trans("Reply")}}..." {% if viewed_report.state == 3 %}disabled{% endif %}></textarea>
                                <button type="submit" class="btn btn-primary" {% if viewed_report.state == 3 %}disabled{% endif %}>{{trans("Comment")}}</button>
                                <button type="button" class="btn btn-secondary" onclick="window.location=document.referrer;">
                                    {{trans("Cancel")}}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
{% endblock %}