{% extends 'base.html'%}

{% block path %}
    <a href="">題目操作員</a>
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="">新增{% if kind == 'listening' %}聽力{% else %}閱讀{% endif %}試題（單一）</a>
{% endblock %}

{% block content %}
    <div class="add_questions">
        <form enctype="multipart/form-data" action="" method="post">
            <div class="title"><h1>Add Questions.</h1></div>
            {% csrf_token %}

            <table>
                {% if kind == 'listening' %}
                    <tr>
                        <td class="col-md-2">試題聽力音檔</td>
                        <td><input type="file" name="question_file" accept="audio/mpeg" required></td>
                    </tr>

                    <tr>
                        <td class="col-md-2">試題類型</td>
                        <td>
                            <select name="question_type" required>
                                <option value="" disabled selected>請選擇試題類型</option>
                                <option value="1">問答</option>
                                <option value="2">簡短對話</option>
                            </select>
                        </td>
                    </tr>

                {% elif kind == 'reading' %}
                    <tr>
                        <td class="col-md-2">試題題目</td>
                        <td><textarea class="form-control" cols="100" rows="3" name="question_content" placeholder="請輸入試題題目" required></textarea></td>
                    </tr>

                    <tr>
                        <td class="col-md-2">試題類型</td>
                        <td>
                            <select name="question_type" required>
                                <option value="" disabled selected>請選擇試題類型</option>
                                <option value="3">文法</option>
                                <option value="4">名詞片語</option>
                                <option value="5">段落理解</option>
                            </select>
                        </td>
                    </tr>

                {% else %}
                    <tr>
                        <td colspan="2">Unknown</td>
                    </tr>

                {% endif %}

                <tr>
                    <td>試題難度</td>
                    <td>
                        <select name="question_difficulty">
                            <option value="1" selected>簡單</option>
                            <option value="2">中等</option>
                            <option value="3">困難</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>試題選項</td>
                    <td>
                        <input class="form-control" type="text" name="choice1" placeholder="Enter Choice content..." required>
                        <input class="form-control" type="text" name="choice2" placeholder="Enter Choice content..." required>
                        <input class="form-control" type="text" name="choice3" placeholder="Enter Choice content..." required>
                        <input class="form-control" type="text" name="choice4" placeholder="Enter Choice content..." required>
                    </td>
                </tr>

            </table>

            <div class="btn">
                <button type="submit" onclick="return confirm('確認新增此試題？')">新增試題</button>
                <button type="reset">重設</button>
                <button type="button" onclick="window.location.href='{% url 'tboperator_question_list' %}'">取消</button>
            </div>

            <style>
                .add_questions .title h1{
                    width: 30%;
                    font-size: 28px;
                    color: #FFFEF6;
                    background-color: #4CCABD;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-right: 15px;
                    padding-left: 45px;
                    text-align: center;
                }

                .add_questions table{
                    position: relative;
                    left: 15%;

                    width: 70%;

                    font-size: 20px;
                }
                .add_questions table td{
                    padding: 4px;
                }
                .add_questions form input{
                    padding: 6px;
                    margin: 2px;
                }
                .add_questions form textarea{
                    font-size: 20px;
                    width: 100%;
                    height: 45%;
                    padding: 10px;
                }

                .add_questions .btn{
                    position: relative;
                    top: 30px;
                    left: 35%;
                }
                .add_questions .btn button{
                    font-size: 25px;
                    padding: 10px;
                    padding-left: 15px;
                    padding-right: 15px;
                    color: #FFFEF6;
                    background-color: #4CCABD;
                    border: none;
                }
            </style>
        </form>
    </div>


{% endblock %}