<title>ALCPT - Multi Create</title>
{% extends 'new_base.html' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ static('/css/question/multi_create.css') }}" />
{% endblock %}

{% block scripts %}
<script>
    function file_not_empty() {
        if (document.getElementById('questions_file')) {
            document.getElementById('submit').disabled = false;
        } else {
            document.getElementById('submit').disabled = true;
        }
    }
</script>
{% endblock %}

{% block path %}
<li class="breadcrumb-item active" aria-current="page">
    {{trans("Create")}} {% if kind == 'listening' %}{{trans("Listening")}} {% else %}{{trans("Reading")}} {% endif %}（{{trans("Multiple")}}）
</li>
{% endblock %} {% block content %}
<main class="multiple-question-create-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form enctype="multipart/form-data" method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

                    <div class="card">
                        <div class="card-header">{{trans("Create Question")}}({{trans("Multiple")}})</div>


                        <div class="card-body">
                            <h5 class="card-subtitle mb-2 text-muted">{{trans("File")}}</h5>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="questions_file" name="questions_file" accept=".xls, .xlsx" onchange="file_not_empty()" />
                                    <label class="custom-file-label" for="questions_file">{{trans("Select .xls and .xlsx file")}}</label>
                                </div>
                                <div class="input-group-append">
                                    <button type="submit" id="submit" class="btn btn-outline-secondary" disabled>
                                        <i class="fa fa-upload"></i>
                                    </button>
                                </div>
                            </div>
                            <script>
                                // to change the label, the selected file name will display
                                $(".custom-file-input").on("change", function() {
                                    var fileName = $(this).val().split("\\").pop();
                                    $(this)
                                        .siblings(".custom-file-label")
                                        .addClass("selected")
                                        .html(fileName);
                                });
                            </script>

                            <p class="card-text"></p>

                            <h5 class="card-subtitle mb-2 text-muted">{{trans("File Criteria")}}</h5>
                            <p style="color: red">*{{trans("Only accept「.xls」or「.xlsx」file")}}</p>
                            <p style="color: red">
                                &ast;{{trans("Field Order")}}：{{trans("Content")}}／{{trans("Option")}}1／{{trans("Option")}}2／{{trans("Option")}}3／{{trans("Option")}}4／{{trans("Answer")}}／{{trans("Type")}}／{{trans("Difficulty")}}
                            </p>
                            <p class="card-text"></p>

                            <h5 class="card-subtitle mb-2 text-muted">{{trans("Tips")}}</h5>
                            <p class="card-text mark">
                                <strong>{{trans("Type")}}</strong><br />
                                1 -> {{trans("Grammar")}}<br />
                                2 -> {{trans("Phrase")}}<br />
                                3 -> {{trans("Paragraph Understanding")}}<br />
                            </p>
                            <hr />
                            <p class="card-text mark">
                                <strong>{{trans("Difficulty")}}</strong><br />
                                1 -> {{trans("Easy")}}<br />
                                2 -> {{trans("Medium")}}<br />
                                3 -> {{trans("Hard")}}<br />
                            </p>
                        </div>

                        <footer class="card-footer">
                            <div class="text-center">
                                <button type="button" class="btn btn-secondary" onclick="history.go(-1);">
                                    {{trans("Cancel")}}
                                </button>
                            </div>
                        </footer>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}