{% extends 'base.html' %}

{% block path %}
    <a href="{% url 'tboperator_question_list' %}">題目操作員</a>
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="">編輯試題</a>
{% endblock %}

{% block content %}
    <div class="edit_question">
        <form enctype="multipart/form-data" action="" method="post">
            <div class="title"><h1>Edit Questions.</h1> <h2>&nbsp;</h2></div>
            {% csrf_token %}

            <div class="q_content">
                <label for="q_content">題目：</label>
                {% if question.q_file %}
                    <audio controls preload="none">
                        <source src="{{ question.q_file }}" type="audio/mpeg">
                        Your browser does not support the audio tag.
                    </audio>
                {% else %}
                    <textarea name="q_content" cols="100" rows="8">{{ question.q_content }}</textarea>
                {% endif %}
            </div>

            <br>

            <div class="change_type">
                <label for="change_type">選擇題目類型：</label>
                <select name="question_type" required>
                    {% if question.q_content %}
                        <option value="3" selected>文法</option>
                        <option value="4">名詞片語</option>
                        <option value="5">段落理解</option>
                    {% elif question.q_file %}
                        <option value="1" selected>問答</option>
                        <option value="2">簡短對話</option>
                    {% endif %}
                </select>
            </div>

            <br>

            <div class="select_answer">
                <label for="select_answer">選擇答案：</label>
                <select name="answer_choice" required>
                    {% for choice in question.choice_set.all %}
                        <option value="{{ choice.id }}" {% if choice.is_answer %} selected {% endif %}>{{ choice.c_content }}</option>
                    {% endfor %}
                </select>
            </div>

            <br>

            <div class="btn1"><input type="submit" value="確認更改" onclick="return confirm('確認更改此試題並進入暫存階段？')"></div>
            <div class="btn2"><input type="submit" onclick="history.back()" value="取消"></div>


        </form>

        <style>
            .edit_question .title h1{
                font-size: 40px;
                color: #FFFEF6;
                background-color: #4CCABD;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 15px;
                padding-left: 45px;
                text-align: center;
                position: absolute;
                top: 1%;
            }

            .edit_question .title h2{
                background-color: #4CCABD;
                padding-top: 10px;
                padding-bottom: 22px;
                padding-right: 15px;
                padding-left: 30px;
                position: absolute;
                top: 1%;
                left: 23%;
            }

            .edit_question form .q_content label{
                font-size: 30px;
                padding-left: 30%;
                position: absolute;
                top: 20%;
            }

            .edit_question form .q_content audio{
                padding-left: 10px;
                position: absolute;
                top: 20%;
                left: 37%;
                padding: 10px;
            }

            .edit_question form .q_content textarea{
                padding-left: 10px;
                position: absolute;
                top: 20%;
                left: 37%;
                padding: 10px;
            }

            .edit_question form .change_type label{
                font-size: 30px;
                padding-left: 30%;
                position: absolute;
                top: 34%;
            }

            .edit_question form .change_type select{
                position: absolute;
                top: 35%;
                left: 45%;
                padding-left: 10px;

                font-size: 25px;
            }

            .edit_question form .select_answer label{
                font-size: 30px;
                padding-left: 30%;
                position: absolute;
                top: 45%;
            }

            .edit_question form .select_answer select{
                position: absolute;
                top: 45%;
                left: 40%;
                padding-left: 10px;

                font-size: 25px;
            }

            .edit_question form .btn1 input{
                font-size: 25px;
                padding: 10px;
                padding-left: 15px;
                padding-right: 15px;
                color: #FFFEF6;
                background-color: #4CCABD;
                border: none;
                position: absolute;
                top: 85%;
                left: 37%;
            }

            .edit_question form .btn2 input{
                font-size: 25px;
                padding: 10px;
                padding-left: 15px;
                padding-right: 15px;
                color: #FFFEF6;
                background-color: #4CCABD;
                border: none;
                position: absolute;
                top: 85%;
                left: 50%;
            }
        </style>
    </div>


{% endblock %}