{% extends 'base.html' %}

{% load web_filters %}

{% block path %}
    <a {% if request.user|has_perm:'TBManager' %}href="{% url 'tbmanager_question_list' %}">題庫管理員{% else %}href="{% url 'tboperator_question_list' %}">題目操作員{% endif %}</a>
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="">編輯試題</a>
{% endblock %}

{% block content %}
    <div class="edit_question">
        <form enctype="multipart/form-data" action="" method="post">
            <div class="title"><h1>Edit Questions.</h1></div>
            {% csrf_token %}
            <table>
                <tr>
                    <td class="col-md-2">題目</td>
                    <td class="col-md-5" style="padding-left: 10%">
                        {% if question.q_file %}
                            <audio controls preload="none">
                                <source src="{{ question.q_file }}" type="audio/mpeg">
                                Your browser does not support the audio tag.
                            </audio>
                        {% else %}
                            <textarea name="q_content" cols="100" rows="8">{{ question.q_content }}</textarea>
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td class="col-md-2">選擇答案</td>
                    <td class="col-md-5"></td>
                </tr>

                {% for choice in question.choice_set.all %}
                <tr>
                    <td class="col-md-2"></td>
                    <td class="col-md-5" style="padding-left: 10%"><input type="radio" name="answer_choice">{{ choice }}</td>
                </tr>
                {% endfor %}
            </table>

            <div class="btn">
                <button type="submit" onclick="return confirm('確認更改此試題並通過審核？')">確認更改</button>
                <button type="button" onclick="self.location=document.referrer;">取消</button>
            </div>
        </form>

        <style>
            .edit_question .title h1{
                width: 30%;
                font-size: 28px;
                color: #FFFEF6;
                background-color: #4CCABD;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 15px;
                padding-left: 45px;
                text-align: center;
            }

            .edit_question table{
                position: relative;
                left: 30%;

                width: 40%;

                font-size: 20px;
            }
            .edit_question table td{
                padding: 4px;
                text-align: left;
            }
            .edit_question form input{
                padding: 6px;
            }
            .edit_question form textarea{
                font-size: 20px;
                width: 100%;
                height: 45%;
                padding: 10px;
            }

            .edit_question .btn{
                position: relative;
                top: 30px;
                left: 40%;
            }
            .edit_question .btn button{
                font-size: 25px;
                padding: 10px;
                padding-left: 15px;
                padding-right: 15px;
                color: #FFFEF6;
                background-color: #4CCABD;
                border: none;
            }
        </style>
    </div>


{% endblock %}