{% extends 'new_base.html' %}

{% load web_filters %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'question_review' %}">Review</a></li>
    <li class="breadcrumb-item active" aria-current="page">Reject Reason</li>
{% endblock %}

{% block content %}
    <main class="question-reject-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <form method="post">
                        {% csrf_token %}

                        <div class="card">
                            <div class="card-header">Reject Reason.</div>

                            <div class="card-body">
                                <h5 class="subtitle mb-2 text-muted">Reject Reason.</h5>
                                <p class="card-text">
                                    <textarea class="form-control" cols="50" rows="6" name="reason" placeholder="Enter the reject reason..."></textarea>
                                </p>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Sure to reject?')">Reject</button>
                                    <button type="button" class="btn btn-secondary" onclick="self.location=document.referrer;">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}