{% extends 'base.html' %}

{% load web_filters %}

{% block path %}
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="">題庫管理員</a>
    <a class="fa fa-angle-right fa-lg box"></a>
    <a href="">審核試題</a>
{% endblock %}

{% block content%}
    <div>
        {% if reviewed_questions %}
            <h1>題目列表</h1>
            <table border="1">
                <tr>
                    <th>題目</th>
                    <th>類型</th>
                    <th>難度</th>
                    <th>錯誤回報次數</th>
                    <th>正確次數</th>
                    <th>建立者</th>
                    <th>更新時間</th>
                    <th>狀態</th>
                    <th>題目選項</th>
                    <th></th>
                </tr>
                {% for question in questionList %}
                    <tr>
                        <td>
                            {% if question.q_file %}
                                <audio controls preload="none">
                                    <source src="{{ question.q_file }}" type="audio/mpeg">
                                    Your browser does not support the audio tag.
                                </audio>
                            {% else %}
                                {{ question.q_content }}
                            {% endif %}</td>
                        <td>{{ question.q_type|readable_question_type }}</td>
                        <td>{{ question.difficulty }}</td>
                        <td>{{ question.issued_freq }}</td>
                        <td>{{ question.correct_freq }}</td>
                        <td>{{ question.created_by.name }}</td>
                        <td>{{ question.update_time|date:'Y年m月d日, H時i分' }}</td>
                        <td>{{ question.state|readable_state }}</td>
                        <td>
                            {% for option in question.choice_set.all %}
                                {% if option.is_answer %}
                                    <span style="color: red"><li>{{ option }}</li></span>
                                {% else %}
                                    <li>{{ option }}</li>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{% url 'question_pass' question.id %}" onclick="return confirm('確認審核通過？')">Pass</a>
                            <a href="{% url 'question_reject' question.id %}">Reject</a>
                            <a href="{% url 'question_edit' question.id %}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h2>目前暫無資料</h2>
        {% endif %}
    </div>

    <div class="pagination">
        <a href="?page=1">&laquo; first</a>
        {% if questionList.has_previous %}
            <a href="?page={{ questionList.previous_page_number }}">Prev</a>
        {% else %}
            <a href="">Prev</a>
        {% endif %}

        {% for page in paginator.page_range %}
            {% if page == questionList.number %}
                <a class="active" href="?page={{ page }}">{{ page }}</a>
            {% else %}
                <a href="?page={{ page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if questionList.has_next %}
            <a href="?page={{ questionList.next_page_number }}">Next</a>
        {% else %}
            <a href="">Next</a>
        {% endif %}
        <a href="?page={{ questionList.paginator.num_pages }}">last &raquo;</a>
    </div>
{% endblock %}
