{% extends 'new_base.html' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ static('/css/question/review.css') }}" />
{% endblock %}

{% block scripts %}
<script src="{{ static('/javascript/question/review.js') }}"></script>
{% endblock %}

{% block path %}
<li class="breadcrumb-item active" aria-current="page">{{trans("Question Review")}}</li>
{% endblock %} {% block content%}
<main class="review-table">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="table-responsive-md">
                    <h2>{{trans("Review")}}（{{trans("Total")}}: {{ reviewed_questions.count() }}）</h2>

                    <table class="table table-hover table-bordered table-striped table-mc-light-blue">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">{{trans("Serial")}}</th>
                                <th scope="col">{{trans("Content")}}</th>
                                <th scope="col">{{trans("Type")}}</th>
                                <th scope="col">{{trans("State.")}}</th>
                                <th scope="col">{{trans("Other")}}</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% if reviewed_questions %} {% for question in questionList %}
                            <tr>
                                <td class="text-center" id="mainData{{ loop.index }}" onclick="toggle('{{ loop.index }}')" style="cursor: pointer">
                                    <i id="iconRight{{ loop.index }}" class="fa fa-angle-right"></i>
                                    <i id="iconDown{{ loop.index }}" class="fa fa-angle-down" style="display: none"></i>
                                </td>

                                <td class="text-center">{{ question.id }}</td>

                                <td class="text-center">
                                    {% if question.q_file %}
                                    <audio controls preload="none">
                                        <source src="{{ question.q_file.url }}" type="audio/mpeg" />
                                        {{trans("Your browser does not support the audio tag")}}
                                    </audio>
                                    {% else %}
                                    <div id="summary_Q_content{{ loop.index }}" class="text-left">
                                        {{ question.q_content|summary(90) }}
                                    </div>
                                    <div id="full_Q_content{{ loop.index }}" style="display: none" class="text-left">
                                        {{ question.q_content|linebreaksbr }}
                                    </div>
                                    {% endif %}
                                </td>

                                <td class="text-center">
                                    {{ question.q_type|readable_question_type }}
                                </td>

                                <td>
                                    <button type="button" {% if question.state == 1 %} class="btn btn-success" {% elif question.state == 2 or question.state == 4 %} class="btn btn-danger" {% elif question.state == 3 %} class="btn btn-light"
                                        {% elif question.state == 5 %} class="btn btn-dark" {% elif question.state == 6 %} class="btn btn-secondary" {% endif %} disabled>
                                        {{ question.state|readable_state }}
                                    </button>
                                </td>

                                <td>
                                    <a href="{{ url('question_pass', args=[question.id]) }}" class="btn btn-success" onclick="return confirm('{{trans("")}}Sure to pass?')">{{trans("Pass")}}</a>
                                    <button type="button" class="btn btn-warning" onclick="window.location.href='{{ url('question_edit', args=[question.id]) }}'">
                                        {{trans("Edit")}}
                                    </button>
                                    <button type="button" class="btn btn-danger" onclick="window.location.href='{{ url('question_reject', args=[question.id]) }}'">
                                        {{trans("Reject")}}
                                    </button>
                                </td>
                            </tr>

                            <tr id="detailData{{ loop.index }}" style="display: none">
                                <td colspan="2"></td>
                                <td style="text-align: left">
                                    <ol type="A">
                                        {% for option in question.choice_set.all() %} {% if option.is_answer %}
                                        <li style="color: red">{{ option }}</li>
                                        {% else %}
                                        <li>{{ option }}</li>
                                        {% endif %} {% endfor %}
                                    </ol>
                                </td>
                                <td colspan="2" style="font-size: 14px; text-align: left">
                                    {% if question.faulted_reason %} {{ question.faulted_reason }}
                                    {% endif %}
                                </td>
                                <td style="text-align: left; font-size: 14px">
                                    <ul style="font-size: 14px; list-style: none">
                                        <li>
                                            {{trans("Last update")}}:{{ question.update_time.strftime('%H:%M, %Y/%m/%d') }}
                                        </li>
                                        <li>{{trans("Issued")}}:{{ question.issued_freq }}</li>
                                        <li>{{trans("Difficulty")}}:{{ question.difficulty }}</li>
                                        <li>{{trans("Creator")}}:{{ question.created_by.name }}</li>
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %} {% else %}
                            <tr>
                                <td colspan="6">{{trans("No Data")}}</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %} {% block pagination %}
<ul class="pagination justify-content-center">
    <li class="page-item">
        <a class="page-link" href="?page=1"><i class="fa fa-angle-double-left"></i></a>
    </li>

    <li class="page-item {% if not questionList.has_previous %}disable{% endif %}">
        {% if questionList.has_previous %}
        <a class="page-link" href="?page={{ questionList.previous_page_number }}" tabindex="-1"><i class="fa fa-angle-left"></i></a>
        {% else %}
        <a class="page-link" href="javascript:void(0);"><i class="fa fa-angle-left"></i></a>
        {% endif %}
    </li>

    {% for page in paginator.page_range %} {% if page == questionList.number %}
    <li class="page-item active">
        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
    </li>
    {% endif %} {% endfor %}

    <li class="page-item {% if not questionList.has_next %}disable{% endif %}">
        {% if questionList.has_next %}
        <a class="page-link" href="?page={{ questionList.next_page_number }}"><i class="fa fa-angle-right"></i></a>
        {% else %}
        <a class="page-link" href="javascript:void(0);"><i class="fa fa-angle-right"></i></a>
        {% endif %}
    </li>

    <li class="page-item">
        <a class="page-link" href="?page={{ questionList.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a>
    </li>
</ul>
{% endblock %}