{% extends "base.html" %}

{% load web_filters %}



{% block scripts %}
    <script src="/static/scripts/index.js?{{ request.js_version }}" defer></script>
{% endblock %}

{% block content %}


    <section class="col-auto mr-auto" style="height: 100px">
        <div id="pt" class="bm c1">
            <div class="z">
                <a class="fa fa-home fa-2x" href="http://127.0.0.1:8000/" ></a>
                <a class="fa fa-angle-double-right fa-lg box"></a>
                <a href="#" style="font-size: 18px">題庫管理員</a>
                <a class="fa fa-angle-right fa-lg"></a>
                <a href="#" style="font-size: 18px">審核試題</a>
            </div>
            <div style="padding-right: 10px"></div>
        </div>

        <h1 style="display: inline;">審核試題</h1>
    </section>

    <br/><br/>

<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>

<body>
                <table class="table table-striped table-hover" style="width:80%; height: 80%" border="0" align="center">
                    {% csrf_token %}
                    <thead>
                      <tr class="w3-light-grey w3-center w3-card-4">
                        <th><h8>編號</h8></th>
                        <th><h8>類型</h8></th>

                        <th><h8>題目</h8></th>
                        <th><h8>選項1</h8></th>
                        <th><h8>選項2</h8></th>
                        <th><h8>選項3</h8></th>
                        <th><h8>選項4</h8></th>
                        <th><h8>建立者</h8></th>
                        <th><h8>審核結果</h8></th>

                      </tr>
                    </thead>


                    {% for question in questions %}
                        <tr class="w3-hover-green w3-center" id="btn{{ question.id }}">
                            <td>{{ question.id }}</td>
                            <td>{{ question.question_type }}</td>
                        {% if question.question_type <= 2%}
                            <td><audio controls>
                                <source src ="{{ question.question_file }}" type="audio/mpeg">
                            </audio></td>
                        {% else %}
                            <td>{{ question.question }}</td>
                        {% endif %}

                        {% for i in question.option %}<td>{% if i|check_correct:question %}<font color="red"> {% endif %}{{ i }}</font></td>{% endfor %}
                        <td>{{ question.created_by }}</td>
                        <td>
                            <input type="radio" class="btn btn-default" name="result{{ question.id }}"  style="vertical-align:middle;" value="通過" onclick="btn{{ question.id }}.style.backgroundColor='greenyellow'">通過
                            <input type="radio" class="btn btn-default" id="btn0" name="result{{ question.id }}" style="vertical-align:middle;" value="刪除" onclick="btn{{ question.id }}.style.backgroundColor='orangered'">刪除
                        </td>

                    {% endfor %}
                    <section class="col text-center pt-3">
                            <input class="btn btn-primary" style="background-color: #1b98e0; color: white;" type="submit" value="送出"></input>
                            <input class="btn btn-primary" style="background-color: lightgray;border: lightgray ; color: black;" type="submit" value="取消"></input>
                    </section>

                </table>

        </br></br>




    <!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
        <section class="col-12">
            <section class="card">
                <section class="card-body">

                    {% for question in questions %}

                        {% if question.id == q_id %}
                            <span>#{{ question.id }}. </span>

                            {% if question.type <= 2 %}
                                <audio id="preview-audio" controls>
                                    <source id="preview-audio-source" type="audio/mpeg">
                                    Your browser does not support the audio tag.
                                </audio>
                            {% else %}
                                <span id="question">{{ question.question }}</span>
                            {% endif %}

                            <section id="answers" class="pt-2"></section>
                                {% for i in option_dic %}
                                        {% if i == answer %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="option{{ i }}" id="option{{ i }}" disabled checked="checked">
                                                <label class="form-check-label" for="answer">{{ i }}</label>
                                            </div>
                                        {% else %}
                                           <div class="form-check">
                                                <input class="form-check-input" type="radio" name="option{{ i }}" id="option{{ i }}" disabled>
                                                <label class="form-check-label" for="answer">{{ i }}</label>
                                            </div>
                                        {% endif %}
                                {% endfor %}
                        {% endif %}

                    {% endfor %}
                </section>
            </section>
        </section>
  </div>
</div>

<script>
var q_id = {{ q_id | safe }}
var q_option = {{ option_dic | safe }};
var ans = {{ answer | safe }};
var ans_str = ans.toString();
var qid_dic = {{ qid_dic | safe }};

function getID(obj) {
   {#document.write("myBtn"+ obj.toString());#}
    return obj
}

// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal

var btn = document.getElementById("myBtn"+ qid_dic[q_id].toString());
{#var btn = document.getElementById("myBtn10");#}
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
{% endblock %}