{% extends 'base.html' %}

{% block path %}

{% endblock %}

{% block content %}
    <div>
        <form ENCTYPE="multipart/form-data" action="{% url 'question_create' kind %}" method="post">
            {% csrf_token %}
            <label for="question">題目</label>
            {% if reading_question %}
                <label>{{ reading_question.q_content }}</label>
            {% elif listening_question %}
                <audio controls preload="none">
                    <source src="{{ listening_question.q_file }}.mp3">
                </audio>
            {% endif %}

            <br>

            <label for="set_answer">答案</label>
            <select name="is_answer" required>
                <option value="" disabled selected hidden>請選擇答案</option>
                <option value="{{ option1.id }}">{{ option1 }}</option>
                <option value="{{ option2.id }}">{{ option2 }}</option>
                <option value="{{ option3.id }}">{{ option3 }}</option>
                <option value="{{ option4.id }}">{{ option4 }}</option>
            </select>

            <input type="submit" value="送出">
        </form>
    </div>
{% endblock %}