{% extends "base.html" %}

{% load web_filters %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/stylesheets/datetimepicker.min.css?{{ request.static_file_version }}">
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" defer></script>
<script src="/static/scripts/datetimepicker.min.js?{{ request.static_file_version }}" defer></script>
<script src="/static/scripts/exam.js?{{ request.static_file_version }}" defer></script>
<script>
    $(function() {
        $('#start-time').datetimepicker({
            format: 'YYYY/MM/DD HH:mm',
        });
    });
</script>
{% endblock %}

{% block content %}
<section class="row">
    <section class="col mb-3">
        <h1 style="display: inline;">編輯考卷</h1>
    </section>

    <form class="col-12 row mt-3" enctype="multipart/form-data" action="/exam/{{ exam.id }}/edit" method="post" autocomplete="off">
        {% csrf_token %}

        <input type="hidden" name="type" value="{{ question_type }}" />

        <h3 class="col-12"><i class="fa fa-sticky-note fa-fw mb-2"></i> 基本資料</h3>

        <div class="col-12 py-2 form-group">
            <label for="name">考卷名稱</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ exam.name }}" required>
        </div>

{#        <div class="col-auto py-2 form-group">#}
           <label for="start-time">開始時間</label>
            <input type="text" class="form-control" id="start-time" name="start_time" value="{{ exam.start_time|date:'Y/n/d H:i' }}" required hidden>
{#        </div>#}

        <div class="col-auto py-2 form-group">
            <label for="duration">使用時間</label>
            <div class="input-group">
                <input type="number" class="form-control" id="duration" name="duration" value="{{ exam.duration }}" min="1" required>
                <div class="input-group-append">
                    <span class="input-group-text">分鐘</span>
                </div>
            </div>
        </div>

        <h3 class="col-12"><i class="fa fa-sliders fa-fw mb-2"></i> 選擇考卷</h3>
        <section class="col">
            <div class="card">
                <div class="card-body">
                    <form action="/user" method="get">
                        <div class="row">
                            <div class="col-auto">

                            </div>
                            <div class="col">
                                <input type="text" class="form-control" name="name" value="{{ keywords.name }}" placeholder="考卷名稱">
                            </div>

                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary" style="background-color: #1b98e0; color: white;">搜尋</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        </br></br>
        <h3 class="col-12"><i class="fa fa-id-card" aria-hidden="true"></i> 選擇受測者</h3>
        <section class="col">
            <div class="card">
                <div class="card-body">
                    <form action="/user" method="get">
                        <div class="row">
                            <div class="col-auto">

                            </div>
                            <div class="col">
                                <input type="text" class="form-control" name="name" value="{{ keywords.name }}" placeholder="受測者名稱">
                            </div>

                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary" style="background-color: #1b98e0; color: white;">搜尋</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <div class="w-100"></div>

        <section class="col text-center pt-3">
            <button class="btn btn-primary" type="submit">完成</button>
        </section>
    </form>
</section>
{% endblock %}
