{% extends "base.html" %}

{% load web_filters %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/stylesheets/datetimepicker.min.css?{{ request.static_file_version }}">
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" defer></script>
<script src="/static/scripts/datetimepicker.min.js?{{ request.static_file_version }}" defer></script>
<script src="/static/scripts/exam.js?{{ request.static_file_version }}" defer></script>
<script>
    $(function() {
        $('#start-time').datetimepicker({
            format: 'YYYY/MM/DD HH:mm',
            minDate: 0,
        });
    });
</script>
{% endblock %}

{% block content %}

<head>
    <style>
        #container {
            width: 70%;
            min-width: 310px;
            max-width: 70%;
            height: 400px;
            margin: 0 auto
        }
        #pt {
            margin: 2px;
            height: 29px;
            border: none;
            background: transparent;
            line-height: 29px;
        }
        .bm{
            margin-bottom: 5px;
            border: 1px solid #CDCDCD;
            background: #FFF;
        }
        .cl{
            zoom: 1;
        }
        #pt .z{
            padding-right: 10px;
            float: left;
        }
    </style>
</head>

<section class="row">
    <section class="col-auto mr-auto">
        <div id="pt" class="bm c1">
            <div class="z">
                <a class="fa fa-home fa-2x" href="/" ></a>
                <a class="fa fa-angle-double-right fa-lg box"></a>
                <a href="/exam" style="font-size: 18px">考試管理員</a>
                <a class="fa fa-angle-right fa-lg"></a>
                <a href="#" style="font-size: 18px">管理考試</a>
            </div>
            <div style="padding-right: 10px"></div>
        </div>
        <div class="w-100 my-3"></div>
        <h1 style="display: inline; font-size: 30px">新增考試</h1>
    </section>

    <form class="col-12 row mt-3" enctype="multipart/form-data" action="/exam/create" method="post" autocomplete="off">
        {% csrf_token %}

        <input type="hidden" name="type" value="{{ question_type }}" />
        <input type="hidden" name="source" value="{{ source.id }}" />

        <h3 class="col-12" style="font-size: 20px; top: 15px"><i class="fa fa-sticky-note fa-fw mb-2"></i> 基本資料</h3>

        <div class="col-12 py-2 form-group">
            <label for="name" style="font-size: 17px; top: 20px; left: 40px">考試名稱</label>
            <input type="text" class="form-control" id="name" name="name" required style="top: 20px; left: 30px">
        </div>
        <div class="col-auto py-2 form-group">
            <label for="duration" style="font-size: 17px; top: 20px; left: 40px">使用時間</label>
            <div class="input-group" style="top: 20px; left: 30px">
                <input type="number" class="form-control" id="duration" name="duration" value="90" min="1" required>
                <div class="input-group-append">
                    <span class="input-group-text">分鐘</span>
                </div>
            </div>
        </div>
        <div class="col-auto py-2 form-group">
            <label for="start-time" style="font-size: 17px; top: 20px; left: 40px">開始時間</label>
            <input type="text" class="form-control" id="start-time" name="start_time" value=""  required style="top: 20px; left: 30px">
        </div>
        <h3 class="col-12" style="font-size: 17px; top: 30px; left: 10px"><i class="fa fa-sliders fa-fw mb-2"></i> 選擇考卷</h3>
        <div class="col">
            <select class="custom-select" name="testpaper" style="top: 30px; left: 30px">
                <option value="0">考卷名稱</option>
                {% for testpaper in testpapers %}
                    <option value="{{ testpaper.id }}">{{ testpaper.name }}</option>
                {% endfor %}
            </select>
        </div>
        <h3 class="col-12" style="font-size: 17px; top: 50px; left: 10px"><i class="fa fa-id-card" aria-hidden="true"></i> 選擇受測者</h3>
        <div class="col">
            <select class="custom-select" name="group" style="top: 60px; left: 30px">
                <option value="0">受測者群組名稱</option>
                {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="w-100"></div>

        <section class="col text-center pt-3">
            <button class="btn btn-primary" style="background-color: #1b98e0; color: white; font-size: 15px; top: 120px" type="submit">新增並公告考試</button>
        </section>
    </form>
</section>
{% endblock %}
