{% extends "base.html" %}

{% load web_filters %}

{% block content %}

<script type="text/javascript">
    function check_all(obj,cName)
    {
        var checkboxs = document.getElementsByName(cName);
        for(var i=0;i<checkboxs.length;i++){checkboxs[i].checked = obj.checked;}
    }
</script>


<section class="row align-items-center">
    <section class="col-auto mr-auto">
        <div id="pt" class="bm c1">
            <div class="z">
                <a class="fa fa-home fa-2x" href="http://127.0.0.1:8000/" ></a>
                <a class="fa fa-angle-double-right fa-lg box"></a>
                <a href="/exam/group" style="font-size: 18px">群組列表</a>
                <a class="fa fa-angle-right fa-lg"></a>
                <a href="#" style="font-size: 18px">修改受測者群組</a>
            </div>
            <div style="padding-right: 10px"></div>
        </div>
        <h1 style="display: inline;">{{ group.name }}</h1>
    </section>

    <div class="w-100 my-3"></div>

    <div class="w-100 my-3"></div>

    <section class="col">
        <div class="card">
            <div class="card-body">
                <form action="/exam/group/{{ group.name }}/edit" method="get">
                    <div class="row">
                        <select class="custom-select col-2" name="department">
                            <option value="0">所有學系</option>
                            {% for dept in departments %}
                            <option value="{{ dept.id }}" {% if dept.id == keywords.department.id %} selected {% endif %}>{{ dept.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="col-2">
                            <input type="number" class="form-control" name="grade" value="{{ keywords.grade }}" placeholder="年班">
                        </div>
                        <div class="col-2">
                            <select class="custom-select" name="squadron">
                                <option value="0">所有中隊</option>
                                {% for squa in squadrons %}
                                <option value="{{ squa.id }}" {% if squa.id == keywords.squadron.id  %} selected {% endif %}>{{ squa.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="name" {% if keywords.name %} value="{{ keywords.name }}" {% else %} value=""{% endif %} placeholder="學號/姓名">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary" style="background-color: #1b98e0; color: white">搜尋</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <div class="w-100 my-3"></div>

    <section class="col">
    {% if students %}
        <form class="col-12 row mt-3" enctype="multipart/form-data" action="/exam/group/{{ group.name }}/edit" method="post" autocomplete="off">
            {% csrf_token %}
            <section class="col-12">
                <div class="col-12 py-2 form-inline">
                    <label for="name"><strong>群組名稱：</strong></label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ group.name }}" required>
                </div>
                <table class="table table-striped table-hover table-responsive-lg">
                    <thead>
                        <tr>
                            <th class="align-middle text-center col-xs-1"><input type="checkbox" name="all" onclick="check_all(this,'student_id')" /> 全選</th>
                            <th class="align-middle text-center col-xs-3">學號</th>
                            <th class="align-middle text-center col-xs-2">學生名稱</th>
                            <th class="align-middle text-center col-xs-3">系別</th>
                            <th class="align-middle text-center col-xs-2">中隊</th>
                            <th class="align-middle text-center col-xs-1">年班</th>

                    </thead>
                        {% for student in students %}
                        <tr>
                            <th class="align-middle text-center"><input type="checkbox" name="student_id" value="{{ student.id }}" {% if student in group.member.all %}checked{% endif %}></th>
                            <td scope="row" class="align-middle text-center">{{ student.user.reg_id }}</td>
                            <td class="align-middle text-center">{{ student.user.name }}</td>
                            <td class="align-middle text-center">{{ student.department.name }}</td>
                            <td class="align-middle text-center">{{ student.squadron.name }}</td>
                            <td class="align-middle text-center">{{ student.grade }}</td>
                        </tr>
                        {% endfor %}
                </table>
                <nav>
                    <ul class="pagination justify-content-end">
                    {% for page_index in page_range %}
                        <li class="page-item">
                            <a class="page-link" {% if page_index != page %} href="{{ request.get_full_path|replace_page:page_index }}" {% endif %}>{{ page_index|add:1 }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
                <div style="text-align: center">
                <button style="width: 7%; background-color: #1b98e0; color: white" type="submit" class="btn" >修改</button>
                <button style="width: 7%"  class="btn btn-default">取消</button>
                </div>
            </section>
        </form>
    {% else %}
        <h2>目前暫無受測者資料！無法建立受測者群組</h2>
    {% endif %}
    </section>
</section>
{% endblock %}
