{% extends "base.html" %}

{% load web_filters %}

{% block scripts %}
    <script src="/static/scripts/index.js?{{ request.js_version }}" defer></script>
{% endblock %}

{% block content %}
    <section class="col-auto mr-auto" style="height: 100px">
        <h1 style="display: inline;">群組名稱: {{ group.name }}</h1><br/>
        <h1 style="display: inline;">群組人數: {{ group.member.count }} 員</h1>
    </section>

    <p></p>
<div class="container w3-myfont">
    <div class="row1">
        <div class="col">
            <div class="panel panel-default">
                 <div class="container">
                     <table class="table table-striped table-hover">
            <thead>
                <tr class="text-center">
                    <th class="col-xs-2">學號</th>
                    <th class="col-xs-5">姓名</th>
                    <th class="col-xs-5">年班</th>
                    <th class="col-xs-2">系別</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr style="text-align: center">
                    <td>{{ member.user.serial_number }}</td>
                    <td>{{ member.user.name }}</td>
                    <td>{{ member.grade }}</td>
                    <td>{{ member.department.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
                 </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}