{% extends "base.html" %}

{% load web_filters %}

{% block content %}
<section class="row align-items-center">
    <section class="col-auto mr-auto">
        <h1 style="display: inline;">挑選題目 - {{ question_type|readable_question_type }}</h1>
    </section>
    <section class="col-auto">
        <a class="btn btn-sq-lg btn-secondary " href="/exam/{{ exam.id }}/edit">返回</a>
    </section>

    <div class="w-100 my-3"></div>

    <section class="col">
        <div class="card">
            <div class="card-body">
                <form action="/exam/{{ exam.id }}/pick-question/{{ question_type }}" method="get">
                    <div class="row">
                        <div class="col-auto">
                            <select class="custom-select" name="status">
                                <option value="0" {% if 0 == keywords.status %} selected {% endif %}>全部</option>
                                <option value="1" {% if 1 == keywords.status %} selected {% endif %}>已選擇</option>
                                <option value="2" {% if 2 == keywords.status %} selected {% endif %}>未選擇</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <select class="custom-select" name="source">
                                <option value="0">所有出處</option>
                                {% for source in sources %}
                                <option value="{{ source.id }}" {% if source.id == keywords.source_id %} selected {% endif %}>{{ source.year }} - {{ source.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="description" value="{{ keywords.description }}" placeholder="輸入欲搜尋的題目內容">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">搜尋</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <div class="w-100 my-3"></div>

    <section class="col">
    {% if questions %}
        <div class="card-columns">
        {% for question in questions %}
            {% if question.is_selected %}
            <div class="card border-success">
            {% else %}
            <div class="card">
            {% endif %}
                <div class="card-body">
                {% if question.type is 1 %}
                    {% include 'management/question/qa/display_alone.html' with question=question show_answer=True %}
                {% elif question.type is 2 %}
                    {% include 'management/question/short_conversation/display_alone.html' with question=question show_answer=True %}
                {% elif question.type is 3 %}
                    {% include 'management/question/grammar/display_alone.html' with question=question show_answer=True %}
                {% elif question.type is 4 %}
                    {% include 'management/question/phrase/display_alone.html' with question=question show_answer=True %}
                {% elif question.type is 5 %}
                    {% include 'management/question/paragraph_understanding/display_alone.html' with question=question show_answer=True %}
                {% endif %}
                    <form class="pt-2" action="/exam/{{ exam.id }}/pick-question/{{ question_type }}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="page" value="{{ page }}" />
                        <input type="hidden" name="status" value="{{ keywords.status }}" />
                        <input type="hidden" name="question_id" value="{{ question.id }}" />
                        <input type="hidden" name="description" value="{{ keywords.description }}" />
                        <input type="hidden" name="source" value="{{ keywords.source_id }}" />
                        {% if question.is_selected %}
                        <button class="btn btn-danger">將此題移出試卷</button>
                        {% else %}
                        <button class="btn btn-primary {% if reach_limit %} disabled {% endif %}"{% if reach_limit %} disabled {% endif %}>將此題加入試卷</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        {% endfor %}
        </div>

        <nav>
            <ul class="pagination justify-content-end">
                {% for page_index in page_range %}
                <li class="page-item">
                    <a class="page-link" {% if page_index != page %} href="{{ request.get_full_path|replace_page:page_index }}" {% endif %}>{{ page_index|add:1 }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    {% else %}
        <h2>目前暫無資料！</h2>
    {% endif %}
    </section>
</section>
{% endblock %}
