
<title>ALCPT - TestPaper List</title>

{% extends 'new_base.html' %} 

{% block path %}
<li class="breadcrumb-item active" aria-current="page">{{trans("TestPaper List")}}</li>
{% endblock %} 

{% block content %}
<main class="testpaper-list">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 table-responsive-md">
                <h2>{{trans("TestPaper List")}}</h2>

                <table class="table table-hover table-bordered table-striped table-mc-light-blue">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center">{{trans("Testpaper Name")}}</th>
                            <th class="text-center">{{trans("Valid")}}</th>
                            <th class="text-center">{{trans("Used")}}</th>
                            <th class="text-center">{{trans("Last Update")}}</th>
                            <th class="text-center">{{trans("Creator")}}</th>
                            <th class="text-center">
                                <div class="add">
                                    <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url('testpaper_create') }}'"><i class="fa fa-plus"></i></button>
                                    <button type="button" class="btn" data-toggle="modal" data-target="#promptContent"><i class="fa fa-question-circle"></i></button>
                                </div>
                                <div class="modal fade text-left" id="promptContent" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h5 class="modal-title" id="ModalLongTitle">{{trans("Tips")}}</h5>
                                            </div>

                                            <div class="modal-body">
                                                <ul>
                                                    <li>
                                                        <p>
                                                            {{trans("Select one can look up each testpaper detail and exam questions.")}}
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p>
                                                            {{trans("Click ")}}<i class="fa fa-plus btn btn-secondary"></i>{{trans(" can create a testpaper and select exam questions.")}}
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p>
                                                            {{trans("Click ")}}<i class="fa fa-check-circle"></i>{{trans(" represents this testpaper is valid and can be used as an exam question.")}}
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p>
                                                            {{trans("Before using this testpaper, click ")}}<i class="fa fa-times"></i>{{trans(" represents this testpaper is not valid and you can edit it again.")}}
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p>
                                                            {{trans("If this testpaper has not already used, you can click ")}}<i class="fa fa-pencil-square-o"></i>{{trans(" and edit testpaper contents.")}}
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p>
                                                            {{trans("If this testpaper has not already used, you can click ")}}<i class="fa-solid fa-trash-can"></i>{{trans(" and delete at the same time.")}}
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">{{trans("OK")}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <div class="add-secret">
                            <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url('testpaper_create') }}'">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        {% if testpapers %} {% for testpaper in testpaperList %}
                        <tr style="cursor: pointer" onclick="window.location.href=('{{ url('view_testpaper_content', args=[testpaper.id]) }}')">
                            <td class="text-center" data-title="Name">
                                {{ testpaper.name }}
                            </td>
                            <td class="text-center" data-title="Valid">
                                {{ testpaper.valid }}
                            </td>
                            <td class="text-center" data-title="Used">
                                {{ testpaper.is_used }}
                            </td>
                            <td class="text-center" data-title="Last Update">
                                {{ testpaper.update_time.strftime('%Y/%m/%d %H:%M') }}
                            </td>
                            <td class="text-center" data-title="Creator">
                                {{ testpaper.created_by.name }}
                            </td>
                            <td class="text-center">
                                {% if testpaper.is_testpaper %}
                                <a href="{{ url('testpaper_valid', args=[testpaper.id]) }}"><i class="fa fa-check-circle"></i></a>
                                <a href="{{ url('testpaper_unvalid', args=[testpaper.id]) }}"><i class="fa fa-times"></i></a>
                                <a href="{{ url('testpaper_edit', args=[testpaper.id]) }}"><i class="fa fa-pencil-square-o fa-fw mb-2"></i></a>
                                <a href="{{ url('testpaper_delete', args=[testpaper.id]) }}" onclick="return confirm('{{trans("Sure to delete")}}？');"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %} {% else %}
                        <tr>
                            <td class="text-center" colspan="6">{{trans("No Data")}}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %} {% block pagination %}
<ul class="pagination justify-content-center">
    <li class="page-item">
        <a class="page-link" href="?page=1"><i class="fa fa-angle-double-left"></i></a>
    </li>

    <li class="page-item {% if not testpaperList.has_previous() %}disable{% endif %}">
        {% if testpaperList.has_previous() %}
        <a class="page-link" href="?page={{ testpaperList.previous_page_number() }}" tabindex="-1"><i class="fa fa-angle-left"></i></a>
        {% else %}
        <a class="page-link" href="javascript:void(0);"><i class="fa fa-angle-left"></i></a>
        {% endif %}
    </li>

    {% for page in paginator.page_range %} {% if page == testpaperList.number %}
    <li class="page-item active">
        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
    </li>
    {% endif %} {% endfor %}

    <li class="page-item {% if not testpaperList.has_next() %}disable{% endif %}">
        {% if testpaperList.has_next() %}
        <a class="page-link" href="?page={{ testpaperList.next_page_number() }}"><i class="fa fa-angle-right"></i></a>
        {% else %}
        <a class="page-link" href="javascript:void(0);"><i class="fa fa-angle-right"></i></a>
        {% endif %}
    </li>

    <li class="page-item">
        <a class="page-link" href="?page={{ testpaperList.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a>
    </li>
</ul>
{% endblock %}

{% block navbarFocused %}
<script>
    navbarFocused("TestManager_navbar");
</script>
{% endblock %}