
<title>ALCPT - Proclamation Detail</title>

{% extends 'new_base.html' %} {% block path %}
<li class="breadcrumb-item active" aria-current="page">{{trans("Proclamation Detail")}}</li>
{% endblock %} {% block content %}
<main class="proclamation-detail">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <h5 class="card-header">{{trans("Proclamation Detail")}}</h5>

                    <div class="card-body">
                        <h5 class="card-title">{{ proclamation.title }}</h5>

                        <!-- <p class="card-text">{{ proclamation.text|linebreaksbr }}</p> -->
                        <p class="card-text">{{ trans("Start Time") }} : {{ time }}</p>
                        <p class="card-text">{{ trans("Duration")}} : {{ duration }} {{ trans("minutes") }}</p>

                        <footer class="blockquote-footer">
                            {{ proclamation.created_by }} {{ trans("in") }}
                            <cite title="Source Title">{{ proclamation.created_time }}</cite>
                        </footer>
                        {% if proclamation.exam_id != 0 %}
                        <button type="button" class="btn btn-outline-warning" onclick="window.location.href='{{ url('testee_start_exam', args=[proclamation.exam_id]) }}'">
                            {{trans("Start Exam")}}
                        </button>
                        {% elif proclamation.report_id != 0 %}
                        <button type="button" class="btn btn-outline-warning" onclick="window.location.href='{{ url('view_report_detail', args=[proclamation.report_id]) }}'">
                            {{trans("Check the Reply")}}
                        </button>

                        {% endif %}

                        <button type="button" class="btn btn-primary float-right" onclick="window.location.href='{{ url('notification_center') }}'">
                            {{ trans("OK") }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}