{% extends "base.html" %}

{% load web_filters %}

{% block content %}
<section class="row align-items-center">
    <section class="col-auto mr-auto">
        <h1 style="display: inline;">作答 - {{ question.question_type|readable_question_type }}</h1>
    </section>

    <div class="w-100 my-3"></div>

    <section class="col">
        <div class="card">
            <div class="card-body">
                <form class="pt-2" action="/tester/simulation-exam/{{ exam.id }}/take/" method="post">
                    {% csrf_token %}
            {% if question.question_type is 1 %}
                {% include 'question/qa/display_alone.html' with question=question show_answer=False %}
            {% elif question.question_type is 2 %}
                {% include 'question/short_conversation/display_alone.html' with question=question show_answer=False %}
            {% elif question.question_type is 3 %}
                {% include 'question/grammar/display_alone.html' with question=question show_answer=False %}
            {% elif question.question_type is 4 %}
                {% include 'question/phrase/display_alone.html' with question=question show_answer=False %}
            {% elif question.question_type is 5 %}
                {% include 'question/paragraph_understanding/display_alone.html' with question=question show_answer=False %}
            {% endif %}
                    <input type="hidden" name="id" value="{{ index }}" />

                    <section class="row mt-3">
                        <div class="col">
                        {% if has_next %}
                            <button class="btn btn-primary">下一題</button>
                        {% else %}
                            <button class="btn btn-success">結束練習</button>
                        {% endif %}
                        </div>

                        <div class="col-auto">
                            {% for answer in answers %}
                                {% if forloop.counter0|divisibleby:10 %}
                                {% if forloop.first %}
                                <ul class="pagination mb-0 d-flex justify-content-end">
                                {% else %}
                                </ul>
                                <ul class="pagination mt-3 mb-0 d-flex justify-content-end">
                                {% endif %}
                                {% endif %}
                                    <li class="page-item {% if forloop.counter0 == index %}active{% endif %}">
                                        <a class="page-link {% if answer >= 0 and forloop.counter0 != index %}bg-success text-light{% endif %}" href="/tester/simulation-exam/{{ exam.id }}/take/{{ forloop.counter0 }}">
                                            {{ forloop.counter }}
                                        </a>
                                    </li>
                                {% if forloop.last %}
                                </ul>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </section>
</section>
{% endblock %}
