<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'about_head.html' %}
</head>

<body>

    <!-- Header Section Start -->
    <header id="home" class="hero-area">
        <div class="overlay">
            <span></span>
            <span></span>
        </div>
        <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
            <div class="container">
                <a href="{{ url('Homepage') }}" class="navbar-brand"><img src="{{ static('nav-logo.png') }}" style="width:150px" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="lni-menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#services">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#features">User</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#showcase">Showcase</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#team">Team</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link page-scroll" href="#blog">Blog</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-singin" href="{{ url('Homepage') }}">Start</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row space-100">
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <div class="contents">
                        <h2 class="head-title">{{ trans("Welcome to ALCPT Online Platform") }}</h2>
                        <p>This is a place where we try to build some interesting stuff about a
                            web system for ALCPT. Hope you can improve your ability of English via
                            this system.</p>

                        <p>
                            If you have any suggestions, please leave us a message. Thank you for
                            your using.
                        </p>
                        <div class="header-button">
                            <a href="{{ url('download_system_pdf') }}" rel="nofollow" target="_blank" class="btn btn-border-filled">About System</a>
                            <a href="{{ url('download_OM_pdf') }}" rel="nofollow" target="_blank" class="btn btn-border-filled">Operation Manual</a>

                            <!-- <a href="{{ url('download_OM_pdf') }}" rel="nofollow" target="_blank" class="btn btn-border page-scroll">Operation Manual</a> -->

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12 p-0">
                    <div class="intro-img">
                        <img src="{{ static('images/about/intro.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->


    <!-- Services Section Start -->
    <section id="services" class="section">
        <div class="container">

            <div class="row">
                <!-- Start Col -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="services-item text-center">
                        <div class="icon">
                            <i class="fas fa-user-shield"></i>
                        </div>
                        <h4>Commander</h4>
                        <p>Commanders can check every students record to assure the effectiveness of learning of all the students.</p>

                    </div>
                </div>
                <!-- End Col -->
                <!-- Start Col -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="services-item text-center">
                        <div class="icon">
                            <i class="fas fa-user-graduate"></i>
                        </div>
                        <h4>Student</h4>
                        <p>Students can practice any kind of question as they wish.</p>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                <!-- End Col -->
                <!-- Start Col -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="services-item text-center">
                        <div class="icon">
                            <i class="fas fa-heart"></i>
                        </div>
                        <h4>Favorite Question</h4>
                        <p>All the question you have ever practiced or tested can be added to Favorite Question. You can review them anytime, anywhere you want!</p>
                    </div>
                </div>
                <!-- End Col -->

            </div>
        </div>
    </section>
    <!-- Services Section End -->



    <!-- Business Plan Section Start -->
    <section id="business-plan">
        <div class="container">

            <div class="row">
                <!-- Start Col -->
                <div class="col-lg-6 col-md-12 pl-0 pt-70 pr-5">
                    <div class="business-item-img">
                        <img src="{{ static('images/about/business-img.png') }}" class="img-fluid" alt="">
                    </div>
                </div>
                <!-- End Col -->
                <!-- Start Col -->
                <div class="col-lg-6 col-md-12 pl-4">
                    <div class="business-item-info">
                        <h3>A free practice platform for Military Academy Students</h3>
                        <p>ALCPT is short for American Language Course Placement Test.<br />
                            ALCPT distinguishes multiple user permissions, and students can
                            focus on their own permissions to practice.<br />
                            This system will also generate some simple statistical graphs to
                            make it easier for users to understand their practice status.
                            <a class="btn btn-common float-right" href="{{ url('Homepage') }}">Start</a>
                    </div>
                </div>
                <!-- End Col -->

            </div>
        </div>
    </section>
    <!-- Business Plan Section End -->



    <!-- Cool Fetatures Section Start -->
    <section id="features" class="section">
        <div class="container">
            <!-- Start Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="features-text section-header text-center">
                        <div>
                            <h2 class="section-title">User Permission</h2>
                            <div class="desc-text">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Row -->
            <!-- Start Row -->
            <div class="row featured-bg">
                <!-- Start Col -->
                <div class="col-lg-6 col-md-6 col-xs-12 p-0">
                    <!-- Start Fetatures -->
                    <div class="feature-item featured-border1">
                        <div class="feature-icon float-left">
                            <a href="{{ url('OM_SystemManager') }}"><img class="img-responsive" src="{{ static('/images/system.svg') }}" width="60%" style="padding-top: 20px; padding-left: 4px; opacity: 0.5;" alt=" Responsive image" /></a>

                        </div>
                        <div class="feature-info float-left">
                            <h4>System Manager</h4>
                            <p>User manage and </p>
                        </div>
                    </div>
                    <!-- End Fetatures -->
                </div>
                <!-- End Col -->

                <!-- Start Col -->
                <div class="col-lg-6 col-md-6 col-xs-12 p-0">
                    <!-- Start Fetatures -->
                    <div class="feature-item featured-border2">
                        <div class="feature-icon float-right">
                            <a href="{{ url('OM_TestManager') }}"><img class="img-responsive" src="{{ static('/images/checklist.svg') }}" width="60%" style="padding-top: 20px; padding-left: 6px; opacity: 0.5; " alt="Responsive image" /></a>
                        </div>
                        <div class="feature-info float-left">
                            <h4>Test Manager</h4>
                            <p>Create, edit test papers and create <br>groups of testees </p>
                        </div>
                    </div>
                    <!-- End Fetatures -->
                </div>
                <!-- End Col -->

                <!-- Start Col -->
                <div class="col-lg-6 col-md-6 col-xs-12 p-0">
                    <!-- Start Fetatures -->
                    <div class="feature-item featured-border1">
                        <div class="feature-icon float-left">
                            <a href="{{ url('OM_TBManager') }}"><img class="img-responsive" src="{{ static('/images/file-check.svg') }}" width="60%" style="padding-top: 20px; padding-left: 6px; opacity: 0.5; " alt=" Responsive image" /></a>

                        </div>
                        <div class="feature-info float-left">
                            <h4>TB Manager</h4>
                            <p> Review the questions submitted by <br>
                                the question operator and to maintain <br>
                                these questions.</p>
                        </div>
                    </div>
                    <!-- End Fetatures -->
                </div>
                <!-- End Col -->

                <!-- Start Col -->
                <div class="col-lg-6 col-md-6 col-xs-12 p-0">
                    <!-- Start Fetatures -->
                    <div class="feature-item featured-border2">
                        <div class="feature-icon float-right">
                            <a href="{{ url('OM_TBOperator') }}"><img class="img-responsive" src="{{ static('/images/file.svg') }}" width="60%" style="padding-top: 20px; padding-left: 6px; opacity: 0.5; " alt=" Responsive image" /></a>
                        </div>
                        <div class="feature-info float-left">
                            <h4>TB Operator</h4>
                            <p>add new questions and submit them to <br>
                                the bank manager for review.</p>
                        </div>
                    </div>
                    <!-- End Fetatures -->
                </div>
                <!-- End Col -->

                <!-- Start Col -->
                <div class="col-lg-6 col-md-6 col-xs-12 p-0">
                    <!-- Start Fetatures -->
                    <div class="feature-item featured-border3">
                        <div class="feature-icon float-left">
                            <a href="{{ url('OM_Viewer') }}"><img class="img-responsive" src="{{ static('/images/data-scientist.svg') }}" width="60%" style="padding-top: 20px; padding-left: 6px; opacity: 0.5; " alt=" Responsive image" /></a>
                        </div>
                        <div class="feature-info float-left">
                            <h4>Viewer</h4>
                            <p>Commander and Techer can check <br>
                                student's score.</p>
                        </div>
                    </div>
                    <!-- End Fetatures -->
                </div>
                <!-- End Col -->

                <!-- Start Col -->
                <div class="col-lg-6 col-md-6 col-xs-12 p-0">
                    <!-- Start Fetatures -->
                    <div class="feature-item">
                        <div class="feature-icon float-right">
                            <a href="{{ url('OM_Testee') }}"><img class="img-responsive" src="{{ static('/images/data-scientist.svg') }}" width="60%" style="padding-top: 20px; padding-left: 6px; opacity: 0.5; " alt=" Responsive image" /></a>
                        </div>
                        <div class="feature-info float-left">
                            <h4>Testee</h4>
                            <p>Users can practice listening <br>
                                and reading exercises in English <br>
                                through this system.</p>
                        </div>
                    </div>
                    <!-- End Fetatures -->
                </div>
                <!-- End Col -->


            </div>
            <!-- End Row -->
        </div>
    </section>
    <!-- Cool Fetatures Section End -->


    <!-- Recent Showcase Section Start -->
    <section id="showcase">
        <div class="container-fluid right-position">
            <!-- Start Row -->
            <div class="row gradient-bg">
                <div class="col-lg-12">
                    <div class="showcase-text section-header text-center">
                        <div>
                            <h2 class="section-title">Showcase</h2>
                            <div class="desc-text">
                                <p></p>
                            </div>
                        </div>
                        <video width="900" controls autoplay loop muted>
                            <source src="{{ static('/demo/demo20201010.mp4') }}" type="video/mp4">

                            </source>
                        </video>
                    </div>

                </div>

            </div>
            <!-- End Row -->

            <!-- Start Row -->
            <!-- End Row -->
        </div>
    </section>
    <!-- Recent Showcase Section End -->


    <!-- Client Testimoninals Section Start -->

    <!-- Client Testimoninals Section End -->


    <!-- Team section Start -->
    <section id="team" class="section">
        <div class="container">
            <!-- Start Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-text section-header text-center">
                        <div>
                            <h2 class="section-title">Team Members</h2>
                            <div class="desc-text">
                                <p>National Defense University of Management College</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Row -->
            <!-- Start Row -->
            <div class="row">
                <!-- Start Col -->
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="{{ static('/images/劉昀昕.jpg') }}" class="img-fluid" style="opacity:0.8" alt="">
                        </div>

                        <div class="team-details">
                            <div class="team-social-icons">
                                <ul class="social-list">
                                    <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-google-plus"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-inner text-center">
                                <h5 class="team-title">Patric Green</h5>
                                <p>Project Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Col -->

                <!-- Start Col -->
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="{{ static('/images/黃柏豪.jpg') }}" class="img-fluid" style="opacity:0.8" alt="">
                        </div>

                        <div class="team-details">
                            <div class="team-social-icons">
                                <ul class="social-list">
                                    <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-google-plus"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-inner text-center">
                                <h5 class="team-title">黃柏豪</h5>
                                <p>Back-end Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Col -->

                <!-- Start Col -->
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="{{ static('/images/黃子祐.jpg') }}" class="img-fluid" style="opacity:0.8" alt="">
                        </div>

                        <div class="team-details">
                            <div class="team-social-icons">
                                <ul class="social-list">
                                    <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-google-plus"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-inner text-center">
                                <h5 class="team-title">黃子祐</h5>
                                <p>Web developer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Col -->

                <!-- Start Col -->
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="{{ static('/images/賴昱婷.jpg') }}" class="img-fluid" style="opacity:0.8" alt="">
                        </div>

                        <div class="team-details">
                            <div class="team-social-icons">
                                <ul class="social-list">
                                    <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-google-plus"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-inner text-center">
                                <h5 class="team-title">賴昱婷</h5>
                                <p>Web developer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Col -->


            </div>
            <!-- End Row -->
        </div>
    </section>
    <!-- Team section End -->


    <!-- Blog Section -->
    <!-- <section id="blog" class="section"> -->
    <!-- Container Starts -->
    <!-- <div class="container"> -->
    <!-- Start Row -->
    <!-- <div class="row">
                <div class="col-lg-12">
                    <div class="blog-text section-header text-center">
                        <div>
                            <h2 class="section-title">Latest Blog Posts</h2>
                            <div class="desc-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
                                <p>eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div> -->
    <!-- End Row -->
    <!-- Start Row -->
    <!-- <div class="row"> -->
    <!-- Start Col -->
    <!-- <div class="col-lg-4 col-md-6 col-xs-12 blog-item"> -->
    <!-- Blog Item Starts -->
    <!-- <div class="blog-item-wrapper">
                        <div class="blog-item-img">
                            <a href="single-post.html">
                                <img src="img/blog/01.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="blog-item-text">
                            <h3><a href="single-post.html">How Slick Will Transform <br>Your Business</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                            <a href="" class="read-more">5 Min read</a>
                        </div>
                        <div class="author">
                            <span class="name"><i class="lni-user"></i><a href="#">Posted by Admin</a></span>
                            <span class="date float-right"><i class="lni-calendar"></i><a href="#">10 April, 2020</a></span>
                        </div>
                    </div> -->
    <!-- Blog Item Wrapper Ends-->
    <!-- </div> -->
    <!-- End Col -->
    <!-- Start Col -->
    <!-- <div class="col-lg-4 col-md-6 col-xs-12 blog-item"> -->
    <!-- Blog Item Starts -->
    <!-- <div class="blog-item-wrapper">
                        <div class="blog-item-img">
                            <a href="single-post.html">
                                <img src="img/blog/02.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="blog-item-text">
                            <h3><a href="single-post.html">Growth Techniques for <br>New Startups</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                            <a href="" class="read-more">5 Min read</a>
                        </div>
                        <div class="author">
                            <span class="name"><i class="lni-user"></i><a href="#">Posted by Admin</a></span>
                            <span class="date float-right"><i class="lni-calendar"></i><a href="#">10 April, 2020</a></span>
                        </div>
                    </div> -->
    <!-- Blog Item Wrapper Ends-->
    <!-- </div> -->
    <!-- End Col -->
    <!-- Start Col -->
    <!-- <div class="col-lg-4 col-md-6 col-xs-12 blog-item"> -->
    <!-- Blog Item Starts -->
    <!-- <div class="blog-item-wrapper">
                        <div class="blog-item-img">
                            <a href="single-post.html">
                                <img src="img/blog/03.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="blog-item-text">
                            <h3><a href="single-post.html">Writing Professional <br>Emails to Customers</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                            <a href="" class="read-more">5 Min read</a>
                        </div>
                        <div class="author">
                            <span class="name"><i class="lni-user"></i><a href="#">Posted by Admin</a></span>
                            <span class="date float-right"><i class="lni-calendar"></i><a href="#">10 April, 2020</a></span>
                        </div>
                    </div> -->
    <!-- Blog Item Wrapper Ends-->
    <!-- </div> -->
    <!-- End Col -->

    <!-- </div> -->
    <!-- End Row -->
    <!-- </div> -->
    <!-- </section> -->
    <!-- blog Section End -->

    <!-- Contact Us Section -->
    <section id="contact" class="section">
        <!-- Container Starts -->
        <div class="container">
            <!-- Start Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-text section-header text-center">
                        <div>
                            <h2 class="section-title">Get In Touch</h2>
                            <div class="desc-text">
                                <p>If you have any question, please contact us.</p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Row -->
            <!-- Start Row -->
            <div class="row">
                <!-- Start Col -->
                <div class="col-lg-6 col-md-12">
                    <form id="contactForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Subject" id="msg_subject" class="form-control" name="msg_subject" required data-error="Please enter your subject">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Email" required data-error="Please enter your Email">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="message" name="message" placeholder="Write Message" rows="4" data-error="Write your message" required></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="submit-button">
                                    <button class="btn btn-common" id="submit" type="submit">Submit</button>
                                    <div id="msgSubmit" class="h3 hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End Col -->
                <!-- Start Col -->
                <div class="col-lg-1">

                </div>
                <!-- End Col -->
                <!-- Start Col -->
                <div class="col-lg-4 col-md-12">
                    <div class="contact-img">
                        <img src="{{ static('nav-logo.png') }}" class="img-fluid" alt="">
                    </div>
                </div>
                <!-- End Col -->
                <!-- Start Col -->
                <div class="col-lg-1">
                </div>
                <!-- End Col -->

            </div>
            <!-- End Row -->
        </div>
    </section>
    <!-- Contact Us Section End -->

    <!-- Footer Section Start -->
    {% include 'footer.html' %}
    <!-- Footer Section End -->


    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
        <i class="lni-chevron-up"></i>
    </a>

    <!-- Preloader -->
    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    {% include 'about_head.html' %}


</body>


</html>