<!DOCTYPE html>
<html lang="en">
    <title>ALCPT - Homepage</title>

<head>
    {% include 'about_head.html' %}
</head>

<!-- JS that disable right mouse click -->

<body oncontextmenu=self.event.returnValue=false onselectstart="return false">
    
    <!-- Header Section Start -->
    <header id="home" class="hero-area">
        <div class="overlay">
            <span></span>
            <span></span>
        </div>
        <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
            <div class="container">
                <a href="{{ url('Homepage') }}" class="navbar-brand"><img src="{{ static('/logo/nav-logo-white.png') }}" style="width:200px" alt="" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="lni-menu"></i>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    
                    <ul class="navbar-nav mr-auto w-100 justify-content-end">  
                       
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#home">{{trans("Home")}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#services">{{trans("About")}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#features">{{trans("Manuallist")}}</a>
                        </li>
                        
                        
                    
                </div>
                <div class="dropdown">
                    <button class="btn btn-singin dropdown-toggle"
                     type="button" data-toggle="dropdown">
                        {{trans("Language")}}
                    </button> 
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/en-us/">English</a>
                        </li>
                        <li>
                            <a href="/zh/">繁體中文</a>
                        </li>
                    </ul>
                </div>
                {% if user.is_authenticated %} 
                             
                    <a class="btn btn-singin" href="{{url('Homepage')}}">{{trans("Start")}}</a>  
      
                {% else %}
            
                    <a class="btn btn-singin" href="{{url('login')}}">{{trans("Start")}}</a>  
            
                {% endif %}
            </div>
        </nav>
        <div class="container">
            <div class="row space-100">
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <div class="contents">
                        <h2 class="head-title">{{ trans("Welcome to ALCPT Online Platform") }}</h2>
                        <p>{{trans("ALCPT is a website that helps you improve your English Proficiency and evaluate learning effectiveness.")}}</p>


                        <div class="header-button">
                            <!-- <a href="{{ url('Download_system_pdf') }}" rel="nofollow" target="_blank" class="btn btn-border-filled">{{trans("About System")}}</a> -->
                            <a href="{{ url('project_history') }}" rel="nofollow" class="btn btn-border-filled">{{trans("About System")}}</a>

                            <a href="{{ url('Download_OM_pdf') }}" rel="nofollow" target="_blank" class="btn btn-border-filled">{{trans("Operation Manual")}}</a>


                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12 p-0">
                    <div class="intro-img">
                        <img src="{{ static('images/about/alcpt_intro.png') }}" style="padding-left: 50px " alt="" />
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->


    <!-- Services Section Start -->
    <section id="services" class="section">
        <div class="container">

            <div class="row">
                <!-- Start Col -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="services-item text-center">
                        <div class="icon">
                            <i class="fas fa-user-shield"></i>
                        </div>
                        <h4>{{trans("Commander")}}</h4>
                        <p>{{trans("Commanders can check every students record to assure the effectiveness of learning of all the students.")}}</p><br /><br />

                    </div>
                </div>
                <!-- End Col -->
                <!-- Start Col -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="services-item text-center">
                        <div class="icon">
                            <i class="fas fa-user-graduate"></i>
                        </div>
                        <h4>{{trans("Student")}}</h4>
                        <p>{{trans("Students can practice any kind of question as they wish.")}}</p>

                        <br>
                        <br>
                    </div>
                </div>
                <!-- End Col -->
                <!-- Start Col -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="services-item text-center">
                        <div class="icon">
                            <i class="fas fa-heart"></i>
                        </div>
                        <h4>{{trans("Favorite Question")}}</h4>
                        <p>{{trans("All the question you have ever practiced or tested can be added to Favorite Question. You can review them anytime, anywhere you want!")}}</p><br />
                    </div>
                </div>
                <!-- End Col -->

            </div>
        </div>
    </section>
    <!-- Services Section End -->



    <!-- Business Plan Section Start -->
    <section id="business-plan">
        <div class="container">

            <div class="row">
                <!-- Start Col -->
                <div class="col-lg-6 col-md-12 pl-0 pt-70 pr-5">
                    <div class="business-item-img">
                        <img src="{{ static('images/about/alcpt_intro2.png') }}" class="img-fluid" alt="" />
                    </div>
                </div>
                <!-- End Col -->
                <!-- Start Col -->
                <div class="col-lg-6 col-md-12 pl-4">
                    <div class="business-item-info">
                        <h3>{{trans("A free practice platform for Military Academy Students.")}}</h3>
                        <p>{{trans("ALCPT distinguishes multiple user permissions, and students can focus on their own permissions to practice.")}}<br />
                            {{trans("This system will also generate some simple statistical graphs to make it easier for users to understand their practice status.")}}
                            <a class="btn btn-common float-right" href="{{ url('Homepage') }}">{{trans("Start")}}</a>
                    </div>
                </div>
                <!-- End Col -->

            </div>
        </div>
    </section>
    <!-- Business Plan Section End -->

    <!-- Cool Fetatures Section Start -->
    <section id="features" class="section">
        <div class="container">
            <!-- Start Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="features-text section-header text-center">
                        <div>
                            <h2 class="section-title">{{trans("User Permission")}}</h2>
                            <div class="desc-text">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Row -->
            <!-- Start Row -->
            <div class="row featured-bg">
                <!-- Start Col -->
                <div class="col-lg-6 col-md-6 col-xs-12 p-0">
                    <!-- Start Fetatures -->
                    <div class="feature-item featured-border1">
                        <div class="feature-icon float-left">
                            <a href="{{ url('OM_SystemManager') }}"><img class="img-responsive" src="{{ static('/images/system.svg') }}" width="60%" style="padding-top: 20px; padding-left: 4px; opacity: 0.5;" alt=" Responsive image" /></a>

                        </div>
                        <div class="feature-info float-left">
                            <h4>{{trans("System Manager")}}</h4>
                            <p>{{trans("Mainly responsible for the")}}<br>{{trans(" control system category data")}}</p>
                        </div>
                    </div>
                    <!-- End Fetatures -->
                </div>
                <!-- End Col -->

                <!-- Start Col -->
                <div class="col-lg-6 col-md-6 col-xs-12 p-0">
                    <!-- Start Fetatures -->
                    <div class="feature-item featured-border2">
                        <div class="feature-icon float-right">
                            <a href="{{ url('OM_TestManager') }}"><img class="img-responsive" src="{{ static('/images/checklist.svg') }}" width="60%" style="padding-top: 20px; padding-left: 6px; opacity: 0.5; " alt="Responsive image" /></a>
                        </div>
                        <div class="feature-info float-left">
                            <h4>{{trans("Test Manager")}}</h4>
                            <p>{{trans("Create, edit test papers and create ")}}<br>{{trans("groups of testees ")}}</p>
                        </div>
                    </div>
                    <!-- End Fetatures -->
                </div>
                <!-- End Col -->

                <!-- Start Col -->
                <div class="col-lg-6 col-md-6 col-xs-12 p-0">
                    <!-- Start Fetatures -->
                    <div class="feature-item featured-border1">
                        <div class="feature-icon float-left">
                            <a href="{{ url('OM_TBManager') }}"><img class="img-responsive" src="{{ static('/images/file-check.svg') }}" width="60%" style="padding-top: 20px; padding-left: 6px; opacity: 0.5; " alt=" Responsive image" /></a>

                        </div>
                        <div class="feature-info float-left">
                            <h4>{{trans("TB Manager")}}</h4>
                            <p> {{trans("Review the questions submitted by the")}}<br>{{trans(" question operator and to maintain these questions.")}}</p>
                        </div>
                    </div>
                    <!-- End Fetatures -->
                </div>
                <!-- End Col -->

                <!-- Start Col -->
                <div class="col-lg-6 col-md-6 col-xs-12 p-0">
                    <!-- Start Fetatures -->
                    <div class="feature-item featured-border2">
                        <div class="feature-icon float-right">
                            <a href="{{ url('OM_TBOperator') }}"><img class="img-responsive" src="{{ static('/images/file.svg') }}" width="60%" style="padding-top: 20px; padding-left: 6px; opacity: 0.5; " alt=" Responsive image" /></a>
                        </div>
                        <div class="feature-info float-left">
                            <h4>{{trans("TB Operator")}}</h4>
                            <p>{{trans("add new questions and submit them to ")}}<br>
                                {{trans("the TB manager for review.")}}
                            </p>
                        </div>
                    </div>
                    <!-- End Fetatures -->
                </div>
                <!-- End Col -->

                <!-- Start Col -->
                <div class="col-lg-6 col-md-6 col-xs-12 p-0">
                    <!-- Start Fetatures -->
                    <div class="feature-item featured-border3">
                        <div class="feature-icon float-left">
                            <a href="{{ url('OM_Viewer') }}"><img class="img-responsive" src="{{ static('/images/data-scientist.svg') }}" width="60%" style="padding-top: 20px; padding-left: 6px; opacity: 0.5; " alt=" Responsive image" /></a>
                        </div>
                        <div class="feature-info float-left">
                            <h4>{{trans("Viewer")}}</h4>
                            <p>{{trans("Commander and Techer can check ")}}<br>
                                {{trans("student's score.")}}
                            </p>
                        </div>
                    </div>
                    <!-- End Fetatures -->
                </div>
                <!-- End Col -->

                <!-- Start Col -->
                <div class="col-lg-6 col-md-6 col-xs-12 p-0">
                    <!-- Start Fetatures -->
                    <div class="feature-item">
                        <div class="feature-icon float-right">
                            <a href="{{ url('OM_Testee') }}"><img class="img-responsive" src="{{ static('/images/data-scientist.svg') }}" width="60%" style="padding-top: 20px; padding-left: 6px; opacity: 0.5; " alt=" Responsive image" /></a>
                        </div>
                        <div class="feature-info float-left">
                            <h4>{{trans("Testee")}}</h4>
                            <p>{{trans("Users can practice listening ")}}<br>
                                {{trans("and reading exercises in English ")}}<br>
                                {{trans("through this system.")}}
                            </p>
                        </div>
                    </div>
                    <!-- End Fetatures -->
                </div>
                <!-- End Col -->

            </div>
            <!-- End Row -->
        </div>
    </section>
    <!-- Cool Fetatures Section End -->

    <!-- Footer Section Start -->
    {% include 'footer.html' %}
    <!-- Footer Section End -->

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
        <i class="lni-chevron-up"></i>
    </a>

    <!-- Preloader -->
    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    {% include 'about_foot.html' %}
</body>

</html>
