<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'about_head.html' %}
</head>

<!-- JS that disable right mouse click -->

<body oncontextmenu=self.event.returnValue=false onselectstart="return false">

    <!-- Header Section Start -->
    <header id="home" class="hero-area">
        <div class="overlay">
            <span></span>
            <span></span>
        </div>
        <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
            <div class="container">
                <a href="{{ url('Homepage') }}" class="navbar-brand"><img src="{{ static('/logo/nav-logo-white.png') }}" style="width:130px" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="lni-menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#home">{{trans("Home")}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#services">{{trans("About")}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#features">{{trans("User")}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#showcase">{{trans("Showcase")}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#testimonial">{{trans("Review")}}</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#team">{{trans("Team")}}</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link page-scroll" href="#blog">Blog</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#contact">{{trans("Contact")}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-singin" href="{{ url('Homepage') }}">{{trans("Start")}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row space-100">
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <div class="contents">
                        <h2 class="head-title">{{ trans("Welcome to ALCPT Online Platform") }}</h2>
                        <p>{{trans("ALCPT is a website helps you improve your English Proficiency and evalute learning effectiveness.")}}</p>


                        <div class="header-button">
                            <a href="{{ url('download_system_pdf') }}" rel="nofollow" target="_blank" class="btn btn-border-filled">{{trans("About System")}}</a>
                            <a href="{{ url('download_OM_pdf') }}" rel="nofollow" target="_blank" class="btn btn-border-filled">{{trans("Operation Manual")}}</a>

                            <!-- <a href="{{ url('download_OM_pdf') }}" rel="nofollow" target="_blank" class="btn btn-border page-scroll">Operation Manual</a> -->

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12 p-0">
                    <div class="intro-img">
                        <img src="{{ static('images/about/alcpt_intro.png') }}" style="padding-left: 50px " alt="">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->


    <!-- Services Section Start -->
    <section id="services" class="section">
        <div class="container">

            <div class="row">
                <!-- Start Col -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="services-item text-center">
                        <div class="icon">
                            <i class="fas fa-user-shield"></i>
                        </div>
                        <h4>{{trans("Commander")}}</h4>
                        <p>{{trans("Commanders can check every students record to assure the effectiveness of learning of all the students.")}}</p>

                    </div>
                </div>
                <!-- End Col -->
                <!-- Start Col -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="services-item text-center">
                        <div class="icon">
                            <i class="fas fa-user-graduate"></i>
                        </div>
                        <h4>{{trans("Student")}}</h4>
                        <p>{{trans("Students can practice any kind of question as they wish.")}}</p>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                <!-- End Col -->
                <!-- Start Col -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="services-item text-center">
                        <div class="icon">
                            <i class="fas fa-heart"></i>
                        </div>
                        <h4>{{trans("Favorite Question")}}</h4>
                        <p>{{trans("All the question you have ever practiced or tested can be added to Favorite Question. You can review them anytime, anywhere you want!")}}</p>
                    </div>
                </div>
                <!-- End Col -->

            </div>
        </div>
    </section>
    <!-- Services Section End -->



    <!-- Business Plan Section Start -->
    <section id="business-plan">
        <div class="container">

            <div class="row">
                <!-- Start Col -->
                <div class="col-lg-6 col-md-12 pl-0 pt-70 pr-5">
                    <div class="business-item-img">
                        <img src="{{ static('images/about/alcpt_intro2.png') }}" class="img-fluid" alt="">
                    </div>
                </div>
                <!-- End Col -->
                <!-- Start Col -->
                <div class="col-lg-6 col-md-12 pl-4">
                    <div class="business-item-info">
                        <h3>{{trans("A free practice platform for Military Academy Students.")}}</h3>
                        <p>{{trans("ALCPT is short for American Language Course Placement Test.")}}<br />
                            {{trans("ALCPT distinguishes multiple user permissions, and students can focus on their own permissions to practice.")}}<br />
                            {{trans("This system will also generate some simple statistical graphs to make it easier for users to understand their practice status.")}}
                            <a class="btn btn-common float-right" href="{{ url('Homepage') }}">{{trans("Start")}}</a>
                    </div>
                </div>
                <!-- End Col -->

            </div>
        </div>
    </section>
    <!-- Business Plan Section End -->



    <!-- Cool Fetatures Section Start -->
    <section id="features" class="section">
        <div class="container">
            <!-- Start Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="features-text section-header text-center">
                        <div>
                            <h2 class="section-title">{{trans("User Permission")}}</h2>
                            <div class="desc-text">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Row -->
            <!-- Start Row -->
            <div class="row featured-bg">
                <!-- Start Col -->
                <div class="col-lg-6 col-md-6 col-xs-12 p-0">
                    <!-- Start Fetatures -->
                    <div class="feature-item featured-border1">
                        <div class="feature-icon float-left">
                            <a href="{{ url('OM_SystemManager') }}"><img class="img-responsive" src="{{ static('/images/system.svg') }}" width="60%" style="padding-top: 20px; padding-left: 4px; opacity: 0.5;" alt=" Responsive image" /></a>

                        </div>
                        <div class="feature-info float-left">
                            <h4>{{trans("System Manager")}}</h4><br>
                            <p>{{trans("Mainly responsible for the")}}<br>{{trans("control system category data")}}</p>
                        </div>
                    </div>
                    <!-- End Fetatures -->
                </div>
                <!-- End Col -->

                <!-- Start Col -->
                <div class="col-lg-6 col-md-6 col-xs-12 p-0">
                    <!-- Start Fetatures -->
                    <div class="feature-item featured-border2">
                        <div class="feature-icon float-right">
                            <a href="{{ url('OM_TestManager') }}"><img class="img-responsive" src="{{ static('/images/checklist.svg') }}" width="60%" style="padding-top: 20px; padding-left: 6px; opacity: 0.5; " alt="Responsive image" /></a>
                        </div>
                        <div class="feature-info float-left">
                            <h4>{{trans("Test Manager")}}</h4>
                            <p>{{trans("Create, edit test papers and create ")}}<br>{{trans("groups of testees ")}}</p>
                        </div>
                    </div>
                    <!-- End Fetatures -->
                </div>
                <!-- End Col -->

                <!-- Start Col -->
                <div class="col-lg-6 col-md-6 col-xs-12 p-0">
                    <!-- Start Fetatures -->
                    <div class="feature-item featured-border1">
                        <div class="feature-icon float-left">
                            <a href="{{ url('OM_TBManager') }}"><img class="img-responsive" src="{{ static('/images/file-check.svg') }}" width="60%" style="padding-top: 20px; padding-left: 6px; opacity: 0.5; " alt=" Responsive image" /></a>

                        </div>
                        <div class="feature-info float-left">
                            <h4>{{trans("TB Manager")}}</h4>
                            <p> {{trans("Review the questions submitted by the")}}<br>{{trans("question operator and to maintain these questions.")}}</p>
                        </div>
                    </div>
                    <!-- End Fetatures -->
                </div>
                <!-- End Col -->

                <!-- Start Col -->
                <div class="col-lg-6 col-md-6 col-xs-12 p-0">
                    <!-- Start Fetatures -->
                    <div class="feature-item featured-border2">
                        <div class="feature-icon float-right">
                            <a href="{{ url('OM_TBOperator') }}"><img class="img-responsive" src="{{ static('/images/file.svg') }}" width="60%" style="padding-top: 20px; padding-left: 6px; opacity: 0.5; " alt=" Responsive image" /></a>
                        </div>
                        <div class="feature-info float-left">
                            <h4>{{trans("TB Operator")}}</h4>
                            <p>{{trans("add new questions and submit them to ")}}<br>
                                {{trans("the TB manager for review.")}}
                            </p>
                        </div>
                    </div>
                    <!-- End Fetatures -->
                </div>
                <!-- End Col -->

                <!-- Start Col -->
                <div class="col-lg-6 col-md-6 col-xs-12 p-0">
                    <!-- Start Fetatures -->
                    <div class="feature-item featured-border3">
                        <div class="feature-icon float-left">
                            <a href="{{ url('OM_Viewer') }}"><img class="img-responsive" src="{{ static('/images/data-scientist.svg') }}" width="60%" style="padding-top: 20px; padding-left: 6px; opacity: 0.5; " alt=" Responsive image" /></a>
                        </div>
                        <div class="feature-info float-left">
                            <h4>{{trans("Viewer")}}</h4>
                            <p>{{trans("Commander and Techer can check ")}}<br>
                                {{trans("student's score.")}}
                            </p>
                        </div>
                    </div>
                    <!-- End Fetatures -->
                </div>
                <!-- End Col -->

                <!-- Start Col -->
                <div class="col-lg-6 col-md-6 col-xs-12 p-0">
                    <!-- Start Fetatures -->
                    <div class="feature-item">
                        <div class="feature-icon float-right">
                            <a href="{{ url('OM_Testee') }}"><img class="img-responsive" src="{{ static('/images/data-scientist.svg') }}" width="60%" style="padding-top: 20px; padding-left: 6px; opacity: 0.5; " alt=" Responsive image" /></a>
                        </div>
                        <div class="feature-info float-left">
                            <h4>{{trans("Testee")}}</h4>
                            <p>{{trans("Users can practice listening ")}}<br>
                                {{trans("and reading exercises in English ")}}<br>
                                {{trans("through this system.")}}
                            </p>
                        </div>
                    </div>
                    <!-- End Fetatures -->
                </div>
                <!-- End Col -->


            </div>
            <!-- End Row -->
        </div>
    </section>
    <!-- Cool Fetatures Section End -->

    <!-- Recent Showcase Section Start -->
    <section id="showcase">
        <div class="container-fluid right-position">
            <!-- Start Row -->
            <div class="row gradient-bg">
                <div class="col-lg-12">
                    <div class="showcase-text section-header text-center">
                        <div>
                            <h2 class="section-title">{{trans("Showcase")}}</h2>
                            <div class="desc-text">
                                <p></p>
                            </div>
                        </div>
                        <video class="col-md-8" controls autoplay loop muted>
                            <source class="col-md-6" src="{{ static('/demo/demo20201010.mp4') }}" type="video/mp4">

                            </source>
                        </video>
                    </div>

                </div>

            </div>
            <!-- End Row -->

            <!-- Start Row -->
            <!-- End Row -->
        </div>
    </section>
    <!-- Recent Showcase Section End -->


    <!-- Client Testimoninals Section Start -->
    <section id="testimonial" class="section">
        <div class="container right-position">
            <!-- Start Row -->

            <!-- End Row -->

            <!-- Start Row -->
            <div class="row justify-content-center testimonial-area">
                <h2 class="section-title">{{trans("User Review")}}</h2>
                <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 pr-20 " style="overflow: hidden;padding-bottom: 60px">

                    <div id="client-testimonial" class="text-center owl-carousel">

                        <div class="item">
                            <div class="testimonial-item">
                                <div class="content-inner">
                                    <img src="{{ static('/logo/nav-logo-line.png') }}" class="img-fluid" width="500px" style="opacity:0.8" alt="">

                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="testimonial-item">
                                <div class="content-inner">
                                    <p class="description">想放假zzz</p>
                                    <div class="author-info">
                                        <h5>劉昀昕 | <span> {{trans("Project Manager")}}</span></h5>
                                    </div>
                                </div>
                                <div class="client-thumb">
                                    <img src="{{ static('/images/劉昀昕.jpg') }}" width="50px" style="border-radius: 50%;" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-item">
                                <div class="content-inner">
                                    <p class="description">Peko peko peko?</p>
                                    <div class="author-info">
                                        <h5>黃柏豪 | <span>{{trans("Back-end Developer")}}</span></h5>
                                    </div>
                                </div>
                                <div class="client-thumb">
                                    <img src="{{ static('/images/黃柏豪.png') }}" width="50px" style="border-radius: 50%;" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-item">
                                <div class="content-inner">
                                    <p class="description">好厭世zzzZZ</p>
                                    <div class="author-info">
                                        <h5>黃子祐 | <span>{{trans("Front-endDeveloper")}}; {{trans("Tester")}}</span></h5>
                                    </div>
                                </div>
                                <div class="client-thumb">
                                    <img src="{{ static('/images/黃子祐.png') }}" width="50px" style="border-radius: 50%;" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-item">
                                <div class="content-inner">
                                    <p class="description">想睡覺了zzz</p>
                                    <div class="author-info">
                                        <h5>賴昱婷 | <span> {{trans("Front-end Developer")}}; {{trans("Translator")}}</span></h5>
                                    </div>
                                </div>
                                <div class="client-thumb">
                                    <img src="{{ static('/images/賴昱婷2.png') }}" width="50px" style="border-radius: 50%;" alt="">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!-- End Row -->
        </div>
    </section>
    <!-- Client Testimoninals Section End -->

    <!-- Team section Start -->
    <section id="team" class="section">
        <div class="container">
            <!-- Start Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-text section-header text-center">
                        <div>
                            <h2 class="section-title">{{trans("Team Members")}}</h2>
                            <div class="desc-text">
                                <p>{{trans("National Defense University of Management College")}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Row -->
            <!-- Start Row -->
            <div class="row">
                <!-- Start Col -->
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="{{ static('/images/劉昀昕.jpg') }}" class="img-fluid" style="opacity:0.8" alt="">
                        </div>

                        <div class="team-details">
                            <div class="team-social-icons">
                                <ul class="social-list">
                                    <li><a href="https://www.instagram.com/lovedrinkcafe/"><i class="lni-instagram-filled"></i></a></li>
                                    <li><a href="https://twitter.com/Liu_Licht"><i class="lni-twitter-filled"></i></a></li>
                                    <li><a href="https://www.facebook.com/lovedrinkcafe"><i class="lni-facebook-filled"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-inner text-center">
                                <h5 class="team-title">劉昀昕</h5>
                                <p>{{trans("Project Manager")}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Col -->

                <!-- Start Col -->
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="{{ static('/images/黃柏豪.png') }}" class="img-fluid" style="opacity:0.8" alt="">
                        </div>

                        <div class="team-details">
                            <div class="team-social-icons">
                                <ul class="social-list">
                                    <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-google-plus"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-inner text-center">
                                <h5 class="team-title">黃柏豪</h5>
                                <p>{{trans("Back-end Developer")}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Col -->

                <!-- Start Col -->
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="{{ static('/images/黃子祐.png') }}" class="img-fluid" style="opacity:0.8" alt="">
                        </div>

                        <div class="team-details">
                            <div class="team-social-icons">
                                <ul class="social-list">
                                    <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-google-plus"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-inner text-center">
                                <h5 class="team-title">黃子祐</h5>
                                <p>{{trans("Web developer")}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Col -->

                <!-- Start Col -->
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="{{ static('/images/賴昱婷2.png') }}" class="img-fluid" style="opacity:0.8" alt="">
                        </div>

                        <div class="team-details">
                            <div class="team-social-icons">
                                <ul class="social-list">
                                    <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-google-plus"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-inner text-center">
                                <h5 class="team-title">賴昱婷</h5>
                                <p>{{trans("Web developer")}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Col -->


            </div>
            <!-- End Row -->
        </div>
    </section>
    <!-- Team section End -->




    <!-- Blog Section -->
    <!-- <section id="blog" class="section"> -->
    <!-- Container Starts -->
    <!-- <div class="container"> -->
    <!-- Start Row -->
    <!-- <div class="row">
                <div class="col-lg-12">
                    <div class="blog-text section-header text-center">
                        <div>
                            <h2 class="section-title">Latest Blog Posts</h2>
                            <div class="desc-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
                                <p>eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div> -->
    <!-- End Row -->
    <!-- Start Row -->
    <!-- <div class="row"> -->
    <!-- Start Col -->
    <!-- <div class="col-lg-4 col-md-6 col-xs-12 blog-item"> -->
    <!-- Blog Item Starts -->
    <!-- <div class="blog-item-wrapper">
                        <div class="blog-item-img">
                            <a href="single-post.html">
                                <img src="img/blog/01.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="blog-item-text">
                            <h3><a href="single-post.html">How Slick Will Transform <br>Your Business</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                            <a href="" class="read-more">5 Min read</a>
                        </div>
                        <div class="author">
                            <span class="name"><i class="lni-user"></i><a href="#">Posted by Admin</a></span>
                            <span class="date float-right"><i class="lni-calendar"></i><a href="#">10 April, 2020</a></span>
                        </div>
                    </div> -->
    <!-- Blog Item Wrapper Ends-->
    <!-- </div> -->
    <!-- End Col -->
    <!-- Start Col -->
    <!-- <div class="col-lg-4 col-md-6 col-xs-12 blog-item"> -->
    <!-- Blog Item Starts -->
    <!-- <div class="blog-item-wrapper">
                        <div class="blog-item-img">
                            <a href="single-post.html">
                                <img src="img/blog/02.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="blog-item-text">
                            <h3><a href="single-post.html">Growth Techniques for <br>New Startups</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                            <a href="" class="read-more">5 Min read</a>
                        </div>
                        <div class="author">
                            <span class="name"><i class="lni-user"></i><a href="#">Posted by Admin</a></span>
                            <span class="date float-right"><i class="lni-calendar"></i><a href="#">10 April, 2020</a></span>
                        </div>
                    </div> -->
    <!-- Blog Item Wrapper Ends-->
    <!-- </div> -->
    <!-- End Col -->
    <!-- Start Col -->
    <!-- <div class="col-lg-4 col-md-6 col-xs-12 blog-item"> -->
    <!-- Blog Item Starts -->
    <!-- <div class="blog-item-wrapper">
                        <div class="blog-item-img">
                            <a href="single-post.html">
                                <img src="img/blog/03.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="blog-item-text">
                            <h3><a href="single-post.html">Writing Professional <br>Emails to Customers</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                            <a href="" class="read-more">5 Min read</a>
                        </div>
                        <div class="author">
                            <span class="name"><i class="lni-user"></i><a href="#">Posted by Admin</a></span>
                            <span class="date float-right"><i class="lni-calendar"></i><a href="#">10 April, 2020</a></span>
                        </div>
                    </div> -->
    <!-- Blog Item Wrapper Ends-->
    <!-- </div> -->
    <!-- End Col -->

    <!-- </div> -->
    <!-- End Row -->
    <!-- </div> -->
    <!-- </section> -->
    <!-- blog Section End -->

    <!-- Contact Us Section -->
    <section id="contact" class="section">
        <!-- Container Starts -->
        <div class="container">
            <!-- Start Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-text section-header text-center">
                        <div>
                            <h2 class="section-title">{{trans("Get In Touch")}}</h2>
                            <div class="desc-text">
                                <p>{{trans("If you have any question, please contact us.")}}</p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Row -->
            <!-- Start Row -->
            <div class="row">
                <!-- Start Col -->
                <div class="col-lg-6 col-md-12">
                    <div class="contact-img">
                        <img src="{{ static('/logo/nav-logo.png') }}" class="img-fluid" alt="">
                    </div>
                </div>
                <!-- End Col -->
                <!-- Start Col -->
                <div class="col-lg-6 col-md-12">
                    <form id="contactForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="{{trans("Name")}}" required data-error="{{trans("Please enter your name")}}">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" placeholder="{{trans("Subject")}}" id="msg_subject" class="form-control" name="msg_subject" required data-error="{{trans("Please enter your subject")}}">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="email" name="email" placeholder="{{trans("Email")}}" required data-error="{{trans("Please enter your Email")}}">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="message" name="message" placeholder="{{trans("Write Message")}}" rows="4" data-error="{{trans("Write your message")}}" required></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="submit-button">
                                    <button class="btn btn-common float-right" id="submit" type="submit">{{trans("Submit")}}</button>
                                    <div id="msgSubmit" class="h3 hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End Col -->
                <!-- Start Col -->
                <div class="col-lg-1">

                </div>
                <!-- End Col -->

                <!-- Start Col -->
                <div class="col-lg-1">
                </div>
                <!-- End Col -->

            </div>
            <!-- End Row -->
        </div>
    </section>
    <!-- Contact Us Section End -->

    <!-- Footer Section Start -->
    {% include 'footer.html' %}
    <!-- Footer Section End -->


    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
        <i class="lni-chevron-up"></i>
    </a>

    <!-- Preloader -->
    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    {% include 'about_foot.html' %}


</body>


</html>