{% extends 'base_long_page.html' %}

{% block path %}
    <a href="">考試管理員</a>
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="{% url 'testee_group_list' %}">受測者群組列表</a>
    <a class="fa fa-angle-right fa-lg box"></a>
    <a href="">受測者群組（{{ group.name }}）</a>
{% endblock %}

{% block content %}
        <div class="search_bar">
            <input class="form-control" type="text" id="search_course" onkeyup="searchFunction()" placeholder="Search...">

            <style>
                .search_bar{
                    position: absolute;
                    left: 50%;
                    top: 2%;

                    width: 45%;
                }
            </style>
        </div>

        <table class="table table-hover">
            <caption style="font-size: 30px; padding-left: 5%">&nbsp;{{ group.name }}＿群組內受測者名單</caption>
            {% if group_members %}
            <tbody id="group_members">
                {% for member in group_members %}
                    <tr>
                        <td>{{ member.user.student.stu_id }}  /  {{ member.user.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            {% else %}
                <h2>目前暫無資料</h2>
            {% endif %}

            <style>
                .table-hover > tbody > tr:hover > td,
                .table-hover > tbody > tr:hover > th {
                    background-color: #4CCABD;
                }

                .table tbody{
                    font-size: 20px;
                    text-align: left;
                }

                .table tbody td{
                    vertical-align: middle;
                    color: #2C3232;
                }
            </style>
        </table>
        <div class="btn4">
            <input type="button" value="返回列表" onclick="window.location.href='{% url 'testee_group_list' %}'">

            <style>
                .btn4 input{
                    background-color: #4CCABD;
                    color: #FFFEF6;
                    border: none;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 5px;
                    padding-right: 5px;
                    font-size: 25px;

                    position: relative;
                    left: 45%;
                }
                .btn4{
                    padding-bottom: 5%;
                }
            </style>
        </div>

        <script>
            function searchFunction() {
                let input, filter, a, i, tr, td;
                input = document.getElementById("search_course");
                filter = input.value.toUpperCase();
                tr = document.getElementById("group_members");
                td = tr.getElementsByTagName("td");
                for (i = 0; i < td.length; i++) {
                    a = td[i];
                    if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        td[i].style.display = "";
                    }
                    else {
                        td[i].style.display = "none";
                    }
                }
            }
        </script>
{% endblock %}