<title>ALCPT - Testee Group Edit</title>
{% extends 'new_base.html' %}

{% block scripts %}
<script src="{{ static('/javascript/group/testee_group_edit.js') }}"></script>
{% endblock %}

{% block path %}
<li class="breadcrumb-item" aria-current="page">
    <a href="{{ url('testee_group_list') }}" onclick="return confirm('{{trans("Sure to leave and abandon editing")}}？')">{{trans("Testee Group List")}}</a>
</li>
<li class="breadcrumb-item active">{{trans("Testee Group Edit")}} - {{ group.name }}</li>
{% endblock %}

{% block content %}
<main class="testee-group-edit-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11 table-responsive">
                <h2>{{trans("All Testees List")}}</h2>
                <div class="text-right">
                    <button class="btn fa fa-check-square-o" type="button" title="Select All" onclick="selectAll();" style="font-size: 24px"></button>
                    <button class="btn fa fa-exchange" type="button" title="Reverse" onclick="reverseSelect();" style="font-size: 24px"></button>
                    <button class="btn fa fa-close" type="button" title="Cancel All" onclick="cancelAll();" style="font-size: 24px"></button>
                </div>

                <form method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <th class="text-center"></th>
                            <th class="text-center">{{trans("Name")}}</th>
                            <th class="text-center">{{trans("Department")}}</th>
                            <th class="text-center">{{trans("Squadron")}}</th>
                            <th class="text-center">{{trans("Year Grade")}}</th>
                        </thead>

                        <tbody>
                            {% for testee in testees %}
                            <tr style="cursor: pointer" class="data-row" onclick="selectRow(this)">
                                <td class="text-center">
                                    <input type="checkbox" name="testee" value="{{ testee.id }}" {% if testee in group_members %}checked{% endif %} />
                                </td>
                                <td class="text-center">{{ testee.name }}</td>
                                <td class="text-center">{{ testee.student.department }}</td>
                                <td class="text-center">{{ testee.student.squadron }}</td>
                                <td class="text-center">{{ testee.student.grade }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">{{trans("Update")}}</button>
                        <button type="button" class="btn btn-secondary" onclick="self.location=document.referrer;">
                            {{trans("Cancel")}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}