
<title>ALCPT - Testee Group Member</title>

{% extends 'new_base.html' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ static('/css/group/testee_group_member_list.css') }}" />
{% endblock %}

{% block scripts %}
<script src="{{ static('/javascript/group/testee_group_member_list.js') }}"></script>
{% endblock %}

{% block path %}
<li class="breadcrumb-item" aria-current="page">
    <a href="{{ url('testee_group_list') }}">{{trans("Testee Group List")}}</a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    {{trans("Testee Group Member List")}}
</li>
{% endblock %}
{% block content %}
<main class="testee-group-member-list">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h2>{{trans("Testee Group Member List")}}</h2>

                <div class="search_bar">
                    <input class="form-control" type="text" id="search" onkeyup="searchFunction()" placeholder="{{trans("Search by ID or Name")}}..." />
                </div>

                <div class="table-responsive">
                    <table class="table table-hover" id="table">
                        <thead class="thead-light">
                            <tr>
                                <th>{{trans("Account")}}/{{trans("Student ID")}}</th>
                                <th>{{trans("Name")}}</th>
                                <th>{{trans("Department")}}</th>
                                <th>{{trans("Squadron")}}</th>
                                <th>{{trans("Year Grade")}}</th>
                            </tr>
                        </thead>

                        <tbody id="group-members">
                            {% if group_members %} {% for member in group_members %}
                            <tr>
                                {% if member.student %}
                                <td>{{ member.student.stu_id }}</td>
                                <td>{{ member.name }}</td>
                                <td>{{ member.student.department }}</td>
                                <td>{{ member.student.squadron }}</td>
                                <td>{{ member.student.grade }}</td>
                                {% else %}
                                <td>{{ member.reg_id }}</td>
                                <td>{{ member.name }}</td>
                                <td colspan="3">{{trans("None")}}</td>
                                {% endif %}
                            </tr>
                            {% endfor %} {% else %}
                            <tr>
                                <td colspan="5" class="text-center">{{trans("No Data")}}</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>

                <div class="text-center">
                    <button type="button" class="btn btn-primary" onclick="self.location=document.referrer;">
                        {{trans("OK")}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}