{% extends 'base_long_page.html' %}

{% block path %}
    <a href="">考試管理員</a>
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="{% url 'testee_group_list' %}" onclick="return confirm('是否放棄編輯？')">受測者群組列表</a>
    <a class="fa fa-angle-right fa-lg box"></a>
    <a href="">編輯受測者群組（{{ group.name }}）</a>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    function selAll(){
        //變數checkItem為checkbox的集合
        var checkItem = document.getElementsByName("testee");
        for(var i=0;i<checkItem.length;i++){
            checkItem[i].checked=true;
        }
    }
    function unselAll(){
        //變數checkItem為checkbox的集合
        var checkItem = document.getElementsByName("testee");
        for(var i=0;i<checkItem.length;i++){
            checkItem[i].checked=false;
        }
    }
    function usel() {
        //變數checkItem為checkbox的集合
        var checkItem = document.getElementsByName("testee");
        for (var i = 0; i < checkItem.length; i++) {
            checkItem[i].checked = !checkItem[i].checked;
        }
    }
    </script>
{% endblock %}

{% block content %}
    <div class="table-responsive">
        <form action="" method="post">
            {% csrf_token %}
            <table class="table table-hover">
                <caption style="font-size: 30px; padding-left: 5%">&nbsp;{{ group.name }}＿群組內受測者名單</caption>
                <div class="function-btn">
                    <button type="button" onclick="selAll();">全選</button>
                    <button type="button" onclick="unselAll();">全取消</button>
                    <button type="button" onclick="usel();">反向選取</button>
                </div>

                <tr>
                    <th class="col-md-1"></th>
                    <th class="col-md-2">姓名</th>
                    <th class="col-md-2">科系</th>
                    <th class="col-md-2">中隊</th>
                    <th class="col-md-2">年班</th>
                </tr>

                {% for testee in testees %}
                    <tr class="data-row" onclick="selectRow(this)">
                        <td><input type="checkbox" name="testee" value="{{ testee.id }}" {% if testee in group_members %}checked{% endif %}></td>
                        <td>{{ testee.name }}</td>
                        <td>{{ testee.student.department }}</td>
                        <td>{{ testee.student.squadron }}</td>
                        <td>{{ testee.student.grade }}</td>
                    </tr>
                {% endfor %}
            </table>

            <div class="btn">
                <button type="submit" onclick="return confirm('確認變更群組？')">變更群組</button>
                <button type="reset">取消</button>
                <button type="button" onclick="self.location=document.referrer;">返回</button>
            </div>
        </form>

        <style>
            .table-responsive table{
                position: relative;
                left: 10%;

                width: 80%;
            }
            .table-responsive table th{
                font-size: 20px;
            }
            .table-responsive table th,td{
                text-align: center;
            }
            .table-responsive .data-row:hover{
                cursor: pointer;
            }

            .function-btn{
                position: absolute;
                top: 5px;
                left: 75%;
            }
            .function-btn button{
                font-size: 18px;
                padding: 10px;
                padding-left: 15px;
                padding-right: 15px;
                color: #FFFEF6;
                background-color: #4CCABD;
                border: none;
            }

            .btn{
                position: relative;
                left: 38%;
            }
            .btn button{
                font-size: 25px;
                padding: 10px;
                padding-left: 15px;
                padding-right: 15px;
                color: #FFFEF6;
                background-color: #4CCABD;
                border: none;
            }
        </style>
    </div>

    <script type="text/javascript">
        function selectRow(row)
        {
            var firstInput = row.getElementsByTagName('input')[0];
            firstInput.checked = !firstInput.checked;
        }
    </script>
{% endblock %}