{% extends 'base.html' %}

{% block path %}
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="">考試管理員</a>
    <a class="fa fa-angle-right fa-lg box"></a>
    <a href="">受測者群組列表</a>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    function selAll(){
        //變數checkItem為checkbox的集合
        var checkItem = document.getElementsByName("student");
        for(var i=0;i<checkItem.length;i++){
            checkItem[i].checked=true;
        }
    }
    function unselAll(){
        //變數checkItem為checkbox的集合
        var checkItem = document.getElementsByName("student");
        for(var i=0;i<checkItem.length;i++){
            checkItem[i].checked=false;
        }
    }
    function usel() {
        //變數checkItem為checkbox的集合
        var checkItem = document.getElementsByName("student");
        for (var i = 0; i < checkItem.length; i++) {
            checkItem[i].checked = !checkItem[i].checked;
        }
    }
    </script>
{% endblock %}

{% block content %}
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <input type="button" value="全選" onclick="selAll();">
                <input type="button" value="全取消" onclick="unselAll();">
                <input type="button" value="反向選取" onclick="usel();">
                {% for student in students %}
                    <tr>
                        <td><input type="checkbox" name="student" value="{{ student.id }}" {% if student in group_members %}checked{% endif %}>{{ student.user.name }}</td>
                    </tr>
                {% endfor %}
            </table>

            <input type="submit" value="變更群組">
        </form>
    </div>
{% endblock %}