*{
	position: relative;
	box-sizing: border-box;
	font-family: 微軟正黑體;
	list-style-type:none;
}

html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}

.wrapper{
    height: 120%;
	background-color: #FCFAF2;
}

.wrapper img{
    height: 100%;
    width: 100%;
}

.indexline{
	height: 60px;
	width: 100%;
	background-color: #3c6382;

	position: fixed;
	top: 0%;
	left: 0%;
}

.indexline img{
    height: 30px;
    width: 30px;

    position: absolute;
    top: 25%;
    left: 2%;
}

.indexline .navbar-brand{
	font-size: 25px;
	color: white;
	position: absolute;
	top: 10%;
	left: 4%;
}

/*標題列*/
ol.ddm{
	width: 610px;
	list-style-type:none;
}

ol.ddm li{
	float: left;
	margin: 0 10px 0 0;
	width: 100px;
	height: 55px;
	background-color: #3c6382;

	right: 77%;
	top: 36%;
	white-space: nowrap;
}

ol.ddm li:hover{
	background-color: #555555;
}

/*系統管理員*/
ol.ddm li.manager ul.lay1 a{
	display: block;
}

ol.ddm li.manager{
	font-size: 20px;
	color: #FFFFFF;
	text-align: center;
	line-height: 60px;
	height: 55px;
	width: 160px;
	background-color: #3c6382;


	display: inline-block;

	position: fixed;
	top: -0.2%;
	left: 21%;

	overflow: hidden;

	transition: all 1s;
}

ol.ddm li.manager:hover{
	padding: 5px;
	text-align:center;
	background-color:#3c6382;
	font-size: 20px;
	font-weight: bold;
	height: 180px;
	color: #FFFFFF;
	transition: all 0.5s;
}

ol.ddm li.manager a{
	color: #FFFFFF;
}

ol.ddm li.manager ul.lay1{
	line-height: 150%;
	color: #333;
	background-color:#3c6382;
	border-bottom:dotted 2px #FFFFFF;
    width: 160px;

	top: 2%;
	left: 40%;
}

ol.ddm li.manager ul.lay1 a,ol.ddm li.manager ul.lay1 a:visited{
	display:block;
	color:#FFFFFF;
    text-decoration:none;
	padding:4px 5px 4px 20px;
}

ol.ddm li.manager ul.lay1{
	display: none;
}

ol.ddm li.manager:hover ul.lay1,ol.ddm li.manager a:hover ul.lay1{
	display: block;

}


/*考試管理員*/
ol.ddm li.test ul.lay1 a{
	display: block;
}

ol.ddm li.test{
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 60px;
	height: 55px;
	width: 170px;
	background-color: #3c6382;

	display: inline-block;

	position: fixed;
	top: -0.2%;
	left: 30.7%;

	overflow: hidden;

	transition: all 1s;
}

ol.ddm li.test:hover{
	padding: 5px;
	text-align:center;
	background-color:#3c6382;
	font-size: 20px;
	font-weight: bold;
	height: 290px;
	width: 180px;
	color: #FFFFFF;
	text-align: center;
	transition: all 0.5s;
}

ol.ddm li.test a{
	color: #FFFFFF;
}

ol.ddm li.test ul.lay1{
	line-height: 150%;
	color: #333333;
	align-content: center;
	background-color:#3c6382;
	border-bottom:dotted 1px #666;
    width: 160px;
	border-bottom:dotted 2px #FFFFFF;

	top: 2%;
	left: 40%;
}

ol.ddm li.test ul.lay1 li{
	width: 140px;
	text-align: center;
	right: 110px;
}

ol.ddm li.test ul.lay1 a,ol.ddm li.test ul.lay1 a:visited{
	display:block;
	color:#FFFFFF;
    text-decoration:none;
	padding:4px 5px 4px 20px;
}

ol.ddm li.test ul.lay1{
	display: none;
}

ol.ddm li.test:hover ul.lay1,ol.ddm li.test a:hover ul.lay1{
	display: block;

}

/*題庫管理員*/
ol.ddm li.questionManager ul.lay1 a{
	display: block;
}

ol.ddm li.questionManager{
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 60px;
	height: 55px;
	width: 160px;
	background-color: #3c6382;

	display: inline-block;

	position: fixed;
	top: -0.2%;
	left: 40.43%;

	overflow: hidden;

	transition: all 1s;
}

ol.ddm li.questionManager:hover{
	padding: 5px;
	text-align:center;
	background-color:#3c6382;
	font-size: 20px;
	font-weight: bold;
	height: 180px;
	color: #FFFFFF;
	transition: all 0.5s;
}

ol.ddm li.questionManager a{
	color: #FFFFFF;
}

ol.ddm li.questionManager ul.lay1{
	line-height: 150%;
	color: #333;
	background-color:#3c6382;
    width: 160px;
	border-bottom:dotted 2px #FFFFFF;

	top: 2%;
	left: 40%;
}

ol.ddm li.questionManager ul.lay1 a,ol.ddm li.questionManager ul.lay1 a:visited{
	display:block;
	color:#FFFFFF;
    text-decoration:none;
	padding:4px 5px 4px 20px;
}

ol.ddm li.questionManager ul.lay1{
	display: none;
}

ol.ddm li.questionManager:hover ul.lay1,ol.ddm li.questionManager a:hover ul.lay1{
	display: block;

}

/*題庫操作員*/
ol.ddm li.questionOperator ul.lay1 a{
	display: block;
}

ol.ddm li.questionOperator{
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 60px;
	height: 55px;
	width: 160px;
	background-color: #3c6382;

	display: inline-block;

	position: fixed;
	top: -0.2%;
	left: 50.15%;

	overflow: hidden;

	transition: all 1s;
}

ol.ddm li.questionOperator:hover{
	padding: 5px;
	text-align:center;
	background-color:#3c6382;
	font-size: 20px;
	font-weight: bold;
	height: 180px;
	color: #FFFFFF;
	transition: all 0.5s;
}

ol.ddm li.questionOperator a{
	color: #FFFFFF;
}

ol.ddm li.questionOperator ul.lay1{
	line-height: 150%;
	color: #333;
	background-color:#3c6382;
    width: 160px;
	border-bottom:dotted 2px #FFFFFF;

	top: 2%;
	left: 40%;
}

ol.ddm li.questionOperator ul.lay1 a,ol.ddm li.questionOperator ul.lay1 a:visited{
	display:block;
	color:#FFFFFF;
    text-decoration:none;
	padding:4px 5px 4px 20px;
}

ol.ddm li.questionOperator ul.lay1{
	display: none;
}

ol.ddm li.questionOperator:hover ul.lay1,ol.ddm li.questionOperator a:hover ul.lay1{
	display: block;

}

/*成績檢閱者*/
ol.ddm li.scoreViewer ul.lay1 a{
	display: block;
}

ol.ddm li.scoreViewer{
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 60px;
	height: 55px;
	width: 160px;
	background-color: #3c6382;

	display: inline-block;

	position: fixed;
	top: -0.2%;
	left: 59.85%;

	overflow: hidden;

	transition: all 1s;
}

ol.ddm li.scoreViewer:hover{
	padding: 5px;
	text-align:center;
	background-color:#3c6382;
	font-size: 20px;
	font-weight: bold;
	height: 120px;
	color: #FFFFFF;
	transition: all 0.5s;
}

ol.ddm li.scoreViewer a{
	color: #FFFFFF;
}

ol.ddm li.scoreViewer ul.lay1{
	line-height: 150%;
	color: #333;
	background-color:#3c6382;
	border-bottom:dotted 2px #FFFFFF;
    width: 160px;

	top: 2%;
	left: 40%;
}

ol.ddm li.scoreViewer ul.lay1 a,ol.ddm li.scoreViewer ul.lay1 a:visited{
	display:block;
	color:#FFFFFF;
    text-decoration:none;
	padding:4px 5px 4px 20px;
}

ol.ddm li.scoreViewer ul.lay1{
	display: none;
}

ol.ddm li.scoreViewer:hover ul.lay1,ol.ddm li.scoreViewer a:hover ul.lay1{
	display: block;

}

/*受測者*/
ol.ddm li.tester ul.lay1 a{
	display: block;
}

ol.ddm li.tester{
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 60px;
	height: 55px;
	width: 160px;
	background-color: #3c6382;

	display: inline-block;

	position: fixed;
	top: -0.2%;
	left: 69.54%;

	overflow: hidden;

	transition: all 1s;
}

ol.ddm li.tester:hover{
	padding: 5px;
	text-align:center;
	background-color:#3c6382;
	font-size: 20px;
	font-weight: bold;
	height: 350px;
	color: #FFFFFF;
	transition: all 0.5s;
}

ol.ddm li.tester a{
	color: #FFFFFF;
}

ol.ddm li.tester ul.lay1{
	line-height: 150%;
	color: #333;
	background-color:#3c6382;
	border-bottom:dotted 2px #FFFFFF;
    width: 160px;

	top: 2%;
	left: 40%;
}

ol.ddm li.tester ul.lay1 a,ol.ddm li.tester ul.lay1 a:visited{
	display:block;
	color:#FFFFFF;
    text-decoration:none;
	padding:4px 5px 4px 20px;
}

ol.ddm li.tester ul.lay1{
	display: none;
}

ol.ddm li.tester:hover ul.lay1,ol.ddm li.tester a:hover ul.lay1{
	display: block;

}

/*使用者名稱*/
ol.ddmR{
	width: 610px;
	list-style-type:none;
}

ol.ddmR li{
	float: left;
	margin: 0 10px 0 0;
	width: 100px;
	height: 55px;
	background-color: #3c6382;

	right: 77%;
	top: 36%;
	white-space: nowrap;
}

ol.ddmR li.user ul.lay1 a{
	display: block;
}

ol.ddmR li.user{
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 60px;
	height: 55px;
	width: 270px;
	background-color: #3c6382;

	display: inline-block;

	position: fixed;
	top: -0.2%;
	left: 80%;

	overflow: hidden;

	transition: all 1s;
}

ol.ddmR li.user:hover{
	padding: 5px;
	text-align:center;
	background-color:#3c6382;
	font-size: 20px;
	font-weight: bold;
	height: 180px;
	color: #FFFFFF;
	transition: all 0.5s;
}

ol.ddmR li.user a{
	color: #FFFFFF;
}

ol.ddmR li.user ul.lay1{
	line-height: 150%;
	color: #333;
	background-color:#3c6382;
	border-bottom:dotted 1px #666;
    width: 160px;

	top: 2%;
	left: 40%;
}

ol.ddmR li.user ul.lay1 a,ol.ddmR li.user ul.lay1 a:visited{
	display:block;
	color:#FFFFFF;
    text-decoration:none;
	padding:4px 5px 4px 20px;
}

ol.ddmR li.user ul.lay1{
	display: none;
}

ol.ddmR li.user:hover ul.lay1,ol.ddmR li.user a:hover ul.lay1{
	display: block;

}

/*資訊*/
.infor{
	width: 80%;

	position: absolute;
	top: 20%;
	left: 10%;
	transform: translate(-50,-50);
}

/*版權列*/
.foot{
	position: absolute;
	top: 90%;
	left: 35%;
}