/*
    DEMO STYLE
*/
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #353434;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 30px;
    background: #fff(113, 155, 172);
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

/*.sidebar-dropdown {
    color: 7386D5;
    font-size: 110%;
    position: relative;
    display: inline-block;
    left: 20px;
}

.sidebar-dropdown-content {
    color: 7386D5;
    background-color: #553a8c;
    font-size: 80%;
    display: none;
    position: absolute;
    /*left: 20px;*/
    /*z-index: 1;
    width: 130px;
}

.sidebar-dropdown:hover .sidebar-dropdown-content {
    display: block;
    border-width: 3px;
}*/

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    padding-left: 20px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    /* color: #fff; */
    /* background: #6d7fcc; */
    opacity: 0.8;
    /* border-radius: 10px; */
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 5px;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

/* ---------------------------------------------------
    PATH STYLE
----------------------------------------------------- */
#path nav .breadcrumb .breadcrumb-item {
    color: #70a8e0;
}

#path nav .breadcrumb .breadcrumb-item.active {
    color: grey;
}

#path a {
    text-decoration: none;
}

/* ---------------------------------------------------
    PAGINATION STYLE
----------------------------------------------------- */
#pagination {
    padding-bottom: 50px;
}

/* ---------------------------------------------------
    ICON STYLE
----------------------------------------------------- */
.fas {
    padding-right: 10px;
}

.fa-school {
    color: darkcyan;
}

.fa-heart {
    color: red;
}

.fa-comment-dots,
.fa-file-contract {
    color: grey;
}

.fa-file-signature {
    color: darksalmon;
}

.fa-file-alt,
.fa-list,
.a-list-ol,
.fa-headphones-alt,
.fa-tasks {
    padding-right: 5px;
}

.fa-layer-group {
    color: darkblue;
}

.fa-tasks {
    color: blue;
}