{% extends "base.html" %}

{% load web_filters %}

{% block content %}
<section class="row align-items-center">
    <h1 class="col-12 text-truncate">
        {{ exam.type|readable_exam_type }} <small class="text-muted">{{ exam.name }}</small>
    </h1>

    <div class="w-100 mt-3"></div>

    <dl class="col row">
        <dt class="col-3">開始時間</dt>
        <dd class="col">{{ exam.start_time|date:'Y/n/d H:i' }}</dd>
        <div class="w-100"></div>
        <dt class="col-3">答對/總題數</dt>
        <dd class="col">{{ sheet.score }}/{{ sheet.num_questions }}</dd>
    </dl>

    <div class="w-100"></div>

    <section class="col">
        <div class="card">
            <div class="card-body">
                <form action="/score/{{ exam.id }}" method="get">
                    <div class="row">
                        <div class="col-auto">
                            <select class="custom-select" name="question_type">
                                <option value="0">全部類型</option>
                                {% for type in question_types %}
                                <option value="{{ type }}" {% if type == keywords.question_type %}selected{% endif %}>{{ type|readable_question_type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="description" value="{{ keywords.description }}" placeholder="輸入欲搜尋的題目內容">
                        </div>
                        <div class="col-auto">
                            <select class="custom-select" name="answer_state">
                                <option value="0">全部題目</option>
                                <option value="1" {% if keywords.answer_state == 1 %}selected{% endif %}>僅答對</option>
                                <option value="2" {% if keywords.answer_state == 2 %}selected{% endif %}>僅答錯</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">搜尋</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <div class="w-100 mt-3"></div>

    <section class="col-12">
    {% if questions %}
        {% for question in questions %}
        {% if question.answer == question.user_answer %}
        <div class="col-12 mb-3 card border-success">
        {% else %}
        <div class="col-12 mb-3 card border-danger">
        {% endif %}
            <div class="card-body">
                <div class="card-title h5">
                    <span>{{ question.type|readable_question_type }}</span>
                    <h5 class="float-right">#{{ question.id|add:"1" }}</h5>
                </div>
            {% if question.source %}
                <h6 class="card-subtitle text-muted mb-2">{{ question.source.year }} 年 - {{ question.source.name }}</h6>
            {% endif %}
            {% if question.type is 1 %}
                {% include 'management/question/qa/display_alone.html' with question=question show_answer=True highlight=True %}
            {% elif question.type is 2 %}
                {% include 'management/question/short_conversation/display_alone.html' with question=question show_answer=True highlight=True %}
            {% elif question.type is 3 %}
                {% include 'management/question/grammar/display_alone.html' with question=question show_answer=True highlight=True %}
            {% elif question.type is 4 %}
                {% include 'management/question/phrase/display_alone.html' with question=question show_answer=True highlight=True %}
            {% elif question.type is 5 %}
                {% include 'management/question/paragraph_understanding/display_alone.html' with question=question show_answer=True highlight=True %}
            {% endif %}
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h2>目前暫無資料！</h2>
    {% endif %}
        </div>
    </section>
</section>
{% endblock %}
