    <!-- jQuery first, then Tether, then Bootstrap JS. -->

    <script src="{{ static("/about/js/jquery-min.js") }}"></script>
    <script src="{{ static("/about/js/popper.min.js") }}"></script>
    <script src="{{ static("/about/js/bootstrap.min.js") }}"></script>
    <script src="{{ static("/about/js/owl.carousel.js") }}"></script>
    <script src="{{ static("/about/js/jquery.nav.js") }}"></script>
    <script src="{{ static("/about/js/jquery.easing.min.js") }}"></script>
    <script src="{{ static("/about/js/nivo-lightbox.js") }}"></script>
    <script src="{{ static("/about/js/jquery.magnific-popup.min.js") }}"></script>
    <script src="{{ static("/about/js/main.js") }}"></script>

    <!-- <script src="{{ static("/about/js/form-validator.min.js") }}"></script> -->
    <!-- <script src="{{ static("/about/js/contact-form-script.js") }}"></script> -->
    <!-- <script src="{{ static("/about/js/scrolling-nav.js") }}"></script> -->