<!DOCTYPE html>
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel" color>
        <div class="container">
            <a class="navbar-brand" href="{{ url('Homepage') }}"><i class="fa fa-book"></i>｜ALCPT</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    {% if request.user|has_perm('SystemManager') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ trans("SystemManager") }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url('user_list') }}"><i class="fas fa-users" style="padding-right: 5px; color: darkkhaki"></i>{{ trans("User List") }}</a>
                            <a class="dropdown-item" href="{{ url('unit_list') }}"><i class="fas fa-school" style="padding-right: 5px; color: darkcyan"></i>{{ trans("Unit List") }}</a>
                            <a class="dropdown-item" href="{{ url('report_category_list') }}"><i class="fas fa-question" style="padding-right: 5px; color: red"></i>{{ trans("ReportCategory List") }}</a>
                            {% if request.user|get_SystemManager_report_notification == 0 %}
                            <a class="dropdown-item" href="{{ url('responsible_report_list', args=['SystemManager']) }}"><i class="fas fa-comment-dots" style="padding-right: 5px; color: grey"></i>{{ trans("User Response Handling") }}</a>
                            {% else %}
                            <a class="dropdown-item" href="{{ url('responsible_report_list', args=['SystemManager']) }}">
                                <i class="fas fa-comment-dots" style="padding-right: 5px; color: grey"></i>{{ trans("User Response Handling") }}&ensp;
                                <label class="notification-badge">{{ request.user|get_SystemManager_report_notification }}</label></a>
                            {% endif %}

                        </div>
                    </li>
                    {% endif %} {% if request.user|has_perm('TestManager') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ trans("TestManager") }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url('exam_list') }}"><i class="fas fa-file-signature" style="padding-right: 5px; color: darksalmon"></i>{{ trans("Exam List") }}</a>
                            <a class="dropdown-item" href="{{ url('testpaper_list') }}"><i class="fas fa-file-alt" style="padding-right: 5px"></i>{{ trans("TestPaper List") }}</a>
                            <a class="dropdown-item" href="{{ url('testee_group_list') }}"><i class="fas fa-layer-group" style="padding-right: 5px; color: darkblue"></i>{{ trans("Testee Group List") }}</a>
                            {% if request.user|get_TestManager_report_notification == 0 %}
                            <a class="dropdown-item" href="{{ url('responsible_report_list', args=['TestManager']) }}"><i class="fas fa-comment-dots" style="padding-right: 5px; color: grey"></i>{{ trans("User Response Handling") }}</a>
                            {% else %}
                            <a class="dropdown-item" href="{{ url('responsible_report_list', args=['TestManager']) }}"><i class="fas fa-comment-dots" style="padding-right: 5px; color: grey"></i>{{ trans("User Response Handling") }}&ensp;
                                <label class="notification-badge">{{ request.user|get_SystemManager_report_notification }}</label></a>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %} {% if request.user|has_perm('TBManager') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ trans("TBManager") }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url('tbmanager_question_list') }}"><i class="fas fa-file-contract" style="padding-right: 5px; color: grey"></i>{{ trans("Question List") }}</a>
                            <a class="dropdown-item" href="{{ url('question_review') }}"><i class="fas fa-list" style="padding-right: 5px"></i>{{ trans("Question Review") }}</a>
                            {% if request.user|get_TBManager_report_notification == 0 %}
                            <a class="dropdown-item" href="{{ url('responsible_report_list', args=['TBManager']) }}"><i class="fas fa-comment-dots" style="padding-right: 5px; color: grey"></i>{{ trans("User Response Handling") }}</a>
                            {% else %}
                            <a class="dropdown-item" href="{{ url('responsible_report_list', args=['TBManager']) }}"><i class="fas fa-comment-dots" style="padding-right: 5px; color: grey"></i> {{ trans("User Response Handling") }}&ensp;
                                <label class="notification-badge">{{ request.user|get_TBManager_report_notification }}</label></a>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %} {% if request.user|has_perm('TBOperator') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ trans("TBOperator") }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url('tboperator_question_list') }}"><i class="fas fa-list-ol" style="padding-right: 5px"></i>{{ trans("Question List") }}</a>
                            <a class="dropdown-item" href="{{ url('question_create', args=['listening']) }}"><i class="fas fa-headphones-alt" style="padding-right: 5px"></i>{{ trans("Create Listening Question") }}</a>
                            <a class="dropdown-item" href="{{ url('question_create', args=['reading']) }}"><i class="fas fa-book" style="padding-right: 5px; color: brown"></i>{{ trans("Create Reading Question") }}</a>
                        </div>
                    </li>
                    {% endif %} {% if request.user|has_perm('Viewer') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ trans("Viewer") }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <a class="dropdown-item" href="{{ url('exam_score_list') }}"><i class="fas fa-tasks" style="padding-right: 5px"></i>{{ trans("View Testee Score") }}</a>
                        </div>
                    </li>
                    {% endif %} {% if request.user|has_perm('Testee') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ trans("Testee") }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url('favorite_question_list') }}"> <i class="fas fa-heart" style="padding-right: 5px; color: red"></i>{{ trans("Favorite Question") }}</a>
                            <a class="dropdown-item" href="{{ url('testee_exam_list') }}"><i class="fas fa-list" style="padding-right: 5px"></i>{{ trans("Exam Record") }}</a>
                            <a class="dropdown-item" href="{{ url('testee_score_list') }}"><i class="fas fa-tasks" style="padding-right: 5px; color: blue"></i>{{ trans("Score Record") }}</a>
                            <a class="dropdown-item" href="{{ url('testee_practice_create', args=['listening']) }}"><i class="fas fa-headphones-alt" style="padding-right: 5px"></i>{{ trans("Listening Practice") }}</a>
                            <a class="dropdown-item" href="{{ url('testee_practice_create', args=['reading']) }}"><i class="fas fa-book" style="padding-right: 5px; color: brown"></i>{{ trans("Reading Practice") }}</a>
                        </div>
                    </li>
                    {% endif %} {% if user.is_authenticated %}
                    <!-- Button trigger modal for personal notification center -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#NotificationCenter">
                        <i class="fa fa-bell"></i>
                        {% if request.user.proclamation_set.all()|unread_count != 0 %}
                        <label class="notification-custom"><sup>{{ request.user.proclamation_set.all()|unread_count }}</sup></label>
                        {% endif %}
                    </button>

                    <!-- Modal for notification center -->
                    <form id="notificationForm" name="notificationForm" method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                        <div class="modal fade" id="NotificationCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h5 class="modal-title" id="ModalLongTitle">{{ trans("Notification Center") }}
                                            （
                                            {{trans("Total")}}: {{ request.user.proclamation_set.count() }} ）
                                        </h5>
                                    </div>

                                    <div id="modal-menu">
                                        <table class="table table-hover">
                                            <tbody>
                                                {% for proclamation in request.user.proclamation_set.all() %}
                                                <tr class="text-left"
                                                    style="{% if loop.index != request.user.proclamation_set.count %}border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: rgb(200, 200, 200);{% endif %} {% if not proclamation.is_read %}background-color: rgb(220,220,220);{% endif %}">
                                                    <td class="align-middle">
                                                        <input type="checkbox" name="proclamation" value="{{ proclamation.id }}" />
                                                    </td>
                                                    <td class="align-middle">
                                                        <h5>{{ proclamation.title }}</h5>
                                                        <p>
                                                            {{ proclamation.text|linebreaksbr }}<br />
                                                            <span class="text-muted float-right">-by {{ proclamation.created_by }} in {{ proclamation.created_time }}</span>
                                                        </p>
                                                    </td>
                                                    <td class="align-middle">
                                                        <a href="{{ url('proclamation_detail', args=[proclamation.id]) }}"><i class="fa fa-angle-right"></i></a>
                                                    </td>
                                                </tr>
                                                {% else %}
                                                <tr>
                                                    <td>
                                                        <h3 class="text-center" style="font-weight: 200">
                                                            No notification.
                                                        </h3>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" onclick="set_action('read');">
                                            {{ trans("Read") }}
                                        </button>
                                        <button type="button" class="btn btn-light" onclick="set_action('delete');">
                                            {{ trans("Delete") }}
                                        </button>
                                        <button class="btn btn-secondary" data-dismiss="modal">
                                            {{ trans("Cancel") }}
                                        </button>
                                        <script>
                                            function set_action(action) {
                                                var form = document.getElementById("notificationForm");
                                                if (action === "read") {
                                                    form.action = "/proclamation/read/toggle";
                                                } else {
                                                    form.action = "/proclamation/delete/toggle";
                                                }
                                                form.submit();
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Button trigger modal for user functions menu -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#ModalCenter">
                        <i class="fa fa-user"></i>
                    </button>

                    <!-- Modal for functions menu -->
                    <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h5 class="modal-title" id="ModalLongTitle">
                                        {% if request.user.name != None %}
                                        {{ request.user.name }}
                                        {% else %}
                                        {{ request.user.reg_id }}
                                        {% endif %}
                                        <script>
                                            now = new Date(), hour = now.getHours()
                                            if (hour < 6) {
                                                document.write("凌晨好！")
                                            } else if (hour < 9) {
                                                document.write("早安！")
                                            } else if (hour < 12) {
                                                document.write("上午好！")
                                            } else if (hour < 14) {
                                                document.write("午安！")
                                            } else if (hour < 17) {
                                                document.write("下午好！")
                                            } else if (hour < 19) {
                                                document.write("傍晚好！")
                                            } else if (hour < 22) {
                                                document.write("晚安！")
                                            } else {
                                                document.write("夜里好！")
                                            }
                                        </script>
                                    </h5>
                                </div>

                                <div id="modal-menu">
                                    <button onclick="window.location.href='{{ url('profile') }}'">
                                        <i class="fas fa-user" style="padding-right: 5px"></i>{{ trans("Profile") }}
                                    </button>
                                    <div class="dropdown-divider custom"></div>
                                    <button onclick="window.location.href='{{ url('profile_edit') }}'">
                                        <i class="fas fa-user-edit" style="padding-right: 5px"></i>{{ trans("Edit Profile") }}
                                    </button>
                                    <div class=" dropdown-divider custom">
                                    </div>
                                    <button onclick="window.location.href='{{ url('email') }}'">
                                        <i class="fas fa-envelope" style="padding-right: 5px;"></i>Email
                                    </button>
                                    <div class="dropdown-divider custom"></div>
                                    <button onclick="window.location.href='{{ url('password_change') }}'">
                                        <i class="fas fa-key" style="padding-right: 5px"></i>{{ trans("Password Change") }}
                                    </button>
                                    <div class="dropdown-divider custom"></div>
                                    <button onclick="alert('Function is developing. Stay tuned.🤪');">
                                        <i class="fas fa-file-alt" style="padding-right: 5px"></i>{{ trans("Real Exam Record") }}
                                    </button>
                                    <div class="dropdown-divider custom"></div>
                                    <button onclick="window.location.href='{{ url('report') }}'">
                                        <i class="fas fa-exclamation-triangle" style="padding-right: 5px"></i>{{ trans("Report") }}
                                    </button>
                                    <div class="dropdown-divider custom"></div>
                                    <button onclick="window.location.href='{{ url('about') }}'">
                                        <i class="fas fa-question" style="padding-right: 5px"></i>{{ trans("About") }}
                                    </button>
                                </div>

                                <div class="modal-footer">
                                    <a class="btn btn-light" href="{{ url('logout') }}" onclick="return confirm('Sure to logout?')">{{trans("Logout")}}</a>
                                    <a class="btn btn-secondary" style="color: white" data-dismiss="modal">{{trans("Cancel")}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('login') }}">{{trans("Login")}}</a>
                    </li>
                    {% endif %}

                    <style>
                        .i {
                            padding-right: 5px;
                        }

                        .modal {
                            outline: none;
                        }

                        .modal a {
                            outline: none;
                            text-decoration: none;
                        }

                        .modal #modal-menu button {
                            width: 100%;

                            text-align: left;
                            padding: 14px;
                            padding-left: 40%;
                            color: #2c3232;
                            background-color: #fff;

                            border: none;
                            outline: none;
                        }

                        .modal #modal-menu button:active {
                            width: 100%;

                            padding: 14px;
                            padding-left: 40%;
                            color: #2c3232;
                            background-color: rgb(200, 200, 200);

                            border-bottom-style: solid;
                            border-bottom-width: 1px;
                            border-bottom-color: rgb(250, 250, 250);

                            outline: none;
                        }

                        .modal #modal-menu button::-moz-focus-inner,
                        [type="button"]::-moz-focus-inner,
                        [type="reset"]::-moz-focus-inner,
                        [type="submit"]::-moz-focus-inner {
                            padding: 0;
                            border-style: none;
                        }

                        .modal .custom {
                            margin: 0px;
                        }

                        .notification-custom {
                            width: 15px;
                            height: 15px;
                            background-color: red;
                            border-radius: 24px;
                            color: white;
                            text-align: center;
                        }
                    </style>
                </ul>
            </div>
        </div>
    </nav>
</header>