<meta charset="UTF-8" />
<title>線上英文考試系統</title>
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{{ static('/css/loginstyle.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ static('/css/aboutstyle.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ static('/css/table.css') }}" />
<link href="{{ static('/fontawesome/css/all.min.css') }}" rel="stylesheet" />
<link href="{{ static('/fontawesome/css/v4-shims.min.css') }}" rel="stylesheet" />
<link href="{{ static('/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!--<link-->
<!--href="{{ static('/css/About/fonts.css') }}"-->
<!--rel="stylesheet"-->
<!--type="text/css"-->
<!--/>-->

<!-- js -->
<script src="{{ static('/javascript/jquery.slim.min.js') }}"></script>
<!--<script src="{{ static('/javascript/jquery.min.js') }}"></script>-->
<script src="{{ static('/javascript/popper.min.js') }}"></script>
<script src="{{ static('/bootstrap/js/bootstrap.min.js') }}"></script>