{% extends "base.html" %}

{% load web_filters %}

{% block scripts %}
    <script src="/static/scripts/index.js?{{ request.js_version }}" defer></script>
{% endblock %}

{% block content %}
    <section class="col-auto mr-auto" style="height: 100px">
        <h1 style="display: inline;">系統公告</h1>
    </section>


<div class="container w3-myfont">
    <div class="row1">
        <div class="col">
            <div class="panel panel-default">
                 <div class="container">
                                <table class="table table-striped table-hover" style="width:80%; height: 80%" border="0" align="center">
                                    <thead>
                                      <tr class="w3-light-grey w3-center w3-card-4">
                                        <th style=" width:400px"><h4>公告標題</h4></th>
                                        <th><h4>公告人</h4></th>
                                        <th><h4>公告時間</h4></th>
                                      </tr>
                                    </thead>
                                        {% for Post in Post %}
                                    <tr class="w3-hover-green w3-center">
                                        <td>{{ Post.id }}</td>
                                        <td>{{ Post.created }}</td>
                                        <td>{{ Post.text }}</td>
                                        <td>{{ Post.user }}</td>
                                    </tr>
                                        {% endfor %}
                                    <tr style='cursor: pointer' onclick="window.location.href='/details'">
                                        <td>用DIV 的属性onclick 进行点击,怎么样弄出鼠标放上去有手的</td>
                                        <td>tim87</td>
                                        <td>2019-03-28</td>
                                    </tr>
                                    <tr>
                                        <td>44444</td>
                                        <td>tim87</td>
                                        <td>2019-03-20</td>
                                    </tr>
                                    <tr>
                                        <td>55555</td>
                                        <td>tim87</td>
                                        <td>2019-03-21</td>
                                    </tr>



                                </table>
                                 </br></br>
                 </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
