{% extends 'base.html' %}

{% load web_filters %}

{% block content %}
    {% if request.user|has_perm:'SystemManager' %}
    <div class="add_proclamation">
        <button type="button" class="btn btn-default btn-lg">
            <a href="{% url 'proclamation_create' %}">新增公告</a>
        </button>


        <style>
            .add_proclamation button{
                width: 110px;
                height: 50px;
                background-color: #4CCABD;
                border-radius: 10px;
                text-align: center;
                font-size: 20px;
                border: none;
                box-shadow: 0px 3px 8px 0px #486260;

                position: absolute;
                top: -15%;
                right: 0%;
            }

            .add_proclamation button:hover{
                background-color: #2C3232;
                transition: all 0.3s ease;
            }

            .add_proclamation a{
                color: #FFFEF6;
                text-decoration: none;
            }
        </style>
    </div>
    {% endif %}

<!-- 表格的部分 -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="title">
                <tr>
                    {% if request.user|has_perm:'SystemManager' %}
                        <th class="col-md-2">公告標題</th>
                        <th class="col-md-6">公告內容</th>
                        <th class="col-md-1">公告人</th>
                        <th class="col-md-2">公告時間</th>
                        <th class="col-md-1"></th>
                    {% else %}
                        <th class="col-md-2">公告標題</th>
                        <th class="col-md-6">公告內容</th>
                        <th class="col-md-1">公告人</th>
                        <th class="col-md-2">公告時間</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for pro in pros %}
                <tr style="cursor: pointer" onclick="window.location.href='{% url 'proclamation_detail' pro.id %}'">
                    <td>{{ pro.title }}</td>
                    {% if request.user|has_perm:'SystemManager' %}
                        <td>{{ pro.text|safe|summary:33 }}</td>
                    {% else %}
                        <td>{{ pro.text|safe|summary:36 }}</td>
                    {% endif %}
                    <td>{{ pro.created_by.name}}</td>
                    <td style="font-size: 12px">{{ pro.created_time|date:'H:i, Y/m/d' }}</td>
                    {% if request.user|has_perm:'SystemManager' %}
                    <td>
                        <a href="{% url 'proclamation_edit' pro.id %}"><i class="fa fa-pencil-square fa-fw mb-2"></i></a>&nbsp;
                        <a href="{% url 'proclamation_delete' pro.id %}" onclick="return confirm('確認刪除此公告:{{ pro.title }}?')"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <style>
            .table-responsive .table{
                text-align: center;
            }

            .table-hover a{
                    visibility: hidden;
            }
            .table-hover > tbody > tr:hover{
                cursor: pointer;
                background-color: #4CCABD;
            }
            .table-hover > tbody > tr:hover a, td{
                visibility: visible;
            }

            .title{
                font-size: 25px;
            }

            .title tr th{
                text-align: center;
            }

            .table tbody{
                font-size: 18px;
            }

            .table tbody td a{
                color: #2C3232;
            }
        </style>
    </div>

<!-- 頁碼的部分 -->
    <div>
        <div class="pagination">
            <div class="pager_group1">
                <ul class="pager">
                    <li class="previous" style="color: #2C3232"><a href="?page=1">&laquo; first</a></li>
                    <li style="padding-left: 500px; padding-right: 490px">&nbsp;</li>
                    <li class="next"><a href="?page={{ pros.paginator.num_pages }}">last &raquo;</a></li>
                </ul>
            </div>

            <div class="pager_group2">
                <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center">
                    <li {% if not pros.has_previous %}class="page-item disabled"{% endif %}>
                        {% if pros.has_previous %}
                            <a class="page-link" href="?page={{ pros.previous_page_number }}" tabindex="-1">Previous</a>
                        {% else %}
                            <a href="javascript:void(0)">Previous</a>
                        {% endif %}
                    </li>
                    <li class="page-item">
                        {% for page in paginator.page_range %}
                            {% if page == sheets.number %}
                                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                            {% else %}
                                <a href="?page={{ page }}">{{ page }}</a>
                            {% endif %}
                        {% endfor %}
                    </li>
                    <li {% if not pros.has_next %}class="page-item disabled"{% endif %}>
                        {% if pros.has_next %}
                            <a class="page-link" href="?page={{ pros.next_page_number }}">Next</a>
                        {% else %}
                            <a href="javascript:void(0)">Next</a>
                        {% endif %}
                    </li>
                  </ul>
                </nav>

            </div>


            <style>
                .pager_group1{
                    text-decoration: none;
                    position: absolute;
                    bottom: 0%;
                    left: 1%;
                    right: 1%;
                }

                .pager_group2{
                    position: absolute;
                    bottom: 6.5%;
                    right: 50%;

                    transform: translate(50%,50%);
                }

            </style>
        </div>

        <style>
            .pagination{
                font-size: 20px;
            }
        </style>
    </div>
{% endblock %}