{% extends "login_base.html" %}

{% block content %}
<section class="row">
    <section class="col-12">
        <section class="row align-items-center">
            <style>
                .box{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 400px;
                    height: 50px;
                    padding: 40px;
                }
            </style>

            <section class="box">
                <h2 style="text-align: center">A L C P T </br>線上練習平台</h2>

{#                <form class="mt-3 mb-2" action="{{ request.path }}" method="post" onsubmit="return md5_password(this);">#}
                <form class="mt-3 mb-2" action="{{ request.path }}" method="post">
                    {% csrf_token %}

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-fw fa-user" aria-hidden="true"></i></span>
                        </div>
                        <input type="text" class="form-control" name="reg_id" placeholder="reg_id" aria-describedby="username" autofocus required>
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-fw fa-lock" aria-hidden="true"></i></span>
                        </div>
                        <input type="password" class="form-control" name="password" placeholder="Password" aria-describedby="password" required>
                    </div>

                    <button class="col btn btn-primary">登入 <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                    <button class="col btn " style="background-color: lightgray" onclick="{{ 'index' }}">取消 </button>
                </form>
            </section>
        </section>
    </section>
</section>
{% endblock %}


