{% extends 'base.html' %}

{% load web_filters %}

{% block path %}
    <a href="">編輯公告</a>
{% endblock %}

{% block content %}
    <div class="proclamation_edit">
        <form method="post">
            <div class="title"><h1>Proclamation Edit.</h1></div>
            {% csrf_token %}
            <table>
                <tr>
                    <td class="col-md-2">公告標題</td>
                    <td class="col-md-5"><input type="text" name="proclamation_title" value="{{ proclamation.title }}" required></td>
                </tr>

                <tr>
                    <td class="col-md-2">公告內容</td>
                    <td class="col-md-5"><textarea name="proclamation_text" cols="100" rows="8" required>{{ proclamation.text }}</textarea></td>
                </tr>
            </table>

            <div class="btn">
                <button type="submit" onclick="return confirm('確認更改？')">更改公告</button>
                <button type="button" onclick="self.location=document.referrer;">取消</button>
            </div>

            <style>
                .proclamation_edit .title h1{
                    width: 30%;
                    font-size: 28px;
                    color: #FFFEF6;
                    background-color: #4CCABD;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-right: 15px;
                    padding-left: 45px;
                    text-align: center;
                }

                .proclamation_edit table{
                    position: relative;
                    left: 15%;

                    width: 70%;

                    font-size: 20px;
                }
                .proclamation_edit table td{
                    padding: 4px;
                }
                .proclamation_edit form input{
                    padding: 6px;
                }
                .proclamation_edit form textarea{
                    font-size: 20px;
                    width: 100%;
                    height: 45%;
                    padding: 10px;
                }

                .proclamation_edit .btn{
                    position: relative;
                    top: 30px;
                    left: 40%;
                }
                .proclamation_edit .btn button{
                    font-size: 25px;
                    padding: 10px;
                    padding-left: 15px;
                    padding-right: 15px;
                    color: #FFFEF6;
                    background-color: #4CCABD;
                    border: none;
                }
            </style>
        </form>
    </div>
{% endblock %}