{% extends 'base.html' %}

{% block path %}
    <a href="">新增公告</a>
{% endblock %}

{% block content %}
    <div class="proclamation_create">
        <form method="post">
            <div class="title"><h1>Proclamation Create.</h1></div>
            {% csrf_token %}

            <table>
                <tr>
                    <td class="col-md-2">公告標題</td>
                    <td class="col-md-5"><input class="form-control" type="text" name="p_title" required></td>
                </tr>

                <tr>
                    <td class="col-md-2">公告內容</td>
                    <td class="col-md-5"><textarea class="form-control" name="p_text" cols="100" rows="8" required></textarea></td>
                </tr>
            </table>

            <div class="btn">
                <button type="submit" onclick="return confirm('確認新增？')">新增公告</button>
                <button type="button" onclick="self.location=document.referrer;">取消</button>
            </div>

            <style>
                .proclamation_create .title h1{
                    width: 30%;
                    font-size: 28px;
                    color: #FFFEF6;
                    background-color: #4CCABD;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-right: 15px;
                    padding-left: 45px;
                    text-align: center;
                }

                .proclamation_create table{
                    position: relative;
                    left: 15%;

                    width: 70%;

                    font-size: 20px;
                }
                .proclamation_create table td{
                    padding: 4px;
                }
                .proclamation_create form input{
                    padding: 6px;
                }
                .proclamation_create form textarea{
                    font-size: 20px;
                    width: 100%;
                    height: 45%;
                    padding: 10px;
                }

                .proclamation_create .btn{
                    position: relative;
                    top: 30px;
                    left: 40%;
                }
                .proclamation_create .btn button{
                    font-size: 25px;
                    padding: 10px;
                    padding-left: 15px;
                    padding-right: 15px;
                    color: #FFFEF6;
                    background-color: #4CCABD;
                    border: none;
                }
            </style>
        </form>
    </div>
{% endblock %}