{% extends "base.html" %}

{% load web_filters %}

{% block scripts %}
    <script src="/static/scripts/index.js?{{ request.js_version }}" defer></script>
{% endblock %}

{% block content %}
    <section class="col-auto mr-auto" style="height: 100px">
        <h1 style="display: inline;">公告名稱:{{ proclamation.title }}</h1>
    </section>

    <p></p>
<div class="container w3-myfont">
    <div class="row1">
        <div class="col">
            <div class="panel panel-default">
                 <div class="container">
                    <table class="table table-striped table-hover" style="width:95%; height: 80%" border="0" align="center">
                        <tr style="font-size: 20px">
                            <td>公告內容</td>
                            <td><pre>{{ proclamation.text }}</pre></td>
                        </tr>
                        <tr style="font-size: 20px">
                            <td>公告人</td>
                            <td>{{ proclamation.created_by.name }}</td>
                        </tr>
                        <tr style="font-size: 20px">
                            <td>公告時間</td>
                            <td>{{ proclamation.create }}</td>
                        </tr>
                    </table>
                 </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
