{% extends 'base.html' %}

{% load web_filters %}

{% block path %}
    <a href="">公告資訊</a>
{% endblock %}

{% block content %}
    <div class="proclamation_delete">
        <div class="title"><h1>Proclamation Detail.</h1></div>

        <table>
            <tr>
                <td class="col-md-2">公告標題</td>
                <td class="col-md-5">{{ proclamation.title }}</td>
            </tr>

            <tr>
                <td class="col-md-2">公告內容</td>
                <td class="col-md-5">{{ proclamation.text }}</td>
            </tr>
        </table>

        <div class="btn">
            <button type="button" onclick="self.location=document.referrer;">確認</button>&nbsp;
            {% if request.user|has_perm:'SystemManager' %}
                <button type="button" onclick="return confirm('確認刪除此公告:{{ pro.title }}?')">
                    <a href="{% url 'proclamation_delete' proclamation.id %}">刪除此公告</a>
                </button>
            {% endif %}
        </div>

        <style>
            .proclamation_delete .title h1{
                width: 30%;
                font-size: 28px;
                color: #FFFEF6;
                background-color: #4CCABD;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 15px;
                padding-left: 45px;
                text-align: center;
            }

            .proclamation_delete table{
                position: relative;
                left: 15%;

                width: 70%;

                font-size: 20px;
            }
            .proclamation_delete table td{
                padding: 4px;
            }
            .proclamation_delete form input{
                padding: 6px;
            }
            .proclamation_delete form textarea{
                font-size: 20px;
                width: 100%;
                height: 45%;
                padding: 10px;
            }

            .proclamation_delete .btn{
                position: relative;
                top: 30px;
                left: 40%;
            }
            .proclamation_delete .btn button{
                font-size: 25px;
                padding: 10px;
                padding-left: 15px;
                padding-right: 15px;
                color: #FFFEF6;
                background-color: #4CCABD;
                border: none;
            }
            .proclamation_delete .btn:active {
                outline: none;
                border: none;
            }
            .proclamation_delete .btn a{
                color: #FFFEF6;
                text-decoration: none;
            }
            .proclamation_delete .btn a:hover{
                color: #FFFEF6;
                text-decoration: none;
            }
        </style>
    </div>


{% endblock %}