{% extends "base.html" %}

{% load web_filters %}

{% block content %}

<head>
    <style>
        #container {
            width: 70%;
            min-width: 310px;
            max-width: 70%;
            height: 400px;
            margin: 0 auto
        }
        #pt {
            margin: 2px;
            height: 29px;
            border: none;
            background: transparent;
            line-height: 29px;
        }
        .bm{
            margin-bottom: 5px;
            border: 1px solid #CDCDCD;
            background: #FFF;
        }
        .cl{
            zoom: 1;
        }
        #pt .z{
            padding-right: 10px;
            float: left;
        }
    </style>
</head>

<section class="row align-items-center">
    <section class="col-auto mr-auto">
        <div id="pt" class="bm c1">
            <div class="z">
                <a class="fa fa-home fa-2x" href="/" ></a>
                <a class="fa fa-angle-double-right fa-lg box"></a>
                <a href="#" style="font-size: 18px">受測者</a>
                <a class="fa fa-angle-right fa-lg"></a>
                <a href="#" style="font-size: 18px">檢閱成績</a>
            </div>
            <div style="padding-right: 10px"></div>
        </div>
        <h1 style="display: inline;">檢閱成績</h1>
    </section>

    <div class="w-100 my-3"></div>

    <section class="col">
        <div class="card">
            <div class="card-body">
                <form action="/user" method="get">
                    <div class="row">
                        <div class="col-auto">
                            <select class="custom-select" name="department">
                                <option value="0">所有學系</option>
                                {% for dept in departments %}
                                <option value="{{ dept.id }}" {% if dept.id == keywords.dept_id %} selected {% endif %}>{{ dept.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-2">
                            <input type="number" class="form-control" name="grade" value="{{ keywords.grade }}" placeholder="年班">
                        </div>
                        <div class="col-2">
                            <select class="custom-select" name="squadron">
                                <option value="0">所有中隊</option>
                                {% for squa in squadrons %}
                                <option value="{{ squa.id }}" {% if squa.id == keywords.squa_id %} selected {% endif %}>{{ squa.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="name" value="{{ keywords.name }}" placeholder="學號/姓名">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary" style="background-color: #1b98e0; color: white;">搜尋</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <div class="w-100 my-3"></div>

{#    <section class="col">#}
{#        <div class="card">#}
{#            <div class="card-body">#}
{#                <form action="/score" method="get">#}
{#                    <div class="row">#}
{#                        <div class="col d-flex align-items-center">#}
{#                            <div class="custom-control custom-radio custom-control-inline">#}
{#                                <input type="radio" id="all" value="all" name="exam_type" class="custom-control-input" {% if exam_type == "all" %}checked{% endif %}>#}
{#                                <label class="custom-control-label" for="all">全部</label>#}
{#                            </div>#}
{#                            <div class="custom-control custom-radio custom-control-inline">#}
{#                                <input type="radio" id="simulation" value="simulation" name="exam_type" class="custom-control-input" {% if exam_type == "simulation" %}checked{% endif %}>#}
{#                                <label class="custom-control-label" for="simulation">模擬鑑測</label>#}
{#                            </div>#}
{#                            <div class="custom-control custom-radio custom-control-inline">#}
{#                                <input type="radio" id="practice" value="practice" name="exam_type" class="custom-control-input" {% if exam_type == "practice" %}checked{% endif %}>#}
{#                                <label class="custom-control-label" for="practice">自我練習</label>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-auto">#}
{#                            <button type="submit" class="btn btn-primary">搜尋</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

    <div class="w-100 my-3"></div>

    <section class="col">
{#    {% if answer_sheets %}#}
        <table class="table table-striped table-hover table-responsive-lg">
            <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">名稱</th>
                    <th scope="col" class="text-center">分數</th>
                    <th scope="col" class="text-center">考試時間</th>
                </tr>
            </thead>
{#            {% for sheet in answer_sheets %}#}
                <tr>
                    <th scope="row" class="align-middle text-center">1</th>
                    <td class="align-middle text-center">Test</td>
                    <td class="align-middle text-center">43</td>
                    <td class="align-middle text-center">2019/03/20 23:56</td>
                    <td class="align-middle text-center">
                        <kbd style="background-color:white"><a href="/score/{{ sheet.exam.id }}"><i class="fa fa-bars fa-fw mb-2" title="查看試卷"></i></a></kbd>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="align-middle text-center">2</th>
                    <td class="align-middle text-center">Test</td>
                    <td class="align-middle text-center">50</td>
                    <td class="align-middle text-center">2019/03/21 04:56</td>
                    <td class="align-middle text-center">
                        <kbd style="background-color: white"><a href="/score/{{ sheet.exam.id }}"><i class="fa fa-bars fa-fw mb-2" title="查看試卷"></i></a></kbd>
                    </td>
                </tr>
                <tr>
{#                    <th scope="row" class="align-middle text-center">{{ sheet.exam.id }}</th>#}
{#                    <td class="align-middle">{{ sheet.exam.name }}</td>#}
{#                    <td class="align-middle text-center">{{ sheet.exam.type|readable_exam_type }}</td>#}
{#                    <td class="align-middle text-center">{{ sheet.score }}/{{ sheet.num_questions }}</td>#}
{#                    <td class="align-middle text-center">{{ sheet.created_at|date:'Y/n/d H:i' }}</td>#}
{#                    <td class="align-middle text-center">#}
{#                        <a href="/score/{{ sheet.exam.id }}"><i class="fa fa-search fa-fw mb-2"></i></a>#}
{#                    </td>#}
                </tr>
{#            {% endfor %}#}
        </table>
        <nav>
            <ul class="pagination justify-content-end">
                {% for page_index in page_range %}
                <li class="page-item">
                    <a class="page-link" {% if page_index != page %} href="{{ request.get_full_path|replace_page:page_index }}" {% endif %}>{{ page_index|add:1 }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
{#    {% else %}#}
{#        <h2>目前暫無資料！</h2>#}
{#    {% endif %}#}
    </section>
</section>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="container"></div>

<script>
{#line chart#}

function get_line(){
    var line_chart = Highcharts.chart('container', {

        title: {
            text: '歷次模擬鑑測平均成績'
        },
        xAxis: {
            title: {
                text: '#'
            }
        },
        yAxis: {
            title: {
                text: 'Score'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                pointStart: 1
            }
        },

        series: [{
            name: '歷次成績',
            data: [43, 50, 32, 25, 62]
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
}

{#function getpie() {#}
{#    a = 100;#}
{#    b = 30;#}
{#    c = 27;#}
{#    d = a - b - c;#}
{##}
{#    var test = Highcharts.chart('container', {#}
{#        chart: {#}
{#            plotBackgroundColor: null,#}
{#            plotBorderWidth: null,#}
{#            plotShadow: false,#}
{#            type: 'pie'#}
{#        },#}
{#        title: {#}
{#            text: '模擬試卷答對錯誤比率'#}
{#        },#}
{#        tooltip: {#}
{#            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'#}
{#        },#}
{#        plotOptions: {#}
{#            pie: {#}
{#                allowPointSelect: true,#}
{#                cursor: 'pointer',#}
{#                dataLabels: {#}
{#                    enabled: true,#}
                    {#format: '<b>{point.name}</b>: {point.percentage:.1f} %',#}
{#                    style: {#}
{#                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'#}
{#                    }#}
{#                }#}
{#            }#}
{#        },#}
{#        colors: ['#FF3333', '#FF44AA', '#5555FF'#}
{##}
{#        ],#}
{#        series: [{#}
{#            name: 'Brands',#}
{#            colorByPoint: true,#}
{#            data: [{#}
{#                name: '聽力題錯誤所佔比率',#}
{#                y: b#}
{##}
{#            }, {#}
{#                name: '閱讀題錯誤所佔比率',#}
{#                y: c#}
{#            }, {#}
{#                name: '答對比率',#}
{#                y: d,#}
{#                sliced: true,#}
{#                selected: true#}
{#            }]#}
{#        }]#}
{#    });#}
{#}#}
}
</script>
{% endblock %}
