{% extends "base.html" %}

{% load web_filters %}

{% block content %}
    <form action="/tester/practice/{{ practice_type }}" method="post">
        {% csrf_token %}
        <h3>題型</h3>

        {% if practice_type == 'listening' %}
            <input type="radio" id="1" name="question_type" value="1">問答
            <input type="radio" id="2" name="question_type" value="2">簡短對話
        {% elif practice_type == 'reading' %}
            <input type="radio" id="3" name="question_type" value="3">文法
            <input type="radio" id="4" name="question_type" value="4">名詞片語
            <input type="radio" id="5" name="question_type" value="5">段落理解
        {% endif %}

        <select class="form-control" name="num_questions">
            <option>10</option>
            <option>20</option>
            <option>30</option>
        </select>

        <section class="col text-center pt-3">
            <a class="btn btn-secondary" href="/">返回</a>
            <button class="btn btn-primary" type="submit" style="background-color: #1b98e0; color: white">開始練習</button>
        </section>
    </form>
{% endblock %}



{#    QA = (1, '聽力／問答')#}
{#    ShortConversation = (2, '聽力／簡短對話')#}
{#    Grammar = (3, '閱讀／文法')#}
{#    Phrase = (4, '閱讀／名詞片語')#}
{#    ParagraphUnderstanding = (5, '閱讀／段落理解')#}