{% extends 'base.html' %}

{% block path %}
    <a href="{% url 'testee_score_list' %}">受測者</a>
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="">{% if kind == 'listening' %}聽力練習{% else %}閱讀練習{% endif %}</a>
{% endblock %}

{% block content %}
    <div class="testee_practice_create">
        <form action="{% url 'testee_practice_create' kind %}" method="post">
            <div class="title"><h1>Test Practice Create.</h1></div>
            {% csrf_token %}
            <table>
                <tr>
                    {% if kind == 'listening' %}
                        <td class="col-md-2">聽力類型（可複選）</td>
                        <td class="col-md-3">
                            <input type="checkbox" name="question_type" value="1">問答
                            <input type="checkbox" name="question_type" value="2">簡短對話
                        </td>

                    {% elif kind == 'reading' %}
                        <td class="col-md-2">閱讀類型（可複選）</td>
                        <td class="col-md-3">
                            <input type="checkbox" name="question_type" value="3">文法
                            <input type="checkbox" name="question_type" value="4">名詞片語
                            <input type="checkbox" name="question_type" value="5">段落理解
                        </td>

                    {% else %}
                        <td>Unknown</td>
                    {% endif %}
                </tr>

                <tr>
                    <td>題數</td>
                    <td>
                        <select name="question_num" required>
                            <option value="" disabled selected hidden>請選擇題數</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                        </select>
                    </td>
                </tr>
            </table>

            <div class="btn">
                <button type="submit" onclick="alert('可開始進行練習')">建立練習</button>
                <button type="reset">重設</button>
                <button type="button" onclick="self.location=document.referrer;">取消</button>
            </div>

            <style>
                .testee_practice_create .title h1{
                    width: 30%;
                    font-size: 28px;
                    color: #FFFEF6;
                    background-color: #4CCABD;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-right: 15px;
                    padding-left: 45px;
                    text-align: center;
                }

                .testee_practice_create table{
                    position: relative;
                    left: 30%;

                    width: 40%;

                    font-size: 20px;
                }
                .testee_practice_create table td{
                    padding: 4px;
                }
                .testee_practice_create form input{
                    padding: 6px;
                }
                .testee_practice_create form textarea{
                    font-size: 20px;
                    width: 100%;
                    height: 45%;
                    padding: 10px;
                }

                .testee_practice_create .btn{
                    position: relative;
                    top: 30px;
                    left: 35%;
                }
                .testee_practice_create .btn button{
                    font-size: 25px;
                    padding: 10px;
                    padding-left: 15px;
                    padding-right: 15px;
                    color: #FFFEF6;
                    background-color: #4CCABD;
                    border: none;
                }
            </style>
        </form>
    </div>

{% endblock %}