{% extends "base.html" %}

{% load web_filters %}

{% block content %}
    <h3><a href="/">主頁</a> >>  <a href="/tester">受測者</a></h3>
    <div align="center" >
        <h3>練習分類 : {{ practice_type }}</h3>
        <h3>練習時間 : {{ practice.created_time }}</h3>
    </div>
    <div>
        {% for question in selected_questions %}
            <span>{{ question.question_type|readable_question_type }}</span>
            {% if question.question_type is 1 %}
                {% include 'question/qa/display_alone.html' with question=question show_answer=False %}
            {% elif question.question_type is 2 %}
                {% include 'question/short_conversation/display_alone.html' with question=question show_answer=False %}
            {% elif question.question_type is 3 %}
                {% include 'question/grammar/display_alone.html' with question=question show_answer=False %}
            {% elif question.question_type is 4 %}
                {% include 'question/phrase/display_alone.html' with question=question show_answer=False %}
            {% elif question.question_type is 5 %}
                {% include 'question/paragraph_understanding/display_alone.html' with question=question show_answer=False %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}