{% extends 'new_base.html' %}

{% block scripts %}
    <script type="text/javascript">
        function is_selected() {
            var unitName = document.getElementById("unit_name");
            var unit = document.getElementById("unit");

            if (unit.value === 'department' || unit.value === 'squadron') {
                unitName.disabled = false;
            } else {
                unitName.disabled =  true;
            }
        }

        function valid_name(input_unit){
            var invalid = document.getElementById("invalid");
            var submit = document.getElementById("submit");

            if (input_unit.value === ''){
                invalid.innerHTML = "<span style='color: red; font-size: 14px'>Require</span>";
                submit.disabled = true;
            }
            else {
                invalid.innerHTML = "";
                submit.disabled = false;
            }
        }
    </script>
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'unit_list' %}">Unit List</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create Unit</li>
{% endblock %}

{% block content %}
    <main class="unit-create-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <form method="post">
                        {% csrf_token %}
                        <div class="card">
                            <div class="card-header">Unit Create.</div>

                            <div class="card-body">
                                <h5 class="card-subtitle mb-2 text-muted">Unit.</h5>
                                <p class="card-text">
                                    <select class="custom-select custom-select-sm" id='unit' name='unit' onchange="is_selected();" required>
                                        <option value='' selected disabled hidden>Choose the Unit</option>
                                        <option value='department'>Department</option>
                                        <option value='squadron'>Squadron</option>
                                    </select>
                                </p>

                                <h5 class="card-subtitle mb-2 text-muted">Unit Name.<label id="invalid"></label></h5>
                                <p class="card-text">
                                    <input class="form-control" type="text" id="unit_name" name="unit_name" onkeyup="valid_name(this)" placeholder="Enter the name of the unit..." required disabled>
                                </p>

                                <div class="float-right">
                                    <button class="btn btn-primary" type="submit" id="submit" disabled>Submit</button>
                                    <button class="btn btn-secondary" type="button" onclick="self.location=document.referrer;">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}