{% extends 'base.html' %}

{% load web_filters %}

{% block path %}
    <a href="">系統管理員</a>
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="{% url 'user_list' %}">使用者列表</a>
    <a class="fa fa-angle-right fa-lg box"></a>
    <a href="">新增使用者（單一）</a>
{% endblock %}

{% block content %}
    <div class="create_user">
        <form method="post">
            <div class="title"><h1>User Create.</h1></div>
            {% csrf_token %}
                <table>
                    <tr>
                        <td>Reg ID</td>
                        <td>
                            <input type="text" name="reg_id" placeholder="Register ID number..." onkeyup="uniqueID({{ reg_ids }}, this)" required>
                            <label class="unique_id" id="invalid_id"></label>
                        </td>
                    </tr>

                    <tr>
                        <td>Identity</td>
                        <td>
                            <select id="identity" name="identity" required>
                                <option value="" disabled selected>請選擇身份</option>
                                {% for identity in identities %}
                                    <option value="{{ identity.value.0 }}">{{ identity.value.1 }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>權限</td>
                        <td>
                            {% for privilege in privileges.values %}
                                <input type="checkbox" id="{{ privilege.value.0 }}" name="privilege_{{ forloop.counter0 }}" {% if privilege == privileges.Testee %} checked {% endif %}>
                                <label for="{{ privilege.value.0 }}">{{ privilege.value.1 }}&nbsp;&nbsp;&nbsp;</label>
                            {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" style="color: red; text-align: center">
                            -----------------------身份非學生請勿填寫以下資訊-----------------------
                        </td>
                    </tr>

                    <tr>
                        <td>Stu ID</td>
                        <td><input type="text" name="stu_id" placeholder="Student ID number..."></td>
                    </tr>

                    <tr>
                        <td>科系</td>
                        <td>
                            <select name="department">
                                <option value="" disabled selected>請選擇科系</option>
                                {% for department in departments %}
                                    <option value="{{ department.id }}">{{ department }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>中隊</td>
                        <td>
                            <select name="squadron">
                                <option value="" disabled selected>請選擇中隊單位</option>
                                {% for squadron in squadrons %}
                                    <option value="{{ squadron.id }}">{{ squadron }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>年班</td>
                        <td><input type="number" name="grade"></td>
                    </tr>

                </table>

                <div class="btn">
                    <button type="submit" onclick="return confirm('確認新增？')">新增使用者</button>
                    <button type="reset">重設</button>
                    <button type="button" onclick="self.location=document.referrer;">取消</button>
                </div>
        </form>



        <style>
            .create_user .title h1{
                    width: 30%;
                    font-size: 28px;
                    color: #FFFEF6;
                    background-color: #4CCABD;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-right: 15px;
                    padding-left: 45px;
                    text-align: center;
                }

            .create_user table{
                position: relative;
                left: 15%;

                width: 70%;

                font-size: 20px;
            }
            .create_user table td{
                padding: 4px;
            }
            .create_user form input{
                padding: 6px;

                border-style: solid;
                border-width: 0.1em;
                border-radius: 4px;
                border-color: rgb(220, 220, 220);
            }

            .create_user .btn{
                position: relative;
                top: 10px;
                left: 35%;
            }
            .create_user .btn button{
                font-size: 25px;
                padding: 10px;
                padding-left: 15px;
                padding-right: 15px;
                color: #FFFEF6;
                background-color: #4CCABD;
                border: none;
            }

            .unique_id {
                color: #c12e2a;
                font-size: 18px;
            }
        </style>
    </div>

    <div class="mulit">
        <a href="{% url 'user_multiCreate' %}">一次新增多個使用者？</a>

        <style>
            .mulit a{
                position: absolute;
                top: 87%;
                left: 75%;
                color: #4CCABD;
                font-size: 25px;
                text-decoration: none;
            }
        </style>
    </div>

    <script type="text/javascript">
            function uniqueID(reg_ids , id) {
                var arr = reg_ids;

                for(var i = 0; i < arr.length; i++) {
                    if (id.value === arr[i]) {
                        document.getElementById('invalid_id').innerHTML = "此名稱已存在";
                        break;
                    } else {
                        document.getElementById('invalid_id').innerHTML = "";
                    }
                }
            }
        </script>
{% endblock %}