{% extends 'new_base.html' %}

{% load web_filters %}

{% block scripts %}
    <script type="text/javascript">
        var passRegId = false;
        var passIdentity = false;
        var passPrivilege = true;
        var passStuID = false;


        function valid_ID(input) {
            var invalid_id = document.getElementById('invalid_id');

            if (input.value === ""){
                invalid_id.innerHTML = "<span style='color: red; font-size: 14px'>Required</span>";
                invalid_id.style.display = 'block';
                passRegId = false;
            } else if (input.value.length <= 8){
                invalid_id.innerHTML = "<span style='color: red; font-size: 14px'>ID is too short.</span>";
                invalid_id.style.display = 'block';
                passRegId = false;
            } else{
                invalid_id.innerHTML = '';
                invalid_id.style.display = 'none';
                passRegId = true;
            }
            data_valid();
        }

        function valid_stuID(input) {
            var invalid_stu_id = document.getElementById('invalid_stu_id');

            if (input.value === ""){
                invalid_stu_id.innerHTML = "<span style='color: red; font-size: 14px'>Required</span>";
                invalid_stu_id.style.display = 'block';
                passStuID = false;
            } else if (input.value.length <= 8){
                invalid_stu_id.innerHTML = "<span style='color: red; font-size: 14px'>ID is too short.</span>";
                invalid_stu_id.style.display = 'block';
                passStuID = false;
            } else{
                invalid_stu_id.innerHTML = '';
                invalid_stu_id.style.display = 'none';
                passStuID = true;
            }
            data_valid();
        }

        <!-- Checkout whether privilege is empty. -->
        function privilege_not_empty() {
            var privilegeInvalid = document.getElementById('privilege_invalid');
            var system = document.getElementById('SystemManager');
            var testM = document.getElementById('TestManager');
            var tbM = document.getElementById('TBManager');
            var tbO = document.getElementById('TBOperator');
            var viewer = document.getElementById('Viewer');
            var testee = document.getElementById('Testee');

            if (system.checked === false && testM.checked === false && tbM.checked === false &&
                tbO.checked === false && viewer.checked === false && testee.checked === false) {
                privilegeInvalid.innerHTML = "<span style='color: red; font-size: 14px'>Choose one privilege at least.</span>";
                privilegeInvalid.style.display = 'block';
                passPrivilege = false;
            } else {
                privilegeInvalid.innerHTML = '';
                privilegeInvalid.style.display = 'none';
                passPrivilege = true;
            }
            data_valid();
        }

        function is_student() {
            var stuID = document.getElementById('stu_id');
            var department = document.getElementById('department');
            var squadron = document.getElementById('squadron');
            var grade = document.getElementById('grade');
            var identity = document.getElementById('identity');

            if (identity.value === '2') {
                stuID.disabled = false;
                department.disabled = false;
                squadron.disabled = false;
                grade.disabled = false;
                passIdentity = true;
            }
            else {
                stuID.disabled = true;
                stuID.value = '';
                department.disabled = true;
                department.value = '';
                squadron.disabled = true;
                squadron.value = '';
                grade.disabled = true;
                grade.value = '';
                passIdentity = true;
                document.getElementById('invalid_stu_id').innerHTML = '';
                document.getElementById('invalid_stu_id').style.display = 'none';
            }
            data_valid();
        }

        function data_valid() {
            var submit = document.getElementById('submit');
            var identity = document.getElementById('identity');

            if(identity.value === '2'){
                if (passRegId===true && passIdentity===true && passPrivilege===true && passStuID===true){
                    submit.disabled = false;
                } else {
                    submit.disabled = true;
                }
            }
            else if(identity.value === '1' || identity.value === '3'){
                if (passRegId===true && passIdentity===true && passPrivilege===true){
                    submit.disabled = false;
                } else{
                    submit.disabled = true;
                }
            }
            else{
                submit.disabled = true;
            }
        }
    </script>
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'user_list' %}">User List</a></li>
    <li class="breadcrumb-item active" aria-current="page">User Create（Single）</li>
{% endblock %}

{% block content %}
    <main class="create-user-form">
        <form method="post">
            {% csrf_token %}
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">Create User.</div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="reg_id" class="col-md-4 col-form-label text-md-right">Reg ID.</label>
                                    <div class="col-md-6">
                                        <input class="form-control" type="text" id="reg_id" name="reg_id" placeholder="Register ID..." onkeyup="valid_ID(this)" required>
                                        <label class="unique_id" id="invalid_id" style="display: none"></label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Identity.</label>
                                    <div class="col-md-6">
                                        <select class="custom-select custom-select-sm" id="identity" name="identity" onchange="is_student()" required>
                                            <option value="" disabled selected>Choose Identity</option>
                                            {% for identity in identities %}
                                                <option value="{{ identity.value.0 }}">{{ identity.value.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="verification" class="col-md-4 col-form-label text-md-right">Privilege.</label>
                                    <div class="col-md-6">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="button-group">
                                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                                            <i class="fa fa-gears"></i>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li>Privilege Setting.</li>
                                                            {% for privilege in privileges %}
                                                                <li><input type="checkbox" id="{{ privilege.value.1 }}" name="{{ privilege }}" onclick="privilege_not_empty()" {% if privilege == privilege.Testee %} checked {% endif %}>&nbsp;{{ privilege.value.1 }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="privilege_invalid" id="privilege_invalid" style="display: none"></label>
                                    </div>
                                </div>

                                <div class="dropdown-divider"></div>

                                <div class="float-right align-bottom">
                                    <a href="{% url 'user_multiCreate' %}">Multiple Creation？</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">Create Student.</div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="reg_id" class="col-md-4 col-form-label text-md-right">Student ID.</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" id="stu_id" name="stu_id" placeholder="Student ID..." onkeyup="valid_stuID(this)" disabled required>
                                    <label class="unique_stu_id" id="invalid_stu_id" style="display: none"></label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Department.</label>
                                <div class="col-md-6">
                                    <select class="custom-select custom-select-sm" name="department" id="department" disabled>
                                        <option value="" disabled selected>Choose Department.</option>
                                        {% for department in departments %}
                                            <option value="{{ department.id }}">{{ department }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="verification" class="col-md-4 col-form-label text-md-right">Squadron.</label>
                                <div class="col-md-6">
                                    <select class="custom-select custom-select-sm" name="squadron" id="squadron" disabled>
                                        <option value="" disabled selected>Choose Squadron.</option>
                                        {% for squadron in squadrons %}
                                            <option value="{{ squadron.id }}">{{ squadron }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="reg_id" class="col-md-4 col-form-label text-md-right">Grade.</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" name="grade" id="grade" placeholder="Grade..." disabled required>
                                </div>
                            </div>

                            <div class="dropdown-divider"></div>

                            <div class="col-md-12 text-right">
                                <button type="submit" id="submit" class="btn btn-primary" disabled>Submit</button>
                                <button type="reset" class="btn btn-light">Reset</button>
                                <button type="button" class="btn btn-secondary" onclick="history.back()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </form>
    </main>
    <style>
        .create-user-form .container .card .card-body .button-group ul{
            padding-left: 10px;
        }
    </style>
{% endblock %}