{% extends 'new_base.html' %}

{% load web_filters %}

{% block scripts %}
    <script type="text/javascript">
        var validRegId = false;
        var validName = false;
        var validEmail = false;
        var validGender = false;
        var validIdentity = false;
        var validPrivilege = false;
        var validStuId = false;
        var validGrade = false;
        var validSquadron = false;
        var validDepartment = false;

        var originSystem = false;
        var originTestM = false;
        var originTBM = false;
        var originTBO = false;
        var originViewer = false;
        var originTestee = false;

        // Get original privilege
        window.onload = function() {
            var system = document.getElementById('SystemManager');
            var testM = document.getElementById('TestManager');
            var tbM = document.getElementById('TBManager');
            var tbO = document.getElementById('TBOperator');
            var viewer = document.getElementById('Viewer');
            var testee = document.getElementById('Testee');

            if(system.checked === true) originSystem = true;
            if(testM.checked === true) originTestM = true;
            if(tbM.checked === true) originTBM = true;
            if(tbO.checked === true) originTBO = true;
            if(viewer.checked === true) originViewer = true;
            if(testee.checked === true) originTestee = true;
        };

        // Checkout whether privilege change and privilege can't be empty.
        function privilege_valid() {
            var privilegeInvalid = document.getElementById('privilege_invalid');
            var system = document.getElementById('SystemManager');
            var testM = document.getElementById('TestManager');
            var tbM = document.getElementById('TBManager');
            var tbO = document.getElementById('TBOperator');
            var viewer = document.getElementById('Viewer');
            var testee = document.getElementById('Testee');

            // Checkout whether privilege is changed.
            if (system.checked === originSystem && testM.checked === originTestM && tbM.checked === originTBM &&
                tbO.checked === originTBO && viewer.checked === originViewer && testee.checked === originTestee){
                privilegeInvalid.innerHTML = '';
                validPrivilege = false;
            }
            // Checkout whether privilege isn't null.
            else if (system.checked === false && testM.checked === false && tbM.checked === false &&
                tbO.checked === false && viewer.checked === false && testee.checked === false) {
                privilegeInvalid.innerHTML = "<span style='color: red; font-size: 14px'>Choose one privilege at least.</span>";
                validPrivilege = false;
            }
            else {
                privilegeInvalid.innerHTML = '';
                validPrivilege = true;
            }
            data_valid();
        }

        // Checkout whether name change and name can't be empty.
        function reg_id_valid(origin,input) {
            var invalid_id = document.getElementById('reg_id_invalid');

            if (input.value === ""){
                invalid_id.innerHTML = "<span style='color: red; font-size: 14px'>Required</span>";
                validRegId = false;
            } else if (input.value.length < 8){
                invalid_id.innerHTML = "<span style='color: red; font-size: 14px'>ID is too short.</span>";
                validRegId = false;
            } else if (origin === input.value) {
                invalid_id.innerHTML = '';
                validRegId = false;
            } else {
                invalid_id.innerHTML = '';
                validRegId = true;
            }
            data_valid();
        }

        // Checkout whether name change.
        function name_valid(origin ,input) {
            var name_invalid = document.getElementById('name_invalid');

            if (origin === input.value) {
                validName = false;
                name_invalid.innerHTML = '';
            } else if(input.value === ''){
                validName = false;
                name_invalid.innerHTML = "<span style='color: red; font-size: 14px'>Required</span>";
            } else {
                validName = true;
                name_invalid.innerHTML = '';
            }
            data_valid();
        }

        // Checkout whether email change.
        function email_valid(origin ,input) {
            var email_invalid = document.getElementById('email_invalid');

            if (origin === input.value) {
                validEmail = false;
                email_invalid.innerHTML = '';
            } else if(input.value === ''){
                validEmail = false;
                email_invalid.innerHTML = "<span style='color: red; font-size: 14px'>Required</span>";
            } else {
                validEmail = true;
                email_invalid.innerHTML = '';
            }
            data_valid();
        }

        // Checkout whether gender change.
        function gender_valid(origin ,input) {
            var gender_invalid = document.getElementById('gender_invalid');

            if (origin === input.value) {
                validGender = false;
                gender_invalid.innerHTML = '';
            } else if(input.value === ''){
                validGender = false;
                gender_invalid.innerHTML = "<span style='color: red; font-size: 14px'>Required</span>";
            } else {
                validGender = true;
                gender_invalid.innerHTML = '';
            }
            data_valid();
        }

        // Checkout whether identity change.
        function identity_valid(origin ,input) {
            if (origin === input.value) {
                validIdentity = false;
                document.getElementById('identity_invalid').innerHTML = '';
            } else if(input.value === ''){
                validIdentity = false;
                document.getElementById('identity_invalid').innerHTML = "<span style='color: red; font-size: 14px'>Required</span>";
            } else {
                validIdentity = true;
                document.getElementById('identity_invalid').innerHTML = '';
            }
            data_valid();
        }

        // Checkout whether name change and name can't be empty.
        function stu_id_valid(origin, stu_ids ,input) {
            var arr = stu_ids;
            var invalid_id = document.getElementById('stu_id_invalid');

                if (input.value === ""){
                    invalid_id.innerHTML = "<span style='color: red; font-size: 14px'>Required</span>";
                    validStuId = false;
                } else if (origin === input.value) {
                    invalid_id.innerHTML = '';
                    validStuId = false;
                } else {
                    invalid_id.innerHTML = '';
                    validStuId = true;
                }
            data_valid();
        }

        // Checkout whether grade change and not null.
        function grade_valid(origin ,input) {
            var grade_invalid = document.getElementById('grade_invalid');

            if (origin === input.value) {
                validGrade = false;
                grade_invalid.innerHTML = '';
            } else if(input.value === ''){
                validGrade = false;
                grade_invalid.innerHTML = "<span style='color: red; font-size: 14px'>Required</span>";
            } else {
                validGrade = true;
                grade_invalid.innerHTML = '';
            }
            data_valid();
        }

        // Checkout whether department change.
        function department_valid(origin ,input) {
            var department_invalid = document.getElementById('department_invalid');

            if (origin === input.value) {
                validDepartment = false;
                department_invalid.innerHTML = '';
            } else if(input.value === ''){
                validDepartment = false;
                department_invalid.innerHTML = "<span style='color: red; font-size: 14px'>Required</span>";
            } else {
                validDepartment = true;
               department_invalid.innerHTML = '';
            }
            data_valid();
        }

        // Checkout whether squadron change.
        function squadron_valid(origin ,input) {
            var squadron_invalid = document.getElementById('squadron_invalid');

            if (origin === input.value) {
                validSquadron = false;
                squadron_invalid.innerHTML = '';
            } else if(input.value === ''){
                validSquadron = false;
                squadron_invalid.innerHTML = "<span style='color: red; font-size: 14px'>Required</span>";
            } else {
                validSquadron = true;
                squadron_invalid.innerHTML = '';
            }
            data_valid();
        }

        // Checkout whether all of data is valid.
        function data_valid() {
            var identity = document.getElementById('identity');
            var submit = document.getElementById('submit');

            if(identity.value === '2'){
                if (validRegId===true || validName===true || validEmail===true || validGender===true || validIdentity===true ||
                    validPrivilege===true || validStuId===true || validGrade===true|| validSquadron===true || validDepartment===true){
                    submit.disabled = false;
                } else {
                    submit.disabled = true;
                }
            }
            else {
                if (validRegId === true || validName === true || validEmail === true || validGender === true || validIdentity === true ||
                    validPrivilege === true) {
                    submit.disabled = false;
                } else {
                    submit.disabled = true;
                }
            }
        }
    </script>
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'user_list' %}">User List</a></li>
    <li class="breadcrumb-item active" aria-current="page">User Edit</li>
{% endblock %}

{% block content %}
    <main class="edit-user-form">
        <form method="post">
            {% csrf_token %}

            <div class="container">
                {% if edited_user.student %}
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card mb-3">
                                <div class="card-header">
                                    User Photo.
                                </div>

                                {% if edited_user.photo %}
                                    <img class="card-img-top" src="{{ edited_user.photo.url }}" alt="{{ edited_user.name }}">
                                {% else %}
                                    <img class="card-img-top" src="..." alt="{{ edited_user.name }}">
                                {% endif %}

                                <div class="card-body">
                                    <p class="card-text">{{ edited_user.introduction|linebreaksbr }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    User Profile.
                                </div>

                                <div class="card-body text-left">
                                    <h5 class="card-subtitle mb-2 text-muted">
                                        Register ID.<label id="reg_id_invalid" class="reg_id_invalid"></label>
                                    </h5>
                                    <p>
                                        <input class="form-control" type="text" name="reg_id" id="reg_id" value="{{ edited_user.reg_id }}" onkeyup="reg_id_valid('{{ edited_user.reg_id }}', this)" required>
                                    </p>

                                    <h5 class="card-subtitle mb-2 text-muted">
                                        Name.<label id="name_invalid" class="name_invalid"></label>
                                    </h5>
                                    <p class="card-text">
                                        <input class="form-control" type="text" name="name" {% if edited_user.name %}value="{{ edited_user.name }}"{% endif %} onkeyup="name_valid('{{ edited_user.name }}', this)" placeholder="Name..." required>
                                    </p>

                                    <h5 class="card-subtitle mb-2 text-muted">
                                        Email.<label id="email_invalid" class="email_invalid"></label>
                                    </h5>
                                    <p class="card-text">
                                        <input class="form-control" type="text" name="email" {% if edited_user.email %}value="{{ edited_user.email }}"{% endif %} onkeyup="email_valid('{{ edited_user.email }}', this)" placeholder="Email..." required>
                                    </p>

                                    <h5 class="card-subtitle mb-2 text-muted">
                                        Gender.<label id="gender_invalid" class="gender_invalid"></label>
                                    </h5>
                                    <p class="card-text">
                                        <select class="custom-select custom-select-sm" name="gender" id="gender" onchange="gender_valid('{{ edited_user.gender }}', document.getElementById('gender'))" required>
                                            <option value="" disabled selected>Choose Gender.</option>
                                            <option value="1" {% if edited_user.gender == 1 %}selected{% endif %}>Male</option>
                                            <option value="2" {% if edited_user.gender == 2 %}selected{% endif %}>Female</option>
                                            <option value="3" {% if edited_user.gender == 3 %}selected{% endif %}>Privacy</option>
                                        </select>
                                    </p>

                                    <h5 class="card-subtitle mb-2 text-muted">
                                        Identity.<label id="identity_invalid" class="identity_invalid"></label>
                                    </h5>
                                    <p class="card-text">
                                        <select class="custom-select custom-select-sm" name="identity" id="identity" onchange="identity_valid('{{ edited_user.identity }}', document.getElementById('identity'))" required>
                                            <option value="" disabled selected>Choose Identity.</option>
                                            {% for identity in identities %}
                                                <option value="{{ identity.value.0 }}" {% if edited_user.identity == identity.value.0 %}selected{% endif %}>{{ identity.value.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </p>

                                    <h5 class="card-subtitle mb-2 text-muted">
                                        Privilege.<label id="privilege_invalid" class="privilege_invalid"></label>
                                    </h5>
                                    <p class="card-text">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="button-group">
                                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fa fa-gears"></i>
                                                    </button>
                                                        <ul class="dropdown-menu">
                                                            <li class="dropdown-header">Privilege Setting.</li>
                                                            {% for privilege in privileges %}
                                                                <li data-value="{{ privilege.value.0 }}"><input type="checkbox" id="{{ privilege.value.1 }}" name="{{ privilege }}" onclick="privilege_valid()" {% if edited_user|has_permission:privilege %} checked {% endif %}>&nbsp;{{ privilege.value.1 }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </p>
                                </div>

                                <div class="card-footer text-muted">
                                    <span style="font-size: 12px">Last login - {{ user.last_login }}<br></span>
                                    <span style="font-size: 12px">Create time - {{ user.created_time }}<br></span>
                                    <span style="font-size: 12px">
                                        Status -
                                        {% if user.is_active %}
                                            active
                                        {% elif user.is_staff %}
                                            staff
                                        {% elif user.is_superuser %}
                                            superuser
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="card lg-3">
                                <div class="card-header">
                                    Student Profile.
                                </div>

                                <div class="card-body text-left">
                                    <h5 class="card-subtitle mb-2 text-muted">
                                        Student ID.<span id="stu_id_invalid" class="stu_id_invalid"></span>
                                    </h5>
                                    <h3 class="card-title">
                                        <input class="form-control" type="text" name="stu_id" value="{{ edited_user.student.stu_id }}" onkeyup="stu_id_valid('{{ edited_user.student.stu_id }}', {{ stu_ids }}, this)" required>
                                    </h3>

                                    <h5 class="card-subtitle mb-2 text-muted">
                                        Department.<label id="department_invalid" class="department_invalid"></label>
                                    </h5>
                                    <p class="card-text">
                                        <select class="custom-select custom-select-sm" name="department" id="department" onchange="department_valid('{{ edited_user.student.department.id }}', document.getElementById('department'))">
                                            <option value="" disabled selected>Choose Department.</option>
                                            {% for department in departments %}
                                                <option value="{{ department.id }}" {% if department == edited_user.student.department %}selected{% endif %}>{{ department }}</option>
                                            {% endfor %}
                                        </select>
                                    </p>

                                    <h5 class="card-subtitle mb-2 text-muted">
                                        Squadron.<label id="squadron_invalid" class="squadron_invalid"></label>
                                    </h5>
                                    <p class="card-text">
                                        <select class="custom-select custom-select-sm" name="squadron" id="squadron" onchange="squadron_valid('{{ edited_user.student.squadron.id }}', document.getElementById('squadron'))">
                                            <option value="" disabled selected>Choose Squadron.</option>
                                            {% for squadron in squadrons %}
                                                <option value="{{ squadron.id }}" {% if squadron == edited_user.student.squadron %}selected{% endif %}>{{ squadron }}</option>
                                            {% endfor %}
                                        </select>
                                    </p>

                                    <h5 class="card-subtitle mb-2 text-muted">
                                        Grade.<label id="grade_invalid" class="grade_invalid"></label>
                                    </h5>
                                    <p class="card-text">
                                        <input class="form-control" type="text" name="grade" value="{{ edited_user.student.grade }}" onkeyup="grade_valid('{{ edited_user.student.grade }}', this)" required>
                                    </p>
                                </div>

                                <div class="card-footer text-right">
                                    <button type="submit" class="btn btn-primary" id="submit" disabled>Update</button>
                                    <button type="button" class="btn btn-secondary" onclick="history.back()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-header">
                                    User Photo.
                                </div>

                                {% if edited_user.photo %}
                                    <img class="card-img-top" src="{{ edited_user.photo.url }}" alt="{{ edited_user.name }}">
                                {% else %}
                                    <img class="card-img-top" src="..." alt="{{ edited_user.name }}">
                                {% endif %}

                                <div class="card-body">
                                    <p class="card-text">{{ eidted_user.introduction|linebreaksbr }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-8">
                            <div class="card mb-3">
                                <div class="card-header">
                                    User Profile.
                                </div>

                                <div class="card-body text-left">
                                    <h5 class="card-subtitle mb-2 text-muted">
                                        Register ID.<label id="reg_id_invalid" class="reg_id_invalid"></label>
                                    </h5>
                                    <p>
                                        <input class="form-control" type="text" name="reg_id" id="reg_id" value="{{ edited_user.reg_id }}" onkeyup="reg_id_valid('{{ edited_user.reg_id }}', this)" required>
                                    </p>

                                    <h5 class="card-subtitle mb-2 text-muted">
                                        Name.<label id="name_invalid" class="name_invalid"></label>
                                    </h5>
                                    <p class="card-text">
                                        <input class="form-control" type="text" name="name" {% if edited_user.name %}value="{{ edited_user.name }}"{% endif %} onkeyup="name_valid('{{ edited_user.name }}', this)" placeholder="Name..." required>
                                    </p>

                                    <h5 class="card-subtitle mb-2 text-muted">
                                        Email.<label id="email_invalid" class="email_invalid"></label>
                                    </h5>
                                    <p class="card-text">
                                        <input class="form-control" type="text" name="email" {% if edited_user.email %}value="{{ edited_user.email }}"{% endif %} onkeyup="email_valid('{{ edited_user.email }}', this)" placeholder="Email..." required>
                                    </p>

                                    <h5 class="card-subtitle mb-2 text-muted">
                                        Gender.<label id="gender_invalid" class="gender_invalid"></label>
                                    </h5>
                                    <p class="card-text">
                                        <select class="custom-select custom-select-sm" name="gender" id="gender" onchange="gender_valid('{{ edited_user.gender }}', document.getElementById('gender'))" required>
                                            <option value="" disabled selected>Choose Gender.</option>
                                            <option value="1" {% if edited_user.gender == 1 %}selected{% endif %}>Male</option>
                                            <option value="2" {% if edited_user.gender == 2 %}selected{% endif %}>Female</option>
                                            <option value="3" {% if edited_user.gender == 3 %}selected{% endif %}>Privacy</option>
                                        </select>
                                    </p>

                                    <h5 class="card-subtitle mb-2 text-muted">
                                        Identity.<label id="identity_invalid" class="identity_invalid"></label>
                                    </h5>
                                    <p class="card-text">
                                        <select class="custom-select custom-select-sm" name="identity" id="identity" onchange="identity_valid('{{ edited_user.identity }}', document.getElementById('identity'))" required>
                                            <option value="" disabled selected>Choose Identity.</option>
                                            {% for identity in identities %}
                                                <option value="{{ identity.value.0 }}" {% if edited_user.identity == identity.value.0 %}selected{% endif %}>{{ identity.value.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </p>

                                    <h5 class="card-subtitle mb-2 text-muted">
                                        Privilege.<label id="privilege_invalid" class="privilege_invalid"></label>
                                    </h5>
                                    <p class="card-text">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="button-group">
                                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fa fa-gears"></i>
                                                    </button>
                                                        <ul class="dropdown-menu">
                                                            <li class="dropdown-header">Privilege Setting.</li>
                                                            {% for privilege in privileges %}
                                                                <li data-value="{{ privilege.value.0 }}"><input type="checkbox" id="{{ privilege.value.1 }}" name="{{ privilege }}" onclick="privilege_valid()" {% if edited_user|has_permission:privilege %} checked {% endif %}>&nbsp;{{ privilege.value.1 }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </p>
                                </div>

                                <div class="card-footer text-muted">
                                    <span style="font-size: 12px">Last login - {{ user.last_login }}<br></span>
                                    <span style="font-size: 12px">Create time - {{ user.created_time }}<br></span>
                                    <span style="font-size: 12px">
                                        Status -
                                        {% if user.is_active %}
                                            active
                                        {% elif user.is_staff %}
                                            staff
                                        {% elif user.is_superuser %}
                                            superuser
                                        {% endif %}
                                    </span>

                                    <div class="text-right">
                                        <button type="submit" id="submit" class="btn btn-primary" disabled>Update</button>
                                        <button type="button" onclick="history.go(-1)" class="btn btn-secondary">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </form>
    </main>
    <style>
        .edit-user-form .container .card .card-body .button-group ul{
            padding-left: 10px;
        }
    </style>
{% endblock %}