{% extends "base.html" %}

{% load web_filters %}

{% block content %}

<head>
    <style>
        #pt {
            margin: 2px;
            height: 29px;
            border: none;
            background: transparent;
            line-height: 29px;
        }
        .bm{
            margin-bottom: 5px;
            border: 1px solid #CDCDCD;
            background: #FFF;
        }
        #pt .z{
            padding-right: 10px;
            float: left;
        }
    </style>
</head>

<section class="row align-items-center">
    <section class="col-auto mr-auto">
        <div id="pt" class="bm c1">
            <div class="z">
                <a class="fa fa-home fa-2x" href="/" ></a>
                <a class="fa fa-angle-double-right fa-lg box"></a>
                <a href="#" style="font-size: 18px">系統管理員</a>
                <a class="fa fa-angle-right fa-lg"></a>
                <a href="#" style="font-size: 18px">使用者列表</a>
            </div>
            <div style="padding-right: 10px"></div>
        </div>
        <h1 style="display: inline;">使用者列表</h1>
    </section>
    <section class="col-auto float-right">
        <a class="btn btn-sq-lg " href="/user/create" style="background-color: #1b98e0; color: white;" >新增使用者</a>
    </section>

    <div class="w-100 my-3"></div>

    <section class="col">
        <div class="card">
            <div class="card-body">
                <form action="/user" method="get">
                    <div class="row">
                        <div class="col-auto">
                            <select class="custom-select" name="department">
                                <option value="0">所有學系</option>
                                {% for dept in departments %}
                                <option value="{{ dept.id }}" {% if dept.id == keywords.dept_id %} selected {% endif %}>{{ dept.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-2">
                            <input type="number" class="form-control" name="grade" value="{{ keywords.grade }}" placeholder="年班">
                        </div>
                        <div class="col-2">
                            <select class="custom-select" name="squadron">
                                <option value="0">所有中隊</option>
                                {% for squa in squadrons %}
                                <option value="{{ squa.id }}" {% if squa.id == keywords.squa_id %} selected {% endif %}>{{ squa.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="name" value="{{ keywords.name }}" placeholder="學號/姓名">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary" style="background-color: #1b98e0; color: white;">搜尋</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <div class="w-100 my-3"></div>

    <section class="col">
    {% if users %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">學號</th>
                    <th scope="col">學系</th>
                    <th scope="col">年班</th>
                    <th scope="col">中隊</th>
                    <th scope="col">姓名</th>
                    <th scope="col">特殊權限</th>
                    <th scope="col">最後登入時間</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            {% for user in users %}
                <tr>
                    <th scope="row" class="align-middle">{{ user.serial_number }}</th>
                    {% if user|is_student %}
                        {% for data in user|student_data %}
                            <td class="align-middle">{{ data }}</td>
                        {% endfor %}
                    {% else %}
                        <td class="align-middle">N/A</td>
                        <td class="align-middle">N/A</td>
                        <td class="align-middle">N/A</td>
                    {% endif %}
                    <td class="align-middle">{{ user.name }}</td>
                    <td class="align-middle">
                        {% if user|has_perms:user_types.SystemManager %}
                        <span class="badge badge-danger">{{ user_types.SystemManager.value.1 }}</span>
                        {% endif %}
                        {% if user|has_perms:user_types.ExamManager %}
                        <span class="badge badge-warning">{{ user_types.ExamManager.value.1 }}</span>
                        {% endif %}
                        {% if user|has_perms:user_types.QuestionManager %}
                        <span class="badge badge-primary">{{ user_types.QuestionManager.value.1 }}</span>
                        {% endif %}
                        {% if user|has_perms:user_types.QuestionOperator %}
                        <span class="badge badge-success">{{ user_types.QuestionOperator.value.1 }}</span>
                        {% endif %}
                        {% if user|has_perms:user_types.ScoreViewer %}
                        <span class="badge badge-info">{{ user_types.ScoreViewer.value.1 }}</span>
                        {% endif %}
                        {% if user|has_perms:user_types.Tester %}
                        <span class="badge badge-dark">{{ user_types.Tester.value.1 }}</span>
                        {% endif %}
                    </td>
                    <td class="align-middle">{{ user.last_login|date:'Y/n/d H:i' }}</td>
                    <td class="align-middle">
                        <a href="/user/{{ user.serial_number }}"><i class="fa fa-pencil fa-fw mb-2"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <nav>
            <ul class="pagination justify-content-end">
                {% for page_index in page_range %}
                <li class="page-item">
                    <a class="page-link" {% if page_index != page %} href="{{ request.get_full_path|replace_page:page_index }}" {% endif %}>{{ page_index|add:1 }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    {% else %}
        <h2>目前暫無資料！</h2>
    {% endif %}
    </section>
</section>
{% endblock %}
