{% extends 'new_base.html' %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'unit_list' %}">Unit List</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ viewed_unit.name }}</li>
{% endblock %}

{% block content %}
    <main class="unit-member-list">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <h5 class="card-header">{{ viewed_unit.name }} Member List.</h5>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Account.</th>
                                            <th>Student ID.</th>
                                            <th>Name.</th>
                                            <th>Year Grade.</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% if unit_members %}
                                            {% for member in unit_members %}
                                                <tr style="cursor: pointer" onclick="window.location.href='{% url 'view_profile' member.user.reg_id %}'">
                                                    <td>{{ member.user.reg_id }}</td>
                                                    <td>{{ member.stu_id }}</td>
                                                    <td>{{ member.user.name }}</td>
                                                    <td>{{ member.grade }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td colspan="4" class="text-center">No Data.</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer text-muted">
                            <footer class="blockquote-footer">
                                {{ unit_members.count }} in {{ viewed_unit }}
                                <button type="button" class="btn btn-primary float-right" onclick="history.back()">OK</button>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}