{% extends 'new_base.html' %}

{% block scripts %}
    <script type="text/javascript">
        function valid_name(origin, input){
            var invalid = document.getElementById("invalid");
            var submit = document.getElementById("submit");

            if (input.value === ''){
                invalid.innerHTML = "<span style='color: red; font-size: 14px'>Require</span>";
                submit.disabled = true;
            } else if(origin === input.value){
                invalid.innerHTML = "";
                submit.disabled = true;
            } else {
                invalid.innerHTML = "";
                submit.disabled = false;
            }
        }
    </script>
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'unit_list' %}">Unit List</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Unit</li>
{% endblock %}

{% block content %}
    <main class="unit-edit-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <form method="post">
                        {% csrf_token %}
                        <div class="card">
                            <div class="card-header">Unit Edit.</div>

                            <div class="card-body">
                                <h5 class="card-subtitle mb-2 text-muted">Unit Name.<label id="invalid"></label></h5>
                                <p class="card-text">
                                    <input class="form-control" type="text" name="name" value="{{ edited_unit.name }}" onkeyup="valid_name('{{ edited_unit.name }}', this)" required>
                                </p>

                                <div class="float-right">
                                    <button type="submit" id="submit" class="btn btn-primary" disabled>Update</button>
                                    <button type="button" class="btn btn-secondary" onclick="self.location=document.referrer;">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}