{% extends 'new_base.html' %}

{% load web_filters %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'user_list' %}">User List</a></li>
    <li class="breadcrumb-item active" aria-current="page">View Profile</li>
{% endblock %}

{% block content %}
    <main class="view-profile">
        <div class="container">
            {% if viewed_user.student %}
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card mb-3">
                            <div class="card-header">
                                User Photo.
                            </div>

                            {% if viewed_user.photo %}
                                <img class="card-img-top" src="{{ viewed_user.photo.url }}" alt="{{ viewed_user.name }}">
                            {% else %}
                                <img class="card-img-top" src="..." alt="{{ viewed_user.name }}">
                            {% endif %}

                            <div class="card-body">
                                <p class="card-text">{{ viewed_user.introduction|linebreaksbr }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card mb-3">
                            <div class="card-header">
                                User Profile.
                            </div>

                            <div class="card-body text-left">
                                <h5 class="card-subtitle mb-2 text-muted">Register ID.</h5>
                                <h3 class="card-text">{{ viewed_user.reg_id }}</h3>

                                <h5 class="card-subtitle mb-2 text-muted">Name.</h5>
                                <p class="card-text">
                                    {% if viewed_user.name %}
                                        {{ viewed_user.name }}
                                    {% else %}
                                        Unset
                                    {% endif %}
                                </p>

                                <h5 class="card-subtitle mb-2 text-muted">Email.</h5>
                                <p class="card-text">
                                    {% if viewed_user.email %}
                                        {{ viewed_user.email }}
                                    {% else %}
                                        Unset
                                    {% endif %}
                                </p>

                                <h5 class="card-subtitle mb-2 text-muted">Gender.</h5>
                                <p class="card-text">
                                    {% if viewed_user.gender == 1 %}Male
                                    {% elif viewed_user.gender == 2 %}Female
                                    {% elif viewed_user.gender == 3 %}Privacy
                                    {% else %}Unset
                                    {% endif %}
                                </p>

                                <h5 class="card-subtitle mb-2 text-muted">Identity.</h5>
                                <p class="card-text">
                                    {% if viewed_user.identity %}
                                        {{ viewed_user.identity|readableIdentity }}
                                    {% else %}
                                        Unset
                                    {% endif %}
                                </p>

                                <h5 class="card-subtitle mb-2 text-muted">Privilege.</h5>
                                <p class="card-text">
                                    {% if viewed_user|has_perms:privileges.SystemManager %}
                                        <span class="badge alert-danger">{{ privileges.SystemManager.value.1 }}</span>
                                    {% endif %}
                                    {% if viewed_user|has_perms:privileges.TestManager %}
                                        <span class="badge alert-warning">{{ privileges.TestManager.value.1 }}</span>
                                    {% endif %}
                                    {% if viewed_user|has_perms:privileges.TBManager %}
                                        <span class="badge badge-primary">{{ privileges.TBManager.value.1 }}</span>
                                    {% endif %}
                                    {% if viewed_user|has_perms:privileges.TBOperator %}
                                        <span class="badge alert-success">{{ privileges.TBOperator.value.1 }}</span>
                                    {% endif %}
                                    {% if viewed_user|has_perms:privileges.Viewer %}
                                        <span class="badge alert-info">{{ privileges.Viewer.value.1 }}</span>
                                    {% endif %}
                                    {% if viewed_user|has_perms:privileges.Testee %}
                                        <span class="badge alert-dark">{{ privileges.Testee.value.1 }}</span>
                                    {% endif %}
                                </p>
                            </div>

                            <div class="card-footer text-muted">
                                <p style="font-size: 12px">Last login - {{ viewed_user.last_login }}</p>
                                <p style="font-size: 12px">Create time - {{ viewed_user.created_time }}</p>
                                <p style="font-size: 12px">
                                    Status -
                                    {% if viewed_user.is_active %}
                                        <span>active</span>
                                    {% elif viewed_user.is_staff %}
                                        <span>staff</span>
                                    {% elif viewed_user.is_superuser %}
                                        <span>superuser</span>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card mb-3">
                            <div class="card-header">
                                Student Profile.
                            </div>

                            <div class="card-body text-left">
                                <h5 class="card-subtitle mb-2 text-muted">Student ID.</h5>
                                <h3 class="card-text">{{ viewed_user.student.stu_id }}</h3>

                                <h5 class="card-subtitle mb-2 text-muted">Department.</h5>
                                <p class="card-text">{{ viewed_user.student.department }}</p>

                                <h5 class="card-subtitle mb-2 text-muted">Squadron.</h5>
                                <p class="card-text">{{ viewed_user.student.squadron }}</p>

                                <h5 class="card-subtitle mb-2 text-muted">Grade.</h5>
                                <p class="card-text">{{ viewed_user.student.grade }}</p>
                            </div>

                            <div class="card-footer text-right">
                                <button onclick="history.back()" class="btn btn-primary">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-3">
                            <div class="card-header">
                                User Photo.
                            </div>

                            {% if viewed_user.photo %}
                                <img class="card-img-top" src="{{ viewed_user.photo.url }}" alt="{{ viewed_user.name }}">
                            {% else %}
                                <img class="card-img-top" src="..." alt="{{ viewed_user.name }}">
                            {% endif %}

                            <div class="card-body">
                                <p class="card-text">{{ viewed_user.introduction|linebreaksbr }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="card mb-3">
                    <div class="card-header">
                        User Profile.
                    </div>

                    <div class="card-body">
                        <h5 class="card-subtitle mb-2 text-muted">Reg ID.</h5>
                        <h3 class="card-text">{{ viewed_user.reg_id }}</h3>

                        <h5 class="card-subtitle mb-2 text-muted">Name.</h5>
                        <p class="card-text">
                            {% if viewed_user.name %}
                                {{ viewed_user.name }}
                            {% else %}
                                Unset
                            {% endif %}
                        </p>

                        <h5 class="card-subtitle mb-2 text-muted">Email.</h5>
                        <p class="card-text">
                            {% if viewed_user.email %}
                                {{ viewed_user.email }}
                            {% else %}
                                Unset
                            {% endif %}
                        </p>

                        <h5 class="card-subtitle mb-2 text-muted">Gender.</h5>
                        <p class="card-text">
                            {% if viewed_user.gender == 1 %}Male
                            {% elif viewed_user.gender == 2 %}Female
                            {% elif viewed_user.gender == 3 %}Privacy
                            {% else %}Unset
                            {% endif %}
                        </p>

                        <h5 class="card-subtitle mb-2 text-muted">Identity.</h5>
                        <p class="card-text">
                            {% if viewed_user.identity %}
                                {{ viewed_user.identity|readableIdentity }}
                            {% else %}
                                Unset
                            {% endif %}
                        </p>

                        <h5 class="card-subtitle mb-2 text-muted">Privilege.</h5>
                        <p class="card-text">
                            {% if viewed_user|has_perms:privileges.SystemManager %}
                                <span class="badge alert-danger">{{ privileges.SystemManager.value.1 }}</span>
                            {% endif %}
                            {% if viewed_user|has_perms:privileges.TestManager %}
                                <span class="badge alert-warning">{{ privileges.TestManager.value.1 }}</span>
                            {% endif %}
                            {% if viewed_user|has_perms:privileges.TBManager %}
                                <span class="badge badge-primary">{{ privileges.TBManager.value.1 }}</span>
                            {% endif %}
                            {% if viewed_user|has_perms:privileges.TBOperator %}
                                <span class="badge alert-success">{{ privileges.TBOperator.value.1 }}</span>
                            {% endif %}
                            {% if viewed_user|has_perms:privileges.Viewer %}
                                <span class="badge alert-info">{{ privileges.Viewer.value.1 }}</span>
                            {% endif %}
                            {% if viewed_user|has_perms:privileges.Testee %}
                                <span class="badge alert-dark">{{ privileges.Testee.value.1 }}</span>
                            {% endif %}
                        </p>
                    </div>

                    <div class="card-footer text-muted">
                        <p style="font-size: 12px">Last login - {{ viewed_user.last_login }}</p>
                        <p style="font-size: 12px">Create time - {{ viewed_user.created_time }}</p>
                        <p style="font-size: 12px">
                            Status -
                            {% if viewed_user.is_active %}
                                <span>active</span>
                            {% elif viewed_user.is_staff %}
                                <span>staff</span>
                            {% elif viewed_user.is_superuser %}
                                <span>superuser</span>
                            {% endif %}
                        </p>

                        <div class="text-right">
                            <button onclick="history.back()" class="btn btn-primary">OK</button>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </main>

{% endblock %}