{% extends 'base.html' %}

{% load web_filters %}

{% block path %}
    <a href="">系統管理員</a>
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="{% url 'user_list' %}">使用者列表</a>
    <a class="fa fa-angle-right fa-lg box"></a>
    <a href="#">編輯使用者</a>
{% endblock %}

{% block content %}
    <!-- 大頭貼 -->
    <div class="photo">
        <i class="fa fa-user-circle"></i>

        <style>
            .photo{
                position: absolute;
                left: 8%;
                top: 6%;
            }

            .photo i{
                font-size: 160px;
                color: #5e5e5e;
            }
        </style>
    </div>

    <div class="user_info">
        <ul class="user_info1">
            <li>使用者帳號</li>
            <li>姓名</li>
            <li>Email</li>
            <li>性別</li>
            <li>身份</li>
            <li>權限</li>
        </ul>

        <ul class="user_info1_">
            <li>{{ viewed_user.reg_id }}</li>
            <li>{% if viewed_user.name %}{{ viewed_user.name }}{% else %}尚未設定{% endif %}</li>
            <li>{% if viewed_user.email %}{{ viewed_user.email }}{% else %}尚未設定{% endif %}</li>
            <li>
                {% if viewed_user.gender == 0 %}男
                {% elif viewed_user.gender == 1 %}女
                {% elif viewed_user.gender == 2 %}不想公開
                {% else %}尚未設定
                {% endif %}</li>
            <li>{% if viewed_user.identity %}{{ viewed_user.identity|readableIdentity }}{% else %}尚未設定{% endif %}</li>
            <li>
                {% if viewed_user|has_perms:privileges.SystemManager %}
                    <span class="badge alert-danger" style="padding-bottom: 8px">{{ privileges.SystemManager.value.1 }}</span>
                {% endif %}
                {% if viewed_user|has_perms:privileges.TestManager %}
                    <span class="badge alert-warning" style="padding-bottom: 8px">{{ privileges.TestManager.value.1 }}</span>
                {% endif %}
                {% if viewed_user|has_perms:privileges.TBManager %}
                    <span class="badge badge-primary" style="padding-bottom: 8px">{{ privileges.TBManager.value.1 }}</span>
                {% endif %}
                {% if viewed_user|has_perms:privileges.TBOperator %}
                    <span class="badge alert-success" style="padding-bottom: 8px">{{ privileges.TBOperator.value.1 }}</span>
                {% endif %}
                {% if viewed_user|has_perms:privileges.Viewer %}
                    <span class="badge alert-info" style="padding-bottom: 8px">{{ privileges.Viewer.value.1 }}</span>
                {% endif %}
                {% if viewed_user|has_perms:privileges.Testee %}
                    <span class="badge alert-inverse" style="padding-bottom: 8px">{{ privileges.Testee.value.1 }}</span>
                {% endif %}
            </li>
        </ul>

        {% if viewed_user.student %}
            <ul class="student_info1">
                <li>學號</li>
                <li>年班</li>
                <li>科系</li>
                <li>中隊</li>
            </ul>

            <ul class="student_info1_">
                <li>{{ viewed_user.student.stu_id }}</li>
                <li>{{ viewed_user.student.grade }}</li>
                <li>{{ viewed_user.student.department }}</li>
                <li>{{ viewed_user.student.squadron }}</li>
            </ul>
        {% endif %}

        <style>
            .user_info1{
                position: absolute;
                left: 30%;
                top: 1%;
            }
            .user_info1 li{
                font-size: 20px;
                list-style: none;
                line-height: 60px;
            }
            .user_info1_{
                position: absolute;
                left: 40%;
                top: 1%;
            }
            .user_info1_ li{
                list-style: none;
                line-height: 60px;
                font-size: 20px;
            }

            .student_info1{
                position: absolute;
                left: 62%;
                top: 1%;
            }
            .student_info1 li{
                font-size: 20px;
                list-style: none;
                line-height: 60px;
            }
            .student_info1_{
                position: absolute;
                left: 72%;
                top: 1%;
            }
            .student_info1_ li{
                list-style: none;
                line-height: 60px;
                font-size: 20px;
            }
        </style>

    </div>

    <div class="time-block">
        <div class="time_icon">
            <i class="fa fa-clock-o"></i>
        </div>

        <div class="time">
            <li>最近登入：<br>{{ edited_user.last_login|date:"Y年m月d日, H時i分" }}</li>
            <li style="border-top-style: solid; border-top-color: #adadad; border-top-width: 0.7px;">&nbsp;</li>
            <li>更新時間：<br>{{ edited_user.update_time|date:"Y年m月d日, H時i分" }}</li>
            <li style="border-top-style: solid; border-top-color: #adadad; border-top-width: 0.7px;">&nbsp;</li>
            <li>加入時間：<br>{{ edited_user.created_time|date:"Y年m月d日, H時i分" }}</li>
            <li style="border-top-style: solid; border-top-color: #adadad; border-top-width: 0.7px;">&nbsp;</li>
            <li>狀態：{% if edited_user.is_active %}
                    <span>active</span>
                {% elif edited_user.is_staff %}
                    <span>staff</span>
                {% elif edited_user.is_superuser %}
                    <span>superuser</span>
                {% endif %}
            </li>
        </div>

        <style>
            .time-block{
                position: absolute;
                top: 40%;
                left: 7%;
            }

            .time_icon{
                position: relative;
                top: 35px;
                left: -10px;

                width: 20px;

                font-size: 22px;
                color: #5e5e5e;
                background-color: #F3F3F3;
            }

            .time{
                color: #5e5e5e;

                border: #c0c0c0 solid 0.7px;
                padding-left: 20px;
                padding-right: 20px;
            }

            .time li{
                list-style: none;
                width: 100%;
                font-size: 14px;
                top: 85%;
            }
        </style>
    </div>

    <div class="back-btn">
        <button type="button"onclick="self.location=document.referrer;">返回</button>

        <style>
            .back-btn{
                position: absolute;
                top: 85%;
                left: 90%;
            }
        </style>
    </div>
{% endblock %}